<template>
  <v-row>
    <v-col cols="12">
      <v-data-table
        :headers="headers"
        :items="correos"
        sort-by="calories"
        class="elevation-1"
        :search="search"
      >
        <template v-slot:top>
          <v-toolbar flat color="white">
            <v-toolbar-title>Lista de correos</v-toolbar-title>
            <v-divider
              class="mx-4"
              inset
              vertical
            ></v-divider>
            <v-spacer></v-spacer>
            <v-file-input label="File input" ref="excel"></v-file-input>
            <v-spacer></v-spacer>
            <v-btn color="teal darken-2" dark @click="cargarExcel">Nuevos <v-icon right>archive</v-icon></v-btn>
            <div class="flex-grow-1"></div>
          </v-toolbar>
        </template>
        <template v-slot:no-data>
          <v-btn color="teal darken-2" dark @click="initialize">Reset</v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>
<script>
  export default {
    data: () => ({
    	correos:[],
      dialog: false,
      search: '',
      headers: [
        { text: 'Id',       align: 'left', sortable: false, value: 'id'},
        { text: 'Correo',   align: 'left', sortable: false, value: 'correo'},
        { text: 'Nombre',   align: 'left', sortable: false, value: 'nombre'},
        { text: 'Teléfono', align: 'left', sortable: false, value: 'telefono'},
        { text: 'Empresa',  align: 'left', sortable: false, value: 'empresa'},
      ],
    }),

    created () {
      this.initialize()
    },

    methods: {
    	cargarExcel(){
    		console.log(this.$refs.excel.internalArrayValue[0])
    	},

      initialize () {
        
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>