Prueba.vue<template>
<v-layout row wrap class="pa-4">
  <!-- Loader -->
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      hide-overlay
      persistent
      width="400"
      height="200"
    >
      <v-card
        color="primary"
        dark
      >
        <v-card-text>
          Se esta procesando la remesa
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
  <v-flex xs12>
    <v-toolbar flat color="white"> 
      <v-toolbar-title>Remesas</v-toolbar-title>
     
      <v-spacer></v-spacer>
 
      <!-- BOTON PROCESAR REMESA -->
      <v-btn  color="info" dark class="mb-2"
        :disabled = "disabled"
        @click="agregar">
      <v-icon left>chrome_reader_mode</v-icon>Procesar Remesa</v-btn>

    </v-toolbar>
    <v-divider class="mx-2 my-2"></v-divider>
    
    <v-layout row wrap class="my-1">

      <!-- catalogo de clientes -->
      <v-flex xs12 sm3 md3 class="mx-1" >
        <v-select
          :items="Nombre"
          item-text="Nomcli"
          v-model="Nomcli"
          append-icon="person"
          label ="Cliente"
          persistent-hint
          disabled 
        ></v-select>
      </v-flex>  

      <!--  tIPOS DE sERVICIOS -->
      <v-flex xs12 sm3 md3 class="mx-1" >
        <v-select
          :items="Nomservicios"
          item-text="Nomserv"
          v-model="Nomserv"
          append-icon="ring_volume"
          label ="Servicios"
          persistent-hint
          disabled 
        ></v-select>
      </v-flex> 

      <v-flex xs4>
        <upload-excel-component :on-success="handleSuccess" :before-upload="beforeUpload"/>
      </v-flex>
        
      <v-flex xs12>
           
        <v-card>
          <v-card-title primary-title>
            <div>
              <h5 class="headline mb-0">Remesa :  {{ numrem }}  </h5>
              <h5 class="headline mb-0">Fecha  :  {{ fenvio }}</h5>
              <h4 class="headline mb-0">Tarjetas  :  {{ tot }}</h4>
            
            </div>
          </v-card-title>

         <!--  <v-card-text>
            <div>Manuel</div>
             <v-data-table
                :headers="headers"
                :items="tableData"
                class="elevation-1"
              >
              <template v-slot:items="props">
                <td>{{ props.item.NOMBRE }}</td>
                <td class="text-xs-right">{{ props.item.ARCHIVO }}</td>
                <td class="text-xs-right">{{ props.item. }}</td>
                <td class="text-xs-right">{{ props.item.carbs }}</td>
                <td class="text-xs-right">{{ props.item.protein }}</td>
                <td class="text-xs-right">{{ props.item.iron }}</td>
              </template> 
            </v-data-table>
          </v-card-text>
   -->
          <!-- <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions> -->
        </v-card>
      </v-flex>
    </v-layout>
  </v-flex>    
</v-layout>
</template>

<script>
import UploadExcelComponent from '@/components/UploadExcel.vue'
import { mapGetters} from 'vuex'
export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent }, 
  data() {
    return {
      // loader
      dialog: false,

      disabled: false,
      loading: false,
      headers: [
        {
          text: 'REMESA',
          align: 'left',
          sortable: true,
          value: 'ARCHIVO'
        },

        { text: 'FOLIO', value: 'FOLIO' },
        { text: 'NOMBRE', value: 'NOMBRE' },
       
      ],

      tableData: [],
      tableHeader: [],
      remesa:{},
      tarjetas:[],
      numrem :'',
      fenvio:'',
      fvenc: '',
      tot: 0,
      concat2:'',

      // Selector Clientes
      Nomcli   :'',   // v-model
      Idcliente:'',   //Id - para grabar 
      Nombre   :[],   // Arreglo para mostrar
      clientes :[],   // Arreglo para watch

      // Selector Servicios 
      Nomserv      :'',   // v-model
      Idservicio  :'',   //Id - para grabar 
      Nomservicios :[],   // Arreglo para mostrar
      SERVICIOS    :[],   // Arreglo para watch
    }
  },


  methods: {

    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1
      if (isLt1M) {
        return true
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning'
      })
      return false
    },
    handleSuccess({ results, header }) {
      this.tableData = results
      this.tableHeader = header
     
      //console.log (header)
      this.numrem = (this.tableData[0]['ARCHIVO'])
      //console.log(this.numrem)


      if (this.numrem = '' )  {
        this.numrem = this.tableData[0]['REMESA']
      }

      var date  = new Date();     
      var dDate = String(date.getFullYear()) + String((date.getMonth() +1)) + String(date.getDate());
      var dDate1 = String(date.getFullYear()) +'-'+ String((date.getMonth() +1)) +'-'+ String(date.getDate());
      var myDate = new Date(new Date().getTime()+(5*24*60*60*1000));
      var dDate2 = String(myDate.getFullYear()) +'-'+ String((myDate.getMonth() +1)) +'-'+ String(myDate.getDate());
      this.fenvio = dDate1
      this.fvenc  = dDate2
      this.tot = this.tableData.length
      this.concat2 = dDate
      this.ObtenerValoresExcel(results)
      

    },

    ObtenerValoresExcel (results){
    
      // Función para Estandarizar los datos a nombres de Keys std.
      var Datos2  =  results.map(myFunction)
     
      function myFunction(value, index, array) {
        
        // Campos de Banregio. FECHA ENT BCO-MSJ
        if (value['FECHA ENT BCO-MSJ'] !==undefined ) {
          value.fingreso2 = new Date( (value['FECHA ENT BCO-MSJ'] - (25567 + 2) )*86400*1000).toISOString()
          value.fingreso3 = value.fingreso2.substring(0,10)
        }   
      
        //https://gist.github.com/christopherscott/2782634
        //new Date((excelDate - (25567 + 2))_86400_1000)

        if (value['fecha  vencimiento'] !==undefined ) {
          value.fvence1 = value['fecha  vencimiento']
          value.fvence2 = new Date( (value['fecha  vencimiento'] - (25567 + 2) )*86400*1000).toISOString()
          value.fvence3 = value.fvence2.substring(0,10)
        }   


        //console.log(value[0]['ARCHIVO'])
         //this.numrem = (this.tableData[0]['ARCHIVO'])
        // console.log(value['CALLE Y NUM'])
        if (value['CALLE Y NUM'] !=='' ) {
          value.calle = value['CALLE Y NUM']
        }   
        
        if (value['Calle'] !=='' ) {
          value.calle = value['Calle']
        }   

        if (value['#'] !=='' ) {
          value.numext = value['#'].toString().trim()
        } 


        if (value.COLONIA !==undefined  ) {
          value.colonia = value.COLONIA.toString()
          //substring(0, 49);
         }
        

        if (value.Colonia !==undefined  ) {
          value.colonia = value.Colonia.toString()
          //substring(0, 49);
         }


        if (value.MUNICIPIO !=='' ) {
          value.ciudad = value.MUNICIPIO
         }
        
        if (value.CIUDAD !=='' ) {
          value.ciudad = value.CIUDAD
         }
        

        
        if (value['TELEFONO 1'] !==undefined ) {
          value.tel1 = value['TELEFONO 1'].toString()
        } else { value.tel1 = ''}

        if (value['TEL 1'] !==undefined ) {
          value.tel1 = value['TEL 1'].toString()
        } else { value.tel1 = ''}



        
        if (value['TELEFONO 2'] !==undefined ) {
          value.tel2 = value['TELEFONO 2'].toString()
        } else { value.tel2 = ''}
        
        if (value['TEL2'] !==undefined ) {
          value.tel2 = value['TEL2'].toString()
        } else { value.tel2 = ''}



        if (value['TELEFONO 3'] !==undefined ) {
          value.tel3 = value['TELEFONO 3']
        } else { value.tel3 = ''}

        if (value['TEL3'] !==undefined ) {
          value.tel3 = value['TEL3'].toString()
        } else { value.tel3 = ''}


        if (value['C. P.'] !==undefined ) {
          value.cp = value['C. P.'].toString()
        } else { value.cp = ''}

       

        if (value.FOLIO !=='' ) {
          value.numcli = value.FOLIO
        }
       
        if (value.Cliente !=='' ) {
          value.numcli = value.Cliente
        }
       


        if (value['ID ENVIO'] !==undefined ) {
          value.idenvio = value['ID ENVIO'].toString()
        } else { value.idenvio = ''}
        
        //// DATOS PREGUIA
        if (value.NOMBRE !=='' ) {
          value.nomcli = value.NOMBRE
        }
      
        if (value['SUCURSAL'] !==undefined ) {
          value.sucursal = value['SUCURSAL'].toString().substring(0, 19)
        } else { value.sucursal = ''}



        if (value.ARCHIVO!=='' ) {
          value.numrem = value.ARCHIVO
        }

        // Numrem  Banregio
        if (value.REMESA !=='' ) {
          value.numrem = value.REMESA

        }

       
        if (value.ESTADO !=='' ) {
          value.estado = value.ESTADO
        }
        
        if (value.Entidad !=='' ) {
          value.estado = value.Entidad
         }

        if (value.email !== "" ) {

          value.email = value.email

         }else{
          value.email = ''

         }


        if (value['COD BARRAS2'] !==undefined ) {
          value.codigo = value['COD BARRAS2'].toString()
        } else {
          value.codigo = "No identificado"
        }


        if (value['TIPO DE T'] !==undefined ) {
          value.tipotarjeta = value['TIPO DE T'].toString()
        } else {
          value.tipotarjeta = "No identificado"
        }


        //iD DE sUC BanRegio
        if (value['idsucbr'] !== " " ) {
          value.idsucbr = value['idsucbr'].toString().substring(0, 9)
          console.log('idsucbr', value.idsucbr)
        } else { value.idsucbr = ''
          console.log('idsuc esta vacio')

        }


        //Tipo Entrega en BanRegio
        if (value['TipoEnt'] !==undefined ) {
          value.tipoent = value['TipoEnt'].toString()
        } else { value.tipoent = ''}
       

       // value.tipotarjeta= "No identificado"
        value.lugarenvio = "No identificado"
        

        return value 
      }
      // console.log(Datos2)
      this.tableData = Datos2
      console.log (this.tableData)

      //Actualizar numrem
      this.numrem = Datos2[0].numrem   
    },

    agregar(){
      //loader 
      this.dialog = true
      this.disebled = true
      this.loading  = true

      //console.log('idcliente', this.idcliente)
      //console.log('idservicio', this.idservicio)
      //Preparar Remesa
      var remesa =    {
        "numrem":   this.numrem,
        "fingreso": this.fenvio,
        "fvenc":    this.fvenc,
        "fenvio":   this.fenvio,
        "status":   0, 
        "na":       this.tot,
        "asig":     0,
        "di":       0,
        "dr":       0,
        "tot":      this.tot,
        "numuser":   parseInt(this.getdatosUsuario.idusuariosweb),
        "idcliente": parseInt(this.getdatosUsuario.Idcliente),
        "idservicio": 21,
        "concat2":  this.concat2, 
        "tarjetas": this.tableData 
      }
  
      //console.log(remesa)  
      //console.log (remesa.tarjetas)
      // GRABAR REMESA Y TARJETAS
      this.$http.post('api/v1/remesas', remesa)
        .then(respuesta => {
        return respuesta.data
      })
      .then(data => { 
        console.log (parseInt(data[0].ID))  
        //mandar grabar

        this.$http.post('api/v1/getcantxestado', {idremesa : parseInt(data[0].ID)})
          .then(respuesta => {
           // console.log('Remesas por estados', respuesta.bodyText)
          })

        this.loading = false
        this.$router.push({ name: 'catremesas' })
      })
      .catch(err => {
        if (err.status==401){
              this.error="No es un email válido";
          } else if (err.status==404 || err.status== 403 ){
              this.error="No existe el usuario o sus datos son incorrectos";
          }else if (err.status== 500){  
              this.error="Ocurrió un error";
          }
      })
      

      // CONSULTAR REMXPLAZA de tabla de tarjetas Y mandar Procesar.

    },
  }
}
</script>