<template>
  <v-container fluid class="grey lighten-5">
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-title primary-title class="pb-0">
            <v-col cols="12" md="2" class="pb-0">
              <v-menu
                v-model="menu1"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
                >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date1"
                    label="Fecha Inicial"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date1" @input="menu1 = false"></v-date-picker>
              </v-menu>
            </v-col>

            <v-col cols="12" md="2" class="pb-0">
              <!-- FECHA FINAL -->
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                :nudge-right="40"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="date2"
                    label="Fecha Final"
                    prepend-icon="event"
                    readonly
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker v-model="date2" @input="menu2 = false"> 
                </v-date-picker>
              </v-menu>
            </v-col>
            
            <v-col cols ="12" md="2" class="pb-0">
              <v-select dense
                :items="tipodoc"
                label="Tipo"
                v-model="tiposel">
              </v-select>
            </v-col>

            <v-col class="text-center pb-0" cols="12" sm="3" >
              <v-card-actions>
                <!-- CONSULTAR -->
                <v-btn class="ma-1" @click="consultar" small dark color="blue darken-3"><v-icon>search</v-icon></v-btn> 

                <!-- BOTON EXCEL -->
                <v-btn 
                  class="ma-2" 
                  small dark color="warning"
                  @click="exportar()">
                  <v-icon>save_alt</v-icon>
                </v-btn>

                <!-- BOTON PDF -->
                <v-btn 
                  class="ma-2" 
                  small color="secondary"
                  @click="crearPDF()">
                  <v-icon>print</v-icon>
                </v-btn> 
              </v-card-actions>
            </v-col>
          </v-card-title>
          <v-card-text>
            <v-col cols ="12" class="pt-0">
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar "
                single-line
                hide-details
                class="pt-0"
              ></v-text-field>
            </v-col>
            <v-data-table
              :loading="loading" 
              :headers="headers"
              :items="Docum"
              :search="search"
              :server-items-length="Docum.length"
              class="elevation-1"
              fixed-header
              height="440"
              hide-default-footer
              loading-text="Cargando..."
              
              >
              <template v-slot:item="{ item }" >
               <tr v-on:dblclick="edit(item.Iddocum)">
                 <td>{{ item.Numdoc}}</td>
                 <td>{{ item.nomcli}}</td>
                 <td>{{ item.Tipodoc}}</td>
                 <td>{{ item.Fecha}}</td>
                 <td>{{ item.importe}}</td>
                 <td>{{ item.divisa}}</td>
                 <td>{{ item.Numvend}}</td>
                 <td>{{ item.Numalm}}</td>
               </tr>
             </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>    
  </v-container>  
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';
  var base64 = require('base-64');

  export default {
    mixins:[excelMixin],

    data () {
      return {
        //FECHAS
        date1: new Date().toISOString().substr(0, 10),
        date2: new Date().toISOString().substr(0, 10),
        
        menu1: false,
        menu2: false,


        // SELECTOR TIPODOC
        tipodoc: ['Pedidos', 'Cotizaciones'],
        tiposel:'Pedidos',  

        loading: true,
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        search: '',
        headers: [
          { text: 'ID doc', align: 'left',sortable: false, value: 'Numdoc' },
          { text: 'Nombre' ,   value: 'nomcli' },
          { text: 'Tipo',      value: 'Tipodoc' },
          { text: 'Fecha',     value: 'Fecha' },
          { text: 'Total',     value: 'importe' },
          { text: 'Divisa',    value: 'divisa' },
          { text: 'Vendedor',  value: 'Numvend' },
          { text: 'Almacen' ,  value: 'Numalm' },
      
        ],

        Docum: [{}]
      }
    },

    watch:{
      tiposel(){
        this.consultar()
      },

      date1(){
        this.consultar()
      },

      date2(){
        this.consultar()
      }
    },


    created () {
      // Definir valores iniciales 
      // Fecha inicial Primero de mes.
      let date0 = new Date()
      let mes = date0.getMonth()
      let anio = date0.getFullYear()
            
      // console.log(mes, anio)
      this.date1 = new Date(anio, mes-2, 1).toISOString().substr(0, 10)
        this.consultar()
    },

    methods:{
      // EXCEL
      exportar(){
        let xls = {
          data:      this.Docum,
          tHeaders : ['ID doc', 'Nombre', 'Tipo', 'Fecha', 'Total', 'Divisa', 'Vendedor', 'Almacen'],
          filterVal: ['Numdoc', 'nomcli', 'Tipodoc', 'Fecha', 'importe', 'divisa', 'Numvend', 'Numalm'],
          nomfile :  "Consulta de Documentos"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF
      crearPDF() {
        var columns = [

            { title: 'ID doc',    dataKey: 'Numdoc' },
            { title: 'Nombre' ,   dataKey: 'nomcli' },
            { title: 'Tipo',      dataKey: 'Tipodoc' },
            { title: 'Fecha',     dataKey: 'Fecha' },
            { title: 'Total',     dataKey: 'importe' },
            { title: 'Divisa',    dataKey: 'divisa' },
            { title: 'Vendedor',  dataKey: 'Numvend' },
            { title: 'Almacen' ,  dataKey: 'Numalm' },
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.Docum, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              6: {cellWidth: 'auto'},
              7: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Documentos", 40, 30);
          }
        });
        doc.save('Documentos.pdf');
      },

      consultar(){
        this.Docum = [{}]
        var payload = {numvend: '', numcli: this.getdatosUsuario.numcli, fechaini: this.date1, fechafin: this.date2, tipodoc: this.tipodoc}
        if(this.tiposel == 'Pedidos'){
          payload.tipodoc = ' P'
        }else{
          payload.tipodoc = ' Q'
        }

        this.loading = true
        console.log(payload)
        this.$http.post('auth/api/v1/cotizabynumcli2',payload).then(response => {
          console.log(response.body)
          if(response.body == 'null'){
            this.Docum = []
          }else{
            this.Docum = response.body
          }
        }).catch(function(error){
          console.log(error)
        }).finally(()  => this.loading = false)


        // this.Docum = [{}]
        // console.log(this.tiposel)
        // this.loading = true
        
        // if (this.tiposel=="Pedidos") {
        //   this.$http.get('api/v1/pedidos.list').then( response => {
        //     console.log('response', response.body)
        //     this.Docum = response.body
        //   }).catch(function(error){
        //     console.log(error)
        //   }).finally(()  => this.loading = false) 
        // } else {
        //   this.$http.get('api/v1/cotiza.list').then( response => {
        //     // console.log('response', response.body)
        //     this.Docum = response.body
        //   }).catch(function(error){
        //     console.log(error)
        //   }).finally(()  => this.loading = false)
        // }

      },

      edit(tipodoc){
        // console.log(tipodoc)
        var encodedData = base64.encode(tipodoc);
        this.$router.push({name:'documento', params: {tipodoc: encodedData}})
      }
    },

    computed: {
      ...mapGetters('Login',['getdatosUsuario','getClientes','getCliente','getCIA','getModo']),

    },
  };
</script>