<template>
	<v-container grid-list-xl fill-height ref="layout">
	  <v-layout  justify-center >
	  	<v-snackbar
        v-model="snackbar"
        :timeout="8000"
        top
        color="orange" dark
      >
        {{msg}}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Close
        </v-btn>
      </v-snackbar>
	  	<v-flex xl10 xs12>
		  	<v-card >
		  		<v-card-text>
			  		<v-layout row >	 
			  		  <!-- Imageb y botones de pagar, cotizar e imprimir -->
					  	<v-flex xs12 sm12 md12 lg12 xl12>
					  		<v-card class="elevation-0 transparent" align="left">
					  		  <v-layout row wrap>
					  		    <v-flex xl6 lg6 md6 sm6 xs12>
					  		  		<v-img src="https://www.tiendaenlinea.pro/redleaf/img/redleaf_mini.png" alt="alt"  width="200"/>
					  		    </v-flex>
					  		    <v-flex xl6 lg6 md6 sm6 xs12>
					  		    	<v-card-actions >
								  		  <v-btn color="success" :to="{name:'factura'}">Pagar</v-btn>
										    <v-btn color="amber darken-3" dark @click="order">Cotizar</v-btn>
										    <v-btn color="grey" value="Print this page" @click="print"><v-icon color="white" >print</v-icon></v-btn>
					  		    	</v-card-actions>
					  		    </v-flex>
					  		  </v-layout>
					  		</v-card>
					  	</v-flex>
					  	<!-- Datos del cliente -->
					  	<v-flex xl6 lg6 md6 sm6 xs12>
					  		<v-card outlined>
					  			<v-card-title primary-title>
					  				<v-list-item-subtitle>Datos del Cliente</v-list-item-subtitle>
					  			</v-card-title>
					  		  <v-card-text>
					  		    <div class="text-xs-left "><strong>Nombre: </strong>{{ CargaCliente.nomcli }}</div>
					  		    <div class="text-xs-left "><strong>RFC: </strong>{{ CargaCliente.Rfc }}</div>
					  		    <div class="text-xs-left "><strong>Teléfono: </strong>{{ CargaCliente.telefono }}</div>
					  		    <div class="text-xs-left "><strong>Correo: </strong>{{ CargaCliente.email1 }}</div>
					  		  </v-card-text>
					  		</v-card>
					  	</v-flex>
					  	<!-- Datos generales -->
					  	<v-flex xl6 lg6 md6 sm6 xs12>
				  			<v-card outlined>
					  			<v-card-title primary-title>
					  				<v-list-item-subtitle>Datos Generales</v-list-item-subtitle>
					  			</v-card-title>
					  		  <v-card-text>
					  		    <div class="text-xs-left "><strong>Folio: </strong>WMP03</div>
					  		    <div class="text-xs-left "><strong>Fecha: </strong>{{ fecha }}</div>
					  		    <div class="text-xs-left "><strong>Tipo Doc: </strong>Cotización</div>
					  		    <div class="text-xs-left "><strong>Divisa: </strong>P</div>
					  		  </v-card-text>
					  		</v-card>
					  	</v-flex>

					  	<v-flex xl6 lg6 md6 sm6 xs12>
				  			<v-card class="elevation-0">
				  				<v-card-text>
					  				<v-radio-group v-model="radios" :mandatory="false" >
								      <v-radio label="Recoger en tienda" value="radio-1" color="primary"></v-radio>
								      <v-radio label="Envío a domicilio" value="radio-2" color="primary"></v-radio>
							      </v-radio-group>
					  		  </v-card-text>
					  		</v-card>
					  	</v-flex>

					  	<v-flex xl6 sm6 md6 lg6 xs12>
							  <v-layout justify-end row wrap>
							    <v-flex xl6 lg6 md8 sm8 xs12>
							    	<v-card outlined>
							    		<v-layout row wrap>
							    		  <v-flex xs6>
							    		  	<v-card class="transparent elevation-0">
							    		  	  <v-card-text>
									    		    <div class="text-xs-left "><h3><strong>Subtotal:</strong></h3></div>
									    		    <div class="text-xs-left "><h3><strong>Iva:</strong></h3></div>
									    		    <div class="text-xs-left "><h3><strong>Total:</strong></h3></div>
							    		  	  </v-card-text>
							    		  	</v-card>
							    		  </v-flex>
							    		  <v-flex xs6>
							    		    <v-card class="transparent elevation-0">
							    		  	  <v-card-text align="right">
									    		    <div class="text-xs-left "><h3><strong>{{ subtotal}}</strong></h3></div>
									    		    <div class="text-xs-left "><h3><strong>{{ iva}}</strong></h3></div>
									    		    <div class="text-xs-left "><h3><strong>{{ total }}</strong></h3></div>
							    		  	  </v-card-text>
							    		  	</v-card>
							    		  </v-flex>
							    		</v-layout>
							  		</v-card>
							    </v-flex>
							  </v-layout>
					  	</v-flex>
						 	<v-flex xs12 class="pa-2">
						 		<v-divider></v-divider> 
							  <template>
						    	<v-data-table
						      	:headers="headers"
						      	:items="getCarrito"
						      	fixed-header
                		height="350"
                		class="elevation-1 pa-0 text-xs-center"
						      	hide-default-footer
						    	>
						    		<template v-slot:item.actions="{ item }">
								     <th>
								     	<v-icon @click="add(item)" color="success">add</v-icon>
								     	<v-icon @click="remove(item)" color="red">remove</v-icon>
								     </th>
								    </template>
						    		<template v-slot:item.img="{ item }">
								      <img :src="item.img" width="100" height="100">
								    </template>
										<template v-slot:item.pre="{ item }" >
								    </template>
							      <template v-slot:no-data>
							        <v-alert type="error" :value="true" class="mt-2">
							        	No hay articulos en tu carrito
							        </v-alert>
							      </template>
							    </v-data-table>
								</template>
						 	</v-flex>
			  		</v-layout>
		  		</v-card-text>
		  	</v-card>
	  	</v-flex>
	  </v-layout>	
  </v-container>	
</template>

<script>
	import {mapGetters, mapActions} from 'vuex'
	import * as jsPDF from 'jspdf'
	var accounting = require("accounting");

	export default{
		data(){
			return{
				CargaCliente: [],
				msg:'',
				snackbar: false,
				subtotal: 0,
				iva: 0,
				total:0,
				Movim:[],
				radios: 'radio-1',
				fecha: new Date().toISOString().substr(0, 10),
	      headers: [
	        { text: ''			,align: 'center', value: 'actions',     sortable: false },
	        { text: 'Clave'			  ,align: 'center', value: 'clave'	,   sortable: false },
	        { text: 'Foto'			  ,align: 'center', value: 'img'	,     sortable: false },
	        { text: 'Descripción' ,align: 'center', value: 'details',   sortable: false },
	        { text: 'Cantidad'	  ,align: 'center', value: 'cantidad',  sortable: false },
	        { text: 'Precio'		  ,align: 'center', value: 'precio'  ,  sortable: false },
	        { text: 'Importe'		  ,align: 'center', value: 'importe'  , sortable: false },
	        { text: 'Descuento'	  ,align: 'center', value: 'pjedesc',   sortable: false },
	        // { text: 'Iva'	        ,align: 'center', value: 'iva', sortable: false },
	        { text: 'Total'			  ,align: 'center', value: 'total',     sortable: false }
	      ],
			}
		},

		watch:{
			getCarrito: function(){
				this.crearArreglo()
			}
		},

		computed: {
      ...mapGetters('carrito',['getCarrito','getTC']),
      ...mapGetters('Login',['getdatosUsuario','getClientes','getCliente']),
    },

    created () {
    	if(this.$store.state.Login.cliente != ''){
    		this.CargaCliente = this.getCliente
    		console.log('si hay un cliente', this.CargaCliente)
    		console.log('si hay un cliente store', this.$store.state.Login.cliente)
    	}else if(this.$store.state.Login.clientes != ''){
    		this.CargaCliente =  this.getClientes[0]
    	}

      if(this.getdatosUsuario == ''){
      	this.msg = 'Inicia sesión para grabar tus datos'
    		this.snackbar = true
      }
      console.log('this.CargaCliente',this.getCliente)
    	this.crearArreglo()
    	// console.log(this.getClientes)
    },

    methods: {
      ...mapActions('carrito',['limpiarCarrito']),
    	order(){
    		var accounting = require("accounting");
    		if(this.getdatosUsuario == ''){
	      	this.msg = 'Inicia sesión para grabar tus datos'
	    		this.snackbar = true
	      }else{
	    		var  movin_array = []
	    		for (var i = this.getCarrito.length - 1; i >= 0; i--) {
	    			movin_array.push({
		    			tipodoc: 		' Q',
		    			numdoc: 		'',
		    			numpar: 		(this.getCarrito.length - (i)).toString() ,
		    			numart: 		this.getCarrito[i].clave,
		    			precio: 		accounting.unformat(this.getCarrito[i].precio).toString(),
		    			cant: 			this.getCarrito[i].cantidad,
		    			pend: 			this.getCarrito[i].cantidad,
		    			impuesto1: 	16,
		    			impuesto2: 	0,
		    			unidad: 		this.getCarrito[i].unidad,
		    			docart: 		'',
		    			obs:    		'',
		    			pjedesc:    0.00,
		    			peso:       0.00
	    			})
	    		}

	    		var docum = {
	    			fecha: new Date().toISOString().substr(0, 10),
	    			fechapago: new Date().toISOString().substr(0, 10),
	    			numcli:'Demo',
	    			numuser:'',
	    			tc: this.getTC,
	    			numalm:'3',
	    			divisa:'P',
	    			formapago: 1,
	    			refer:'',
	    			numvend:'18',
	    			tipodoc:' Q',
	    			numdoc:'',
	    			importe: parseInt(this.subtotal), 
	    			descuento: 0.00,
	    			impuesto1: parseInt(this.iva),
	    			impuesto2: 0.00,
		    		movim: movin_array,
		    		obs: '',
		    		hora: this.hora(),
		    		direnvio:''
		    	}
		    	this.msg = 'Cotización exitosa'
	    		this.snackbar = true

	        this.$http.post('api/v1/order.add', docum).then(response=>{
	        	console.log(response.body.replace(/"/gi, "").trim())
	          var value = []
	          this.limpiarCarrito(value)
	        	this.enviarCorreo(response.body.replace(/"/gi, "").trim())
	        	
	        }).catch(function(error){
	          console.log(error)
	        })
	      }
    	},

    	hora(){
				//Creamos una variable de tipo fecha la cual trae fecha y hora
        var f =new Date();
        //Sacamos la hora, minuto sy segundos y las guaardamos en variables
      	var hora = f.getHours()
      	var minuto = f.getMinutes()
      	var segundo = f.getSeconds()   
      	//Verificamos que si es menor a 10 le agregamos un 0 al principio
      	//Formato original 4:6:2, formato final 04:06:02
        if(hora < 10){
          hora = "0" + f.getHours()
        }
       
        if(minuto < 10){
          minuto = "0" + f.getMinutes() 
        }

        if(segundo < 10){
          segundo = "0" + f.getSeconds()
        }
        //Se retorna un objeto ya contruido
        return hora + ":" + minuto + ":" + segundo
			},

			add(articulo){
    		for (var i = this.getCarrito.length - 1; i >= 0; i--) {
    			if(this.getCarrito[i].clave == articulo.clave){
    				this.getCarrito[i].cantidad = this.getCarrito[i].cantidad + 1
    			}
    		}

    		var sum = 0
    		for (var j = this.getCarrito.length - 1; j >= 0; j--) {
    			sum = sum + this.getCarrito[j].cantidad * this.getCarrito[j].precio
    		}
  			this.crearArreglo()
    	},

    	remove(articulo){
    		for (var i = this.getCarrito.length - 1; i >= 0; i--) {
    			if(this.getCarrito[i].clave == articulo.clave){
    				this.getCarrito[i].cantidad = this.getCarrito[i].cantidad - 1
    				if(this.getCarrito[i].cantidad == 0 ){
    					this.getCarrito.splice(i, 1)
    				}
    			}
    		}

    		var sum = 0
    		for (var j = this.getCarrito.length - 1; j >= 0; j--) {
    			sum = sum + this.getCarrito[j].cantidad * this.getCarrito[j].precio
    		}
  			this.crearArreglo()
    	},

    	crearArreglo(){
	      var accounting = require("accounting");

    		for (var i = this.getCarrito.length - 1; i >= 0; i--) {
    			this.getCarrito[i].importe = accounting.unformat(this.getCarrito[i].precio)
	    		this.getCarrito[i].precio = accounting.unformat(this.getCarrito[i].precio)
    		}
    		
    		this.total = 0
	    	this.total = 0
	    	this.iva = 0
	    	this.subtotal = 0

	    	var accounting = require("accounting");
	    	for (var i = this.getCarrito.length - 1; i >= 0; i--) {
	    		

	    		//checamos que el producto tenga un descuento y se lo aplicamos
	    		if(this.getCarrito[i].pjedesc !== 0){
	    			//Se aplica el descuento
	    			var desc = 1 - (parseFloat(this.getCarrito[i].pjedesc) / 100) 
	    			this.subtotal = this.subtotal + (this.getCarrito[i].precio * this.getCarrito[i].cantidad  * desc)
	    		}else{
	    			//No se aplica el descuento
	    			this.subtotal = this.subtotal + (this.getCarrito[i].precio * this.getCarrito[i].cantidad)
	    		}

	    		//calcular el iva y el total del producto
	    		//si tiene impuesto
	    		if(this.getCarrito[i].impuesto !== 0){
	    			//si tienes descuento
	    			if(this.getCarrito[i].pjedesc !== 0){
	    				//se aplica el descuento
	    				var desc = 1 - (parseFloat(this.getCarrito[i].pjedesc) / 100)
	    				//se aplica el impuesto
	    				var ivaiva =  (this.getCarrito[i].impuesto / 100)
	    				var ivaarticulo = 1 + (this.getCarrito[i].impuesto / 100)
	    				//y ahora si se aplica primero al articulo el descuento y luego el impuesto
	    				this.iva = this.iva + (this.getCarrito[i].precio * this.getCarrito[i].cantidad) * desc * ivaiva
	    				this.getCarrito[i].total = (this.getCarrito[i].precio * this.getCarrito[i].cantidad) * desc * ivaarticulo
	    				this.getCarrito[i].iva = (this.getCarrito[i].precio * this.getCarrito[i].cantidad) * ivaiva
	    				//Formato
				    	this.getCarrito[i].total = accounting.formatNumber(this.getCarrito[i].total, 2)
				    	this.getCarrito[i].iva = accounting.formatNumber(this.getCarrito[i].iva, 2)

	    			}else{
	    				//en caso de que no tenga descuento
	    				var ivaiva =  (this.getCarrito[i].impuesto / 100)
	    				var ivaarticulo = 1 + (this.getCarrito[i].impuesto / 100)
	    				this.iva = this.iva + (this.getCarrito[i].precio * this.getCarrito[i].cantidad) * ivaiva
	    				this.getCarrito[i].total = (this.getCarrito[i].precio * this.getCarrito[i].cantidad)  * ivaarticulo
	    				this.getCarrito[i].iva = (this.getCarrito[i].precio * this.getCarrito[i].cantidad) * ivaiva
				    	//Formato		
				    	this.getCarrito[i].total = accounting.formatNumber(this.getCarrito[i].total, 2)
				    	this.getCarrito[i].iva = accounting.formatNumber(this.getCarrito[i].iva, 2)

	    			}
	    		}else{
	    			//en caso de que no tenga impuesto
	    			if(this.getCarrito[i].pjedesc !== 0){
	    				//se aplica el descuento
	    				var desc = 1 - (parseFloat(this.getCarrito[i].pjedesc) / 100)
	    				this.getCarrito[i].total = (this.getCarrito[i].precio * this.getCarrito[i].cantidad) * desc 
	    			}
	    			this.getCarrito[i].total = (this.getCarrito[i].precio * this.getCarrito[i].cantidad)
	    			//Formato
	    			this.getCarrito[i].total = accounting.formatNumber(this.getCarrito[i].total, 2)
	    		}

	    		this.getCarrito[i].total = accounting.formatNumber(this.getCarrito[i].total, 2)
	    		this.getCarrito[i].importe = accounting.formatNumber((this.getCarrito[i].precio * this.getCarrito[i].cantidad), 2)
	    		this.getCarrito[i].precio = accounting.formatNumber(this.getCarrito[i].precio, 2)

	    		this.Movim.push(this.getCarrito[i])
	    	}
	    	this.total = this.iva + this.subtotal
	    	this.total = accounting.formatNumber(this.total, 2)
	    	this.iva = accounting.formatNumber(this.iva, 2)
	    	this.subtotal = accounting.formatNumber(this.subtotal, 2)
    		
    	},


    	enviarCorreo(param){
    		var domicilio = this.CargaCliente.Pais + ', ' + this.CargaCliente.Estado  + ', ' + this.CargaCliente.Ciudad  + ', ' + this.CargaCliente.Calle + ', ' +  this.CargaCliente.Numext
    		var payload= {
    			email: this.getdatosUsuario.Email,
					subject: "Solicitud de cotización",
					info1: "¡Aviso de Cotización!",
					folio: param,
					info3: "Se ha solicitado una cotización con el folio: ",
					nombre: this.CargaCliente.nomcli,
					direccion: domicilio,
					fecha: this.fecha,
					telefono: this.CargaCliente.telefono,
					divisa: "MXN",
					rfc: this.CargaCliente.Rfc,
					subtotal: this.subtotal,
					iva: this.iva,
					total: this.total,
					c2a_link: "http://redleaf.pro/solcotiza/" + param,
					hora: this.hora()
    		}


    		// Enviar el correo
    		this.$http.post('auth/api/v1/sendcot', payload).then(response=>{
    			console.log('correo enviado')
    			console.log(response)
    			this.$router.push({name: 'catart'})
    		})
    	},

    	print(){
    		const { createCanvas, loadImage } = require('canvas')
    		var doc = new jsPDF();  
    		console.log(this.$refs.layout.innerHTML)
    		console.log(this.$refs.layout)
    		var source = this.$refs.layout.innerHTML
				var canvas = source
				var dataURL = canvas.toDataURL();
				console.log(dataURL);

				  var f = source // FileList object
				  // var reader = new FileReader();
				  // // Closure to capture the file information.
				  // reader.onload = (function(theFile) {
				  //   return function(e) {
				  //     var binaryData = e.target.result;
				  //     //Converting Binary Data to base 64
				  //     var base64String = window.btoa(binaryData);
				  //     //showing file converted to base64
				  //     document.getElementById('base64').value = base64String;
				  //     alert('File converted to base64 successfuly!\nCheck in Textarea');
				  //   };
				  // })(f);
				  // // Read in the image file as a data URL.
				  // reader.readAsBinaryString(f);
    		
	    },

    }
  }
</script>

