<template>
	<v-container grid-list-xl fill-height>
	  <v-layout  justify-center  >
	  	<v-flex xl10 xs12 >
		  	<v-card >
		  		<v-card-text>
			  		<v-layout justify-center row fill-height >	  
					  	<v-flex xs6 >
					  	  <v-layout align-start justify-center row fill-height>
					  	    <v-flex xs12>
					  	      <img src="logomd3.png" alt="alt" max-height="140" width="140" align="center">
					  	    </v-flex>
					  	    <v-flex xs12>
										<v-list-item class="derecha">
			                <v-list-item-title class="subtitulos">Sait MD3 </v-list-item-title>
			              </v-list-item>
										<v-list-item class="derecha">
			                <v-list-item-title class="subtitulos">Teléfono: </v-list-item-title>
			                <v-list-item-title> 8121058094</v-list-item-title>
			              </v-list-item>
										<v-list-item class="derecha">
			                <v-list-item-title class="subtitulos">Sitio: </v-list-item-title>
			                <v-list-item-title> ******** </v-list-item-title>
			              </v-list-item>
					  	      <v-list-item class="derecha">
			                <v-list-item-title class="subtitulos">Correo: </v-list-item-title>
			                <v-list-item-title> eduardo.hernandez.md3@gmail.com</v-list-item-title>
			              </v-list-item>
					  	    </v-flex>
					  	  </v-layout>
					  	</v-flex>
					  	<v-flex xs6 >
					  	  <v-layout align-start justify-center row fill-height>
							    <v-flex xs12>
							    	<v-list-item class="derecha">
			                <v-radio-group v-model="radios" :mandatory="false" >
									      <v-radio label="Recoger en tienda" value="radio-1" color="primary"></v-radio>
									      <v-radio label="Envío a domicilio" value="radio-2" color="primary"></v-radio>
								      </v-radio-group>
								      <v-spacer></v-spacer>
								      <v-btn color="success" :to="{name: 'factura'}">Pagar</v-btn>
									    <v-btn color="amber darken-3" dark :to="{name: 'factura'}">Cotizar</v-btn>
			              </v-list-item>
								  </v-flex>
								  
								  <v-layout justify-end row wrap>
								    <v-flex xs12>
								    	<v-divider></v-divider>
								      <div class="text-xs-right"><h3>Subtotal: $</h3></div>
								      <div class="text-xs-right"><h3>Iva: $</h3></div>
								      <div class="text-xs-right"><h3>Total: $</h3></div>
								    </v-flex>
								  </v-layout>
					  	  </v-layout>
					  	</v-flex>
						 	<v-flex xs12 class="pa-2">

						 		<v-divider></v-divider> 
							  <template>
						    	<v-data-table
						      	:headers="headers"
						      	:items="desserts"
						      	class="elevation-1 pa-0 text-xs-center"
						      	hide-default-footer
						    	>
							      <template v-slot:no-data>
							        <v-btn color="primary" @click="initialize">Reset</v-btn>
							      </template>
							    </v-data-table>
							    
								</template>
						 	</v-flex>
			  		</v-layout>
		  		</v-card-text>
		  	</v-card>
	  	</v-flex>
	  </v-layout>	
  </v-container>	
</template>

<script>
	export default{
		data(){
			return{
				radios: 'radio-1',
				dialog: false,
      headers: [
        { text: 'Actions',align: 'center', value: 'name', sortable: false },
        { text: 'Clave',align: 'center', value: 'name', sortable: false },
        { text: 'Descripción',align: 'center', value: 'calories', sortable: false },
        { text: 'Cantidad',align: 'center', value: 'fat', sortable: false },
        { text: 'Precio',align: 'center', value: 'carbs', sortable: false },
        { text: 'Descuento',align: 'center', value: 'protein', sortable: false },
        { text: 'Total',align: 'center', value: 'protein', sortable: false }
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      },
      defaultItem: {
        name: '',
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0
      }
			}
		},
		computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        this.desserts = [
          {
            name: 'Frozen Yogurt',
            calories: 159,
            fat: 'PIZ. INTERACT. IPBOARD JL-9000DN-85, DUAL 185X138 CMS, 78" A',
            carbs: 24,
            protein: 4.0
          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3
          },
        ]
      },
    }
};
</script>

<style scoped>
div.v-card.v-sheet.theme--light{
	min-width: 1000px;
}
label{
	font-size: 14px !important;
}
th{
	text-align: center !important;
  width:10% !important;
}
td{
	text-align: center !important;
	padding: 0px !important;
	width:10% !important;
}

.descripcion{
	width:25% !important;
}

div .v-list__tile.theme--light{
  font-size: 15px;
}
.precio{
  font-weight: bold;
  font-size: 35px;
}
div.container.grid-list-md{
  min-width: 850px;
}

.subtitulos{
  font-size: 18px;
  font-weight: bold;
}

div.v-list__tile__content.subtitulos{
  margin: 0px;
  padding: 0px;
}
button.v-btn.v-btn{
	width: 25px;
	height: 25px;
}
</style>