<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row no-gutters>
          <v-col class="d-flex" cols="12">
            <v-toolbar src="@/assets/fondo.jpg" dark>
              <v-toolbar-title>Editar Artículo</v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'noveydes'}" 
                dark>Atras
              </v-btn>

              <!-- BTN GUARDAR -->
              <v-btn   
              class="ma-2" 
                @click.prevent="agregar"
                color="blue darken-3">Grabar
              </v-btn>
            </v-toolbar>
          </v-col>
        </v-row>
             
        <!-- ENCABEZADOS -->
        <v-row >
          <v-col  cols="4" sm="3">
            <v-text-field
              readonly
              label="Clave"
              v-model="Numart"
              validate-on-blur
              class="pa-0"  
              shaped outlined hide-details 
            ></v-text-field>
          </v-col>

          <v-col cols="8" sm="6">
            <v-text-field
              readonly
              label="Descripción"
              v-model="Descrip"
              class="pa-0"
              shaped   outlined  auto-grow hide-details 
            ></v-text-field>
          </v-col>

          <v-col cols="4" sm="3" class="pt-0">
          	<v-switch
  			      v-model="Destacado"
  			      label="Destacado"
  			      class="pb-0 pt-0"
  			      hide-details
  			    ></v-switch>
  			    <v-switch
  			      v-model="Novedad"
  			      label="Novedad"
  			      class="pb-0 pt-0"
  			      hide-details
  			    ></v-switch>
          </v-col>
        </v-row>

        <v-stepper v-model="e1">
          <v-stepper-header >
            <v-stepper-step step="1" color="secondary" @click="e1 = 1">Precios</v-stepper-step>
            <v-stepper-step step="2" color="secondary" @click="e1 = 2">Observaciones</v-stepper-step>
            <v-stepper-step step="3" color="secondary" @click="e1 = 3">Imagenes</v-stepper-step>
            <v-stepper-step step="4" color="secondary" @click="e1 = 4">Pdf's</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <!-- PRECIOS -->
            <v-stepper-content step="1">
              <v-card 
              class="mb-1" 
              height="auto">  
                <!-- Col1 -->
                <v-row>
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-row>
                      <v-col col="12" sm="10">
                        <v-select
                          readonly
                          :items="moneda"
                          label="Moneda"
                          v-model="Divisa"  
                          class="text-xs-center"
                          prepend-icon="email"
                          sinlge-line hide-details 
                        ></v-select>                    

                        <v-select
                          readonly
                          :items="excentos"        label="Excento"
                          v-model="Excento"        sinlge-line hide-details 
                          class="text-xs-center"   prepend-icon="email"
                        ></v-select>
                        <!-- IVA -->
                        <v-text-field
                          readonly
                          label="% IVA"   filled shaped  sinlge-line hide-details 
                          v-model="Impuesto1"              
                        ></v-text-field>                    
                      </v-col>
                    </v-row>   
                  </v-col>
                  
                <!-- COL 2 -->
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-row>
                      <v-col col="12" sm="10">
                                  
                      <!-- PRECIO 1 -->
                        <v-text-field
                          readonly
                        label="Precio 1"
                        filled shaped   hide-details 
                        v-model="Precio1"
                        ></v-text-field>
                      

                      <!-- PRECIO 2 -->
                        <v-text-field
                          readonly
                        label="Precio 2"
                        filled shaped hide-details 
                        v-model="Precio2"               
                        ></v-text-field>
                      
                      <!-- PRECIO 3 -->
                        <v-text-field
                        label="Precio 3"
                          readonly
                        filled shaped hide-details 
                        v-model="Precio3"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>         

                  
                  <v-col class="d-flex" cols="12" sm="3" >
                    <v-row>
                      <v-col col="12" sm="10">
                 


                      <!-- PRECIO 4 -->
                        <v-text-field
                          readonly
                        label="Precio 4"
                        filled shaped hide-details 
                        v-model="Precio4"  
                        ></v-text-field>
                      
                      <!-- PRECIO 5 -->
                        <v-text-field
                          readonly
                        label="Precio 5"
                        filled shaped hide-details 
                        v-model="Precio5"  
                        ></v-text-field>


                      <!-- ULTIMO COSTO -->
                        <v-text-field
                          readonly
                        label="Último costo"
                        filled shaped hide-details 
                        v-model="Ultcosto"       
                        ></v-text-field>

                      </v-col>
                    </v-row>  
                  </v-col> 
                  
                  <!-- COL4 -->
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-row>
                      <v-col col="12" sm="10">
                    
                     <!-- PRECIO PUBLICO -->
                      <v-text-field
                          readonly
                        label="Precio público" filled  shaped hide-details 
                        v-model="preciopub"
                      ></v-text-field>

                    <!-- DESCUENTO --> 
                      <v-text-field
                          readonly
                      label="% Descuento"  filled shaped hide-details 
                      v-model="Pjedesc"  
                      ></v-text-field>
              
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
              
              </v-card>
            </v-stepper-content>
            
            <!-- OBSERVACIONES -->
            <v-stepper-content step="2">
              <v-card 
              class="mb-5"  
              height="auto" >
                <!-- R1   -->
                <v-row >
                  <!-- OBS -->
                  <v-col class="d-flex" sm="12">
                    <v-textarea
                    label="Observaciones"
                    filled hide-details
                    shaped
                    v-model="Obs"                
                    ></v-textarea>
                  </v-col>
                </v-row>
                
                <!-- R2 -->
                <v-row >

                  <!-- YOUTUBE LINK -->
                  <v-col class="d-flex" cols="12" sm="4">
                    <v-row>
                      <v-text-field
                      label="Video Youtube"
                      filled hide-details
                      shaped
                      v-model="Youtube_link"              
                      ></v-text-field>
                    
                      <v-text-field
                      label="Link PDF"
                      filled
                      shaped hide-details
                      v-model="Pdfs"              
                      ></v-text-field>
                    </v-row>

                  </v-col>
                  
                  <!-- HTML DESCRIP -->
                  <v-col class="d-flex" sm="8">
                  <v-textarea
                    v-model="Html"               
                    filled auto-grow
                    label="Descripción Html"
                    rows="6"
                    row-height="30"
                    shaped hide-details
                  ></v-textarea>

                  </v-col>
                </v-row>

              </v-card>
            </v-stepper-content>
        
            <!-- Fotos  -->
            <v-stepper-content step="3">
              <v-card  class="mb-2" height="auto" >
                <v-row>
                  <v-col cols="12" xs="12">
                    <v-card class="elevation-0 transparent" align="justify">
                      <v-card-title primary-title>
                        Imagenes actuales
                      </v-card-title>
                      <v-card-text>
                        <v-row>
                          <v-col cols="12" xl="3" lg="3" md="6" sm="8" xs="12"  v-for="(img, i) in fotosArr" :key="i">
                            <v-card>
                              <img
                                :src="img.url"
                                class="white--text align-end"
                                width="100%"
                                height="200px"
                              >
                              </img>

                              <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn small 
                                  @click="eliminar(img)"
                                  color="red darken-3" 
                                  dark
                                >eliminar</v-btn>
                                <v-btn small 
                                  @click="principal(img.url)"
                                  color="blue darken-3" 
                                  dark
                                >Principal</v-btn> 
                              </v-card-actions>
                            </v-card>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card> 
                  </v-col>
                </v-row>
   
                <v-card-text>
                <v-row>
                  <v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12">
                    <v-file-input
                      multiple
                      :rules="rules"
                      :ref="`pictureInput`"
                      accept="image/png, image/jpeg, image/bmp"
                      placeholder="Selecciona las imagenes"
                      prepend-icon="mdi-camera"
                      @change="cargar()"
                      multiple
                    ></v-file-input>
                  </v-col>
                  <v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12">
                    <v-spacer></v-spacer>
                    <v-card-actions>
                      <v-btn @click="updateImgMas" dark color="blue darken-3-2">
                        Grabar Fotos
                      </v-btn>
                      <!-- <v-btn color="success" @click="updateImgMas">Actualizar</v-btn> -->
                    </v-card-actions>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-title primary-title>
                Imagenes previas
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12" xl="3" lg="3" md="6" sm="8" xs="12"  v-for="(img, i) in imagenesPrevias" :key="i">
                    <v-card>
                      <v-img
                        :src="img.url2"
                        class="white--text align-end"
                        width="100%"
                        height="200px"
                      >
                      </v-img>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn icon color="error" @click="eliminarPrev(img.id)">
                          <v-icon>mdi-delete</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </v-card-text>
              </v-card>
            </v-stepper-content>  

            <!-- PDFS  -->
            <v-stepper-content step="4">
              <v-card  class="mb-2" height="auto" >
                <v-card-text>
                  <v-row>
                    <v-col cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
                      <v-card>
                        <v-card-title>
                          DESCRIPCIÓN
                          <v-spacer></v-spacer>
                        </v-card-title>
                        <v-card-text >
                          <v-file-input
                            multiple
                            :rules="rules"
                            v-model="file"
                            accept=".pdf"
                            placeholder="Selecciona pdf Descripción"
                            prepend-icon="mdi-paperclip"
                            @change="cargarPDF(1)"
                            multiple
                          ></v-file-input>
                          <embed :src="filePrevDes" v-if="filePrevDes" height="450px" />
                        </v-card-text>
                        <v-card-actions>
                          <v-btn color="secondary" @click="eliminarPdf(file[0].name), filePrevDes=''">Eliminar</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-col>
                    <v-col  cols="12" xl="6" lg="6" md="6" sm="12" xs="12" >
                      <v-card>
                        <v-card-title primary-title>
                          MANUAL TÉCNICO
                        </v-card-title>
                        <v-card-text >
                          <v-file-input
                            multiple
                            :rules="rules"
                            v-model="file2"
                            accept=".pdf"
                            placeholder="Selecciona pdf Técnico"
                            prepend-icon="mdi-paperclip"
                            @change="cargarPDF(2)"
                            multiple
                          ></v-file-input>
                          <embed :src="filePrevTec" v-if="filePrevTec" height="450px"/>
                          <pdf :src="filePrevTec" v-if="filePrevTec"></pdf>
                        </v-card-text>
                        <v-card-actions>
                          <v-btn color="secondary" @click="eliminarPdf(file2[0].name), filePrevTec=''">Eliminar</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-stepper-content>  
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>


    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
  import pdf from 'vue-pdf'
  var accounting = require("accounting");

  export default {
    components: {
      pdf
    },

    data () {
      return {
        file: [],
        filePrevTec:'',
        file2: [],
        filePrevDes:'',
        pdfname:'',
        pdf2name:'',

        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',
        switch1: false,

        moneda: ['P', 'D'],
        excentos :['SI', 'NO'],

        // newArt:[],
        arts:[],
        idArts:'',

        rules: [
        value => !value || value.size < 2000000 || 'Máximo 2 MB!',
        ],

        files: [],
        imagen1:'',
        Url:'',
        fotosArr: [],
        fotosxart:[],

        item: 0,
        items: [
          { text: 'My Files', icon: 'mdi-folder' },
          { text: 'Shared with me', icon: 'mdi-account-multiple' },
          { text: 'Starred', icon: 'mdi-star' },
          { text: 'Recent', icon: 'mdi-history' },
          { text: 'Offline', icon: 'mdi-check-circle' },
          { text: 'Uploads', icon: 'mdi-upload' },
          { text: 'Backups', icon: 'mdi-cloud-upload' },
        ],


        // ENCABEZADOS
        Numart: '',
        Descrip :'',
        Existencia : '',
        statusweb :0,

        // CLASIFICACION
        Numart : '',

        // PRECIOS
        Divisa : 'P',
        Excento: 'NO',
        Impuesto1 : 0.00,
        Pjedesc : 0.00,
        preciopub : 0.00,
        Precio1 : 0.00,
        Precio2 : 0.00,
        Precio3 : 0.00,
        Precio4 : 0.00,
        Precio5 : 0.00,
        Ultcosto : 0.00,

        // OBSERVACIONES
        Obs : '',
        Youtube_link : '',
        Pdfs : '',
        Html : '',

        nModo : 0,

        Destacado: false,
        Novedad: false,

        imagenes: [],
        imagenesPrevias: [],
      }

    },

    created () {
      //Definir nModo. Si tiene id estoy en modo 2. 
      this.Numart = this.$route.params.Numart
      //console.log(this.$route.params.Numart)
      this.nModo = 2
      // console.log("es el producto :",this.Numart.trim())
      this.busNumart(this.$route.params.Numart.trim())
      
      this.CargarFotos()
    },

    computed: {
      formTitle () {
          return this.nModo =  1 ? 'Nuevo Artículo' : 'Editar Artículo'
      },
      validaInfo(){
        return  this.Numart         !==  '' &&       
                this.Descrip        !==  '' &&
                this.Linea          !==  ''
      },
    },
      
    watch: {
      deptos() {
        // console.log(this.Nomdepto)
        var me = this
        this.NomWatchId.forEach(element => {
          if(this.deptos == element.Nomdep){
            me.Iddepto = element.id
            me.Valdep  = element.Valdep
          }
        })
      },

      catego() {
        var me = this
        this.NomWatchIdcat.forEach(element => {
          if(this.catego == element.Nomcat){
            me.Idcat = element.id
            me.Numcat  = element.Numcat
          }          
        })
      },

    },

    methods:{
      CargarFotos(){
        this.fotosArr = []
        this.loading = true 
        let cNumart = this.Numart.trim()
        this.$http.get('api/v1/product.image.list.numart/'+ cNumart).then(response => {
          if (typeof(response.body) != 'object') {
          } else {
            var fotosxart = []
            var url = this.$http.options.root.replace("tienda3", "fotossait/");
            console.log('imagenes',response.body)
            for (var i = response.body.length - 1; i >= 0; i--) {
              fotosxart.push({
                id: response.body[i].idfotos,
                Image_name: response.body[i].Image_name,
                url: url + response.body[i].Image_name,
                Numart : response.body[i].numart
              })
            }
            this.fotosArr = fotosxart
          }  
        }).catch(error =>{
          console.log(error)
        }).finally(()  => this.loading = false)
      },

      cargar(){
        //  guardamos el ref en una variable más pequeña
        var img = this.$refs.pictureInput.internalValue
        //  si la variabel esta vacia no carga nada y regresamos la función
        if(img == null ){
          return
        }
            // Url    : url + img.name,
            // Image_name : img.name
        // Recorremos las imagenes
        var numart = this.Numart.padStart(20,'')

        img.forEach((element, index) => {
          // creamos una variable tipo FormData
          let formData = new FormData();
          //se crea el objeto y se le agrega como un apendice el archivo 
          formData.append('file', element);
          //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
          var url = this.$http.options.root.replace("tienda3", "fotossait/");
          this.getBase64(element, formData, element.name, numart, url + element.name)
        })
      },

      getBase64(file, formData, name, numart, url) {
        var me = this
        //Se crea un avariable para lectura de archivo
        var reader = new FileReader();
        // obtiene el url del archivo para ser visualizado
        reader.readAsDataURL(file);
        reader.onload = function () {
          // se crea el objeto con los parametros
          // el id es la ongitu del objeto
          //  el url es el resultado de convertir el archivo a base64 url
          //  el formdata, el parametro que recibira la api
          // el nombre, para guardar en la base de datos
          me.imagenesPrevias.push({id: me.imagenesPrevias.length, url: url, url2: reader.result, formData: formData, Image_name: name, Numart:numart})
          // me.$refs.pictureInput.internalValue = null
        };
        console.log('previas',me.imagenesPrevias)
      },

     
      // Eliminar imagen
      eliminar(value){
        console.log(value)
        // Eliminar las fotos del servidor se manda como parametro el noombre dle archivo a eliminar
        this.$http.post('auth/api/v1/imagenes.delete/' + value.nombanner).then(response=>{
          // Se elimina la imagen del servidor
          this.loading = true
           this.$http.delete('api/v1/product.image.delete/' + value.id).then( response => {
            console.log(response)
          }).catch(error => {
            console.log(error)
            this.CargarFotos()
          }).finally(()  => {
            this.loading = false
          }) 
        })
      },

      // Eliminamos las imagenes previas, se recibe como parametro el id
      eliminarPrev(id){
        // Vaciamso primero los archivos cargados
        this.$refs.pictureInput.internalValue = null
        // Se hace un recorrido y donde se encuentre la imagen se elimina
        for (var i = this.imagenesPrevias.length - 1; i >= 0; i--) {
          if(this.imagenesPrevias[i].id == id){
            this.imagenesPrevias.splice(i, 1);
          }
        }
      },

      updateImgMas(){
        // Recorremos las imagenes previas cargadas para poder agregarlas al servidor y guardar el nombre en la base de datos
        this.imagenesPrevias.forEach((element, index) => {
          // Mandamos el formdata (archivo de la imagen) al servidor
          this.$http.post('auth/api/v1/imagenes', element.formData ,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
            //  y se gguar tambien en la base de datos, solo se guarda el nombre de la imagen
            if(index == 0){
              this.text = 'Fotos cargadas exitosamente'
              this.snackbar =  false
              
              // Mandas a traer las imagenes del servidor
              this.GrabarFotosxArt()

              // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
              this.imagenesPrevias = []
            }
          })
        })
      },


      GrabarFotosxArt(){
        this.loading = true 
        let cNumart = this.Numart.trim()
        var payload = this.imagenesPrevias

        this.$http.post('api/v1/product.image.add', this.imagenesPrevias).then(response => {
          console.log('Fotos x Numart',response.body)
          this.CargarFotos()
        }).catch(error =>{
          console.log(error)
        }).finally(()  => this.loading = false )
      },

      principal (urlart){
        this.Url = urlart
        // console.log(this.Url)
      },

      cargarPDF(val){
        let formData = new FormData();
        //se crea el objeto y se le agrega como un apendice el archivo 
        if(val == 1){
          formData.append('file', this.file[0]);
        }else{
          formData.append('file', this.file2[0]);
        }

        this.$http.post('auth/api/v1/pdf', formData, { headers: {'Content-Type': 'multipart/form-data'}}).then(response=>{
          var url = this.$http.options.root
          var n = url.search("localhost");
          if(n<0){
            url = this.$http.options.root.replace("tienda3", "pdfsait/") 
          }else{
            url = this.$http.options.root.replace("tienda3", "pdflocal/")
          }

          if(val == 1){
            this.pdfname = this.file[0].name
            this.filePrevDes = url + this.file[0].name
            // this.filePrevDes = 'https://mikaishop.com/pdfsait/Solemex.pdf'
          }else{
            this.pdf2name = this.file2[0].name
            this.filePrevTec = url + this.file2[0].name
          }

          console.log('tec',this.filePrevTec)
          console.log('Des',this.filePrevDes)
        })
      },

      // Eliminar imagen
      eliminarPdf(value){
        console.log(value)
        // Eliminar las fotos del servidor se manda como parametro el noombre dle archivo a eliminar
        this.$http.post('auth/api/v1/pdf.delete/' + value).then(response=>{
          // Se elimina la imagen del servidor
          console.log(response.body)
        })
      },


      // Datos del articulo
      cargarinfo () {
      	this.Novedad = this.arts.Novedades
      	this.Destacado = this.arts.Destacados

        this.Descrip = this.arts.Descrip
        this.Id = this.arts.Id

        this.statusweb = !!this.arts.statusweb

        // PRECIOS
        this.Divisa    = this.arts.Divisa
        this.Excento   = this.arts.Excento
        this.preciopub =  this.arts.preciopub
        this.Impuesto1 =  this.arts.Impuesto1
        this.Pjedesc = this.arts.Pjedesc

        this.Precio1  = this.arts.Precio1
        this.Precio2  = this.arts.Precio2
        this.Precio3  = this.arts.Precio3
        this.Precio4  = this.arts.Precio4
        this.Precio5  = this.arts.Precio5
        this.Ultcosto = this.arts.Ultcosto

        // OBSERVACIONES
        this.Obs      = this.arts.Obs
        this.Youtube_link  = this.arts.Video
        this.Html  = this.arts.Html

        var url = this.$http.options.root
        var n = url.search("localhost");
        if(n<0){
          url = this.$http.options.root.replace("tienda3", "pdfsait/") 
        }else{
          url = this.$http.options.root.replace("tienda3", "pdflocal/")
        }

        if(this.arts.Pdfs != ''){
          this.pdfname = this.arts.Pdfs
          this.filePrevDes     = url + this.arts.Pdfs
        }

        if(this.arts.Pdf2 != ''){
          this.pdf2name = this.arts.Pdf2
          this.filePrevTec     = url + this.arts.Pdf2
        }
        
      },

      // BUSCAR UN PRODUCTO
      busNumart(Numart){
        this.$http.get('auth/api/v1/product.info/' + Numart ).then(response => { 
          this.arts = response.body
          this.cargarinfo()
        }).catch(error => {
          console.log(error)
        })
      },

      agregar(){    
        if(!this.validaInfo){
            this.snackbar = true ; this.color="info"
            this.text = "Faltan campos por agregar (Clave, Descripción, Línea)"
          return
        }

        var destacados = this.Destacado == true ? 1 : 0
        var des = {id: this.arts.Id, destacados: destacados}              
        // this.$http.put('auth/api/v1/destacados.update',des).then(response=>{
        //   console.log(response.body)
        // })

        var novedades = this.Novedad == true ? 1 : 0
        var nove = {id: this.arts.Id, novedades: novedades}
        // this.$http.put('auth/api/v1/novedades.update',nove).then(response=>{
        //   console.log(response.body)
        // })

        //CONVERTIR a 0 y 1
        var nstatus = +this.statusweb
        var nId = this.Id

        // var pdf = ''
        // var pdf2 = ''

        // if(this.file.length > 0 ){
        //   pdf = this.file[0].name
        // }

        // if(this.file2.length > 0 ){
        //   pdf2 = this.file2[0].name
        // }

        const payload = {
            Statusweb   : nstatus,   
            ID             : nId,
            Numart         : this.Numart,
            Descrip        : this.Descrip,
          
            Url            :this.Url,
            Obs            :this.Obs,          
            Video          :this.Youtube_link, 
            Pdfs           :this.pdfname,         
            Pdf2           :this.pdf2name,         
            Html           :this.Html,

            Novedades      : novedades,
            Destacados     : destacados
        }

        //DETERMINAR EL MODO 
        // console.log('payload', payload)
        // console.log("MODO", this.nModo)
        var me = this 
        this.loading= true
        // console.log(payload)
        this.$http.put('auth/api/v1/novedes.update' , payload).then(response => {
          this.snackbar = true ; this.color="#green lighten-5"
          this.text = "Se Modificó correctamente el Producto."
          me.$router.push({name: 'noveydes'})
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 
      }
    },
  };
</script>