<template>
  <v-container>
    <v-row row wrap>
      <v-card width="100%" height="100%">
        <v-card-title primary-title>
          Novedades y Destacados
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="12" xl="2" lg="2" md="2" sm="3" xs="8">
              <v-select
                :items="selnovedes"
                v-model="novdes"
                label="Selector"
                item-text="tipo"
                item-value="id"  
              ></v-select>

            </v-col>
             <v-col cols="12" xl="4" lg="4" md="4" sm="6" xs="8">
              <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar Productos"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="12" xl="4" lg="4" md="4" sm="3" xs="8">
              <!-- BOTON EXCEL -->
              <v-btn 
                class="ma-2" 
                small dark color="warning"
                @click="exportar()">
                <v-icon>save_alt</v-icon>
              </v-btn>

              <!-- BOTON PDF -->
              <v-btn 
                class="ma-2" 
                small color="secondary"
                @click="crearPDF()">
                <v-icon>print</v-icon>
              </v-btn>
            </v-col>
            <v-col cols="12">
              <v-data-table
                :loading="loading"        
                :headers="headers"
                :items="productos"
                class="elevation-1"
                fixed-header
                height="450"
                hide-default-footer
                loading-text="Cargando..."
                dense
                :search="search"
                :items-per-page=200
              >

                <!-- STATUSWEB -->
                <template v-slot:item.Statusweb="{ item }">
                  <v-checkbox  readonly v-model="item.Statusweb"></v-checkbox>  
                </template>
                        
                <template v-slot:item="{ item }" >
                 <tr v-on:dblclick="edit(item.Numart)">
                  <td>{{ item.Numart}}</td>
                  <td>{{ item.Descrip }}</td>
                  <td>{{ item.Preciopub }}</td>
                  <td>{{ item.Statusweb }}</td>
                  <td>{{ item.Linea }}</td>
                  <td><v-checkbox  v-model="item.Novedades" readonly></v-checkbox></td>
                  <td><v-checkbox  v-model="item.Destacados" readonly></v-checkbox></td>
                </tr>
               </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-card-text>
              
      </v-card>
    </v-row>  
  </v-container>
</template>


<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  export default {
    mixins:[excelMixin],

    data: () => ({
      loading: true,
      search:'',
      productos:[],
      headers: [
      { text: 'Clave', align: 'left',sortable: false, value: 'Numart'},
      { text: 'Descripción', value: 'Descrip' },
      { text: 'Precio', value: 'Preciopub' },
      { text: 'Activo', value: 'Statusweb' },
      { text: 'Línea', value: 'Linea' },
      { text: 'Novedades', value: 'Novedades' ,align: 'center'},
      { text: 'Destacados', value: 'Destacados' ,align: 'center'},
      ],
      selnovedes:[{tipo: 'Novedades', id:1},{tipo: 'Destacados', id:2}, {tipo:'Todos', id: 3}],
      novdes:{tipo:'Todos', id: 3},
    }),

    created(){
      var payload = {tipo:  3}
      this.init(payload)
    },

    watch:{
      novdes(){
        var payload = {tipo:  this.novdes}
        this.init(payload)
      }
    },

    methods:{
      init(value){
        this.productos = []
        this.loading = true
        this.$http.post('api/v1/novedes.list', value).then(response=>{
          if(response.body.ntotal > 0){
            this.loading = false
            this.productos = response.body.Productos
          }
        })
      },

      // EXCEL
      exportar(){
        let xls = {
          data:      this.productos,
          tHeaders : ['Clave', 'Descripción', 'Precio', 'Activo', 'Línea', 'Novedades', 'Destacados'],
          filterVal: ['Numart', 'Descrip', 'Preciopub', 'Statusweb', 'Linea', 'Novedades', 'Destacados'],
          nomfile :  "Consulta de Artículos"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF DE ARTÍCULOS
      crearPDF(){
        var columns = [
            { title: 'Clave',       dataKey: 'Numart'},
            { title: 'Descripción', dataKey: 'Descrip'},
            { title: 'Precio',      dataKey: 'Preciopub' },
            { title: 'Div',         dataKey: 'Divisa' },
            { title: 'Activo',      dataKey: 'Statusweb' },
            { title: 'Línea',       dataKey: 'Linea' },
            { title: 'Novedades',   dataKey: 'Novedades'},
            { title: 'Destacados',  dataKey: 'Destacados'}
        ];

        var rows = [];
        this.productos.map(function(x){
          rows.push({
                Numart:x.Numart,
                Descrip:x.Descrip,
                Preciopub:x.Preciopub,
                Divisa:x.Divisa,
                Statusweb:x.Statusweb,
                Linea:x.Linea});
          });

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, rows, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 250},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Novedades y Destacados", 40, 30);
          }
        });
        doc.save('NoveyDes.pdf');
      },

      edit(item){
        this.$router.push({name:'editseccion', params: {Numart: item}})
      }
    },

  }
</script>






