<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card width="100%" class="transparent elevation-">
          <v-card-title primary-title>
            <v-file-input
					    label="Imagen input"
					    prepend-icon="mdi-camera"
					    @change="cargar" 
					    ref="pictureInput"
  					></v-file-input>
          </v-card-title>
        </v-card>
      </v-col>
      <v-col cols="12" v-if="imagen != ''">
				<v-card height="auto" width="450" >
          
					<v-card-text align="center">
          	<img :src="imagen" width="100%" >
					</v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      primary:'#FF00FF',
      secondary:'#FF00FF',
      success:'#FF00FF',
      info:'#FF00FF',
      error:'#FF00FF',
      imagen:'',
    }),

    methods:{
    	cargar(){
        console.log(this.$refs.pictureInput.internalArrayValue)
        this.getBase64(this.$refs.pictureInput.internalArrayValue[0])
      },

      getBase64(file) {
        var me = this
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          me.imagen = reader.result
          console.log(reader.result);
        };
      },

      subirimg(){
        var img = this.$refs.pictureInput.internalArrayValue[0]
        let formDataDomicilio = new FormData();
        //se crea el objeto y se le agrega como un apendice el archivo 
        formDataDomicilio.append('file',img);
        console.log(formDataDomicilio)
        this.$http.post('api/v1/imagenes',formDataDomicilio,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
          console.log(response)
        })
      },
    }
  }
</script>