<template>
  <v-stepper v-model="e1">

  	<!-- titulos de los steper -->
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1" @click="e1=1">Tema Admin</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 2" step="2" @click="e1=2">Tema Tienda</v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 3" step="3" @click="e1=3">Tema Vendedor</v-stepper-step>
      <!-- <v-divider></v-divider>
      <v-stepper-step :complete="e1 > 4" step="4" @click="e1=4">Logotipo</v-stepper-step> -->
    </v-stepper-header>
		
		<!-- Tarjetas -->
    <v-stepper-items>
    	<!-- Steper uno  -->
      <v-stepper-content step="1">
				<TemaAdmin/>
        <v-card-actions>
          <v-btn color="primary" @click="e1 = 2"> Continuar </v-btn>
        </v-card-actions>
      </v-stepper-content>

      <v-stepper-content step="2">
        <TemaTienda/>
        <v-card-actions>
          <v-btn color="primary" @click="e1 = 1"> Regresar </v-btn>
          <v-btn color="primary" @click="e1 = 3"> Continuar </v-btn>
        </v-card-actions>
      </v-stepper-content>

      <v-stepper-content step="3">
        <TemaVendedor/>
        <v-card-actions>
          <v-btn color="primary" @click="e1 = 2"> Regresar </v-btn>
          <v-btn color="primary" @click="e1 = 1"> Continuar </v-btn>
        </v-card-actions>
      </v-stepper-content>


      <!-- <v-stepper-content step="4">
        <Logotipo/>
        <v-card-actions>
          <v-btn color="primary" @click="e1 = 1"> Continuar </v-btn>
          <v-btn color="primary" @click="e1 = 3" >Regresar</v-btn>
        </v-card-actions>
      </v-stepper-content> -->
    </v-stepper-items>
  </v-stepper>
</template>
<script>
  import TemaAdmin    from '@/views/temas/TemaAdmin.vue'
  import TemaTienda   from '@/views/temas/TemaTienda.vue'
	import TemaVendedor from '@/views/temas/TemaVendedor.vue'


  export default {
  	components:{
      TemaAdmin,
      TemaTienda,
  		TemaVendedor,
  	},

    data () {
      return {
        e1: 0,
        primary:'#FF00FF',
	      secondary:'#FF00FF',
	      success:'#FF00FF',
	      info:'#FF00FF',
	      error:'#FF00FF',
      }
    },
  }
</script>