<template>
	<v-container fill-height>


	  <v-row>
	    <v-flex xs12>
	  		
	      <v-card :loading="loading">
	        <v-toolbar color="primary" dark>
              <v-toolbar-title>Nuevo Cliente</v-toolbar-title> <v-spacer></v-spacer> 
	          <v-btn @click="save" color="secondary">Grabar</v-btn>
	          <!-- <v-switch v-model="switch1" label="Abierta al público"></v-switch> -->
	      	</v-toolbar>
	    
	        <v-card-text>
	          <v-container>
	            <v-row>
	            	<v-col cols="12" sm="6">
	            
	                <v-text-field
	                  outlined hide-details
	                  label="Razón social"
	                  v-model="nomcia"
	                ></v-text-field>
	              </v-col>

	              <v-col cols="12" sm="6"> 	             
	                <v-text-field
	                  outlined hide-details
	                  label="Nombre comercial"
	                  v-model="nomcomer"
	                ></v-text-field>
	              </v-col>
	            </v-row>
							
					<v-row>
						<v-col cols="12" sm="8">
          
	                <v-text-field
	                  outlined hide-details
	                  label="Calle"
	                  v-model="calle"
	                ></v-text-field>
	              </v-col>
	              	
	              <v-col cols="12" sm="4">	
	                <v-text-field
	                  outlined hide-details
	                  label="Número ext"
	                  v-model="numext"
	                ></v-text-field>
	              </v-col>
						
						</v-row>	
						
						<v-row>
							<v-col cols="12" sm="6">
          	
					      <v-text-field
                  outlined hide-details
                  label="Colonia"
                  v-model="colonia"
                 ></v-text-field>
              </v-col>
							
							<v-col cols="12" sm="3">	
                
	                <v-text-field
	                  outlined hide-details
	                  label="CP"
	                  v-model="cp"
	                ></v-text-field>
							</v-col>

								<v-col cols="12" sm="3">	
                  <v-text-field
	                  outlined hide-details
	                  label="Ciudad"
	                  v-model="ciudad"
	                ></v-text-field>
	            
	            </v-col>


              <!-- <v-col cols="12" sm="6">	
                  <v-text-field
	                  outlined hide-details
	                  label="RFC"
	                  v-model="rfccia"
	                ></v-text-field>
	
	            	</v-col>
 -->
           	</v-row>

          	<v-row>
              
              <v-col cols="12" sm="3">	
	                <v-text-field
	                  outlined hide-details
	                  label="Estado"
	                  v-model="estado"
	                ></v-text-field>
	            </v-col>
              
							 	<v-col cols="12" sm="3">	
                  <v-text-field
	                  outlined hide-details
	                  label="RFC"
	                  v-model="rfccia"
	                ></v-text-field>
	            	</v-col>

							<v-col cols="12" sm= "6">	
	                <v-text-field
	                  outlined hide-details
	                  label="Régimen"
	                  v-model="regimen"
	                ></v-text-field>
									
							</v-col>

						</v-row>

						<v-row>
							
							
							<!-- <v-col cols ="12" sm="6">		
									<v-text-field
	                  outlined hide-details
	                  label="Email"
	                  v-model="email"
	                ></v-text-field>

							</v-col>	
 -->
							<v-col cols="12" sm="6">
	                <v-text-field
	                  outlined hide-details
	                  label="Teléfono"
	                  v-model="telefono"
	                ></v-text-field>
	              
								</v-col>

								
							</v-row>

	          </v-container>

	        </v-card-text>
	      </v-card>
	    </v-flex>
	  </v-row>
	</v-container>
</template>
<script>
	export default{
		data(){
			return{
				loading: false,
				nomcia:'',
				nomcomer:'',
				calle:'',
				numext:'',
				colonia:'',
				switch1: true,
				ciudad:'',
				estado:'',
				email: '',
				cp:'',
				regimen :'',
				email:'',
				telefono:'',
				rfccia:'',
				cia:[],
			}
		},

		created() {
			this.init()
		},

		 methods:{
     	init(){
     		 //Consultar Usuarios
        this.loading = true
        this.$http.get('api/v1/cia.list').then( response => {
          console.log('cia list ', response.body)
          this.cia = response.body

          //PASAR CAMPOS A VARIABLES
          this.nomcia = this.cia.nomcia
          this.nomcomer = this.cia.nomcomer
          this.calle  	= this.cia.calle
          this.numext   = this.cia.numext
          this.ciudad   = this.cia.ciudad
          this.estado   = this.cia.estado
          this.colonia  = this.cia.colonia
          this.cp       = this.cia.cp
          this.email    = this.cia.email
          this.telefono = this.cia.telefono
          this.regimen  = this.cia.regimen
          this.rfccia   = this.cia.rfccia
          this.Id       = this.cia.Id

        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

     	},

     	save () {
     		var Payload = {
     			Id		: this.Id, 
     			Nomcia : this.nomcia,
     			Calle  : this.calle,
     			Numext : this.numext,
     			Ciudad : this.ciudad,
     			Estado : this.estado,
     			Colonia: this.colonia,
     			Cp     : this.cp,
     			Email  : this.email,
     			Telefono : this.telefono,
     			Regimen :  this.regimen,
     			rfccia  : this.rfccia
     		}
     			this.loading= true
     		console.log ("UPDATE", Payload)
          this.$http.put('auth/api/v1/cia.update', Payload).then( response => {
            console.log('cia.update', response.body)

          }).catch(error => {
            console.log(error)
          }).finally(()  => {
            // this.init() 
             this.loading = false
          }) 
 
     	}



		}
	}	
</script>