<template>
  <v-container>
    <v-layout align-start justify-center row fill-height/>
      <v-flex sm12>
        <v-tabs v-model="activeTab">

          <v-tab key="tab-1" to="/imageneshome" ripple>
            Carrousel
          </v-tab>

          <v-tab key="tab-2" to="/ubicacion" ripple>
            Configurar tu ubicación
          </v-tab>

          <v-tab key="tab-3" to="/nosotros" ripple>
            Sobre nosotros
          </v-tab>


          <v-tab-item id="/imageneshome">
            <router-view v-if="activeTab === '/imageneshome'" />
          </v-tab-item>

          <v-tab-item id="/ubicacion">
            <router-view v-if="activeTab === '/ubicacion'" />
          </v-tab-item>

          <v-tab-item id="/nosotros">
            <router-view v-if="activeTab === '/nosotros'" />
          </v-tab-item>


          </v-tabs>
        </v-card>    
      </v-flex>  
    </v-layout>
  </v-container>
</template>

<script>

  export default {
    data () {
      return {
        activeTab:'/imageneshome',
        e1: 0,
      }
    },

    created(){
      this.$router.push({name:'imageneshome'})
    }
  }
</script>