<template>
	<v-container>
		<v-snackbar
		  v-model="snackbar"
		  color="success"
		>
		  {{ text }}
		  <v-btn text dark @click.native="snackbar = false">Close</v-btn>
		</v-snackbar>
	  <v-card>
		  <v-row>
		  	<v-col cols="12" xs="12">
		  		<v-card class="elevation-0 transparent" align="justify">
		  			<v-card-text>
			  			<v-alert type="info" :value="true" text border="right" color="info">
			        	Selecciona las imágenes que quieres que aparezcan en la vista principal de tu tienda en línea
			        </v-alert>
		  			</v-card-text>
		  			<v-divider></v-divider>
		  			<v-card-text>
		  				<v-row>
		  					<v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12">
		            	<v-file-input
		            		multiple
								    :rules="rules"
								    :ref="`pictureInput`"
								    accept="image/png, image/jpeg, image/bmp"
								    placeholder="Selecciona las imagenes"
								    prepend-icon="mdi-camera"
								    @change="cargar()"
								    multiple
								  ></v-file-input>
								</v-col>
								<v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12">
								  <v-spacer></v-spacer>
								  <v-card-actions>
					  				<v-btn color="success" @click="updateImgMas">Actualizar</v-btn>
					  				<v-btn color="success" @click="vista">Vista previa</v-btn>
					  			</v-card-actions>
		  					</v-col>
		  				</v-row>
		  			</v-card-text>
		  			<v-card-title primary-title>
		  			  Imagenes previas
		  			</v-card-title>
		  			<v-card-text>
		  				<v-row>
		  					<v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12"  v-for="(img, i) in imagenesPrevias" :key="i">
		  						<v-card>
				            <v-img
				              :src="img.url"
				              class="white--text align-end"
				              width="100%"
				              height="250px"
				            >
				            </v-img>
				            <v-card-actions>
				              <v-spacer></v-spacer>
				              <v-btn icon color="error" @click="eliminarPrev(img.id)">
				                <v-icon>mdi-delete</v-icon>
				              </v-btn>
				            </v-card-actions>
				          </v-card>
		  					</v-col>
		  				</v-row>
		  			</v-card-text>
		  		</v-card> 
		  	</v-col>
	  		<v-col cols="12" xs="12">
		  		<v-card class="elevation-0 transparent" align="justify">
		  			<v-card-title primary-title>
		  			  Imagenes actuales
		  			</v-card-title>
		  			<v-card-text>
		  				<v-row>
		  					<v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12"  v-for="(img, i) in imagenes" :key="i">
		  						<v-card>
				            <img
				              :src="img.url"
				              class="white--text align-end"
				              width="100%"
				              height="250px"
				            >
				            </img>

				            <v-card-actions>
				              <v-spacer></v-spacer>

				              <v-btn icon color="error" @click="eliminar(img)">
				                <v-icon>mdi-delete</v-icon>
				              </v-btn>
				            </v-card-actions>
				          </v-card>
		  					</v-col>
		  				</v-row>
		  			</v-card-text>
		  		</v-card> 
		  	</v-col>

		  </v-row>
	  </v-card>
	</v-container>
</template>
<script>
	export default{
		data(){
			return{
				snackbar: false,
				text:'',

				rules: [
	        value => !value || value.size < 5000000 || 'No sobrepasar los 5MB!',
	      ],
				imagenes: [],
				imagenesPrevias: [],
				// imagenes: [{id:'', url:'', formData:'', name:''}]
			}
		},

		created(){
			this.init()
		},

		methods:{
			
			// Cargamos las imagenes actuales que estan en la base de datos+
			init(){
				this.imagenes =  []
				this.$http.get('api/v1/banners.list').then(response=>{
					var img = response.body
					// validamos que la respuesta no este vacia
					if(img.ntotal > 0){
						// Reemplazamos tienda3 por fotossait para poder cargar las imagenes del servidor
						var url = this.$http.options.root.replace("tienda3", "fotossait/");
						// Hacemos un ciclo para cargar las imagenes 
						img.Banners.forEach((element) => {
							// Creamos un objeto donde ponemos el id, le creamos el url y guardamos el nombre de la imagen
							var imagenes = {id: element.Id, url: url + element.Nombanner, nombanner: element.Nombanner}
							// Agregamos el elemento al arreglo
							this.imagenes.push(imagenes)
						})
					}
					console.log(this.imagenes)
				})
			},

			// Actualización masiva de imágenes

			updateImgMas(){
				// Recorremos las imagenes previas cargadas para poder agregarlas al servidor y guardar el nombre en la base de datos
				this.imagenesPrevias.forEach((element, index) => {
					// Mandamos el formdata (archivo de la imagen) al servidor
          this.$http.post('auth/api/v1/imagenes', element.formData ,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
	          //  y se gguar tambien en la base de datos, solo se guarda el nombre de la imagen
	          var payload = {nombanner: element.nombanner}
	          console.log(payload)
	          this.$http.post('auth/api/v1/banners.add',payload).then(response=>{
	          	if(index == 0){
								this.text = 'Fotos cargadas exitosamente'
	          		this.snackbar =  false
	          		// Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
	          		this.imagenesPrevias = []
	          		// Mandas a traer las imagenes del servidor
	          		this.init()
	          	}
	          })
	        })
        })
			},

			//  Función que se ejecuta cuando se cargan las imagenes
			cargar(){
				//  guardamos el ref en una variable más pequeña
				var img = this.$refs.pictureInput.internalValue
				//  si la variabel esta vacia no carga nada y regresamos la función
				if(img == null ){
					return
				}
				// Recorremos las imagenes
				img.forEach((element, index) => {
					// creamos una variable tipo FormData
	        let formData = new FormData();
	        //se crea el objeto y se le agrega como un apendice el archivo 
	        formData.append('file', element);
	        //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
	        this.getBase64(element, formData, element.name)
        })
      },

      // Eliminar imagen
      eliminar(value){
      	// Eliminar las fotos del servidor se manda como parametro el noombre dle archivo a eliminar
      	this.$http.post('auth/api/v1/imagenes.delete/' + value.nombanner).then(response=>{
      		// Se elimina la imagen del servidor
	      	this.$http.delete('auth/api/v1/banners.delete/' + value.id ).then(response=>{
	      		// mandamos a llamar el init para cargar de nuevo las imagenes 
	      		this.init()
	      	})
      	})
      },

      // Eliminamos las imagenes previas, se recibe como parametro el id
      eliminarPrev(id){
      	// Vaciamso primero los archivos cargados
      	this.$refs.pictureInput.internalValue = null
      	// Se hace un recorrido y donde se encuentre la imagen se elimina
      	for (var i = this.imagenesPrevias.length - 1; i >= 0; i--) {
      		if(this.imagenesPrevias[i].id == id){
      			this.imagenesPrevias.splice(i, 1);
      		}
      	}

      },

			// falta por definir bien la funcionalidad
      vista(){
      	this.$router.push({name: 'vistaprevia', params:{value: this.imagenesPrevias}})
      },

			// convierte la imegen en un archivo para visualizar
		  // Recibe como parametro el docuemnto, el formadata, el nombre dle archivo y el id
      getBase64(file, formData, name) {
        var me = this
        //Se crea un avariable para lectura de archivo
        var reader = new FileReader();
        // obtiene el url del archivo para ser visualizado
        reader.readAsDataURL(file);
        reader.onload = function () {
        	// se crea el objeto con los parametros
        	// el id es la ongitu del objeto
        	//  el url es el resultado de convertir el archivo a base64 url
        	//  el formdata, el parametro que recibira la api
        	// el nombre, para guardar en la base de datos
          me.imagenesPrevias.push({id: me.imagenesPrevias.length ,url: reader.result, formData: formData, nombanner: name})
          // me.$refs.pictureInput.internalValue = null
        };
      },
		}
	}
</script>
