<template>
	<v-container>
		<v-snackbar
		  v-model="snackbar"
		  color="success"
		  top
		>
		  Se actualizo correctamente
		  <v-btn text dark @click.native="snackbar = false">Close</v-btn>
		</v-snackbar>
	  <v-card >
		  <v-row>
		  	<v-col cols="12" xl="6" md="8" xs="12">
		  		<v-card class="elevation-0" align="justify">
		  			<v-card-title primary-title>
		  			  Sobre nosotros
		  			</v-card-title>
		  			<v-divider></v-divider>
		  			<v-card-text>
		  				<v-textarea height="100%" label="Sobre nosotros" :rows="12" outlined v-model="nosotros"/>
		  			</v-card-text>
		  			<v-card-actions>
		  			  <v-btn color="success" @click="update">Actualizar</v-btn>
		  			</v-card-actions>
		  		</v-card> 
		  	</v-col>
		  </v-row>
	  </v-card>
	</v-container>
</template>
<script>

	export default{
		data(){
			return{
				nosotros: '',
				snackbar: false
			}
		},

		created(){
			this.init()
		},

		methods:{
			init(){
				this.$http.get('api/v1/nosotros.list').then(response=>{
					this.nosotros = response.body.Nosotros
				})
			},

			update(){
				var payload = {id: 1, nosotros: this.nosotros}
				this.$http.post('auth/api/v1/nosotros.update', payload).then(response=>{
					console.log(response.body)
					this.snackbar = true
					this.init()
				})
			}
		},

		computed:{
		}
	}
</script>
