<template>
	<v-container>
	  <v-card>
		  <v-row>
		  	<v-col cols="12" xl="4" md="6" xs="12">
		  		<v-card class="elevation-0 transparent" align="justify">
		  			<v-card-title primary-title>
		  			  Ingresa tu ubicación
		  			</v-card-title>
		  			<v-divider></v-divider>
		  			<v-card-text>
		  				<v-row>
		  					<!-- <v-col cols="12">
		  						<v-text-field
		  						  v-model="direccion"
		  						  label="Dirección"
		  						></v-text-field>
		  					</v-col>
		  					<v-col cols="12">
		  						<v-btn color="success" @click="getCoords">Búscar</v-btn>
		  					</v-col> -->
		  					<v-col cols="12">
		  						<v-text-field
		  						  v-model="latitude"
		  						  label="Latitud"
		  						></v-text-field>
		  					</v-col>
		  					<v-col cols="12">
		  						<v-text-field
		  						  v-model="longitude"
		  						  label="Longitud"
		  						></v-text-field>
		  					</v-col>
		  					<v-col cols="12">
		  						<v-btn color="success" @click="updateUbica">Actualizar</v-btn>
		  					</v-col>
		  				</v-row>
		  			</v-card-text>
		  		</v-card> 
		  	</v-col>
		  	<v-col cols="12" xl="4" md="6" xs="12">
		  		<v-card class="elevation-0 transparent" align="justify">
		  			<v-card-text>
		  		    <div id="map"></div>
		  			</v-card-text>
		  		</v-card> 
		  	</v-col>
		  </v-row>
	  </v-card>
	</v-container>
</template>
<script>
	export default{
		data(){
			return{
				latitude:25.795222879371323,
				longitude:-100.3072329946799,
				direccion:'',
			}
		},

		created(){
			this.init()
		},

		methods:{
			init(){
				const payload  = { Latitude : this.latitude, Longitude: this.longitude }
	    	this.Mapa(payload)
			},

			updateUbica(){
				this.init()
			},

			// No tenemos la key
			// getCoords(){
			// 	var me = this
			//   // Creamos el objeto geodecoder
			//   var geocoder = new google.maps.Geocoder();

			//   var address = this.direccion
			//   if(address!=''){
			//     // Llamamos a la función geodecode pasandole la dirección que hemos introducido en la caja de texto.
			//     geocoder.geocode({ 'address': address}, function(results, status){
			//       if (status == 'OK'){
			//         // Mostramos las coordenadas obtenidas en el p con id coordenadas
			//         me.latitude = results[0].geometry.location.lat()
			//         me.longitude = results[0].geometry.location.lng();
			//         me.init()
			//       }
			//     });
			//   }
			// },


			Mapa(payload){
	    	var me = this
	    	console.log(payload)
	    	    		
	    	var latitud 	= parseFloat(payload.Latitude)
	    	var longitud 	= parseFloat(payload.Longitude)
		     
	      //Funcion que se ejecuta cuando esta disponible la funcionalidad de la ruta
	      var onSuccess = function() {

	        //Crear una variable que contendra solo la longitud y la latitud
	        var myLatLng 
	        //Creo un objeto con la latitud y la longitud
	        myLatLng = {lat: latitud , lng: longitud}
					// myLatLng = {lat: position.coords.latitude , lng: position.coords.longitude}

	        //Aquí es donde se crea el mapa
	        //cear un nuevo mapa y le dices en donde se dibujara
	        me.map = new google.maps.Map(document.getElementById('map'), {

	          //center: la ubicación
	          center: myLatLng,
	          //Zoom solo es la distancia a la que se vera el mapa
	          zoom: 15,
	          //activa el tipo de mapa para satelite o relieve
	          // mapTypeControl: true,
	          mapTypeControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
	              position: google.maps.ControlPosition.TOP_LEFT
	          },
	          //activa la función del control
	          zoomControl: true,
	          zoomControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.RIGHT_CENTER
	          },
	          //para definir el tipo de escala
	          scaleControl: true,
	          streetViewControl: false,
	          streetViewControlOptions: {
	              //Defines en donde quieres que se vea la opcion
	              position: google.maps.ControlPosition.LEFT_TOP
	          },
	          //activa la pantalla completa
	          fullscreenControl: true,

	          disableDefaultUI: true,

	      	});

	        var marker = new google.maps.Marker({
				    position: myLatLng,
				    map: me.map,
				    title: 'Localización'
				  });
				}
	       
	      function onError(error) {
	        alert('code: '    + error.code    + '\n' +
	            'message: ' + error.message + '\n');
	      }

	      //Aqui tu vas a mandar a llamar el mapa(se puede, no se puede)
	      navigator.geolocation.getCurrentPosition(onSuccess, onError);
	    },
		}
	}
</script>
<style scoped>
	 #map {
    height:350px;
    width: 100%;
    margin: 1px;
  }

</style>