<template>
  <v-carousel
  	class="pa-0"
    cycle
    hide-delimiter-background
    show-arrows-on-hover
    height="100%"
  >
    <v-carousel-item
      v-for="(slide, i) in slides"
      v-if="slide.base64 != ''"
      :key="i"

    >
      <v-sheet
        color="white"
      >
        <img :src="slide.base64" width="100%" height="100%">
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>
<script>
  export default {
    data () {
      return {
        slides: '',
      }
    },

    created(){
    	this.slides = this.$route.params.value
      console.log(this.$route.params.value)
    }
  }
</script>