<template>
  <v-data-table
    fixed-header
    height="440"
    class="elevation-2"
    dense
    hide-default-footer
    :items="promo"
    :items-per-page=200
    :headers="headers"
    :search="search"
  >
  
    <!-- EN EL SLOT TOP PONER UN TOOLBAR -->
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Promociones</v-toolbar-title>

        <div class="flex-grow-1"></div>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>

        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>

        <!-- BOTON EXCEL -->
        <v-btn 
          class="ma-2" 
          small dark color="warning"
          @click="exportar()">
          <v-icon>save_alt</v-icon>
        </v-btn>

        <!-- BOTON PDF -->
        <v-btn 
          class="ma-2" 
          small color="secondary"
          @click="crearPDF()">
          <v-icon>print</v-icon>
        </v-btn>

        <div class="flex-grow-1"></div>
        
        <v-dialog v-model="dialog" persistent max-width="500px">
          <template v-slot:activator="{ on }">
            <!-- NUEVO -->
            <v-btn
              align="right" 
              color="primary" dark small 
              class="ma-2"
              v-on="on">Nuevo</v-btn>
          </template>

          <!-- FORMA MODAL -->
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
              <v-spacer></v-spacer>
              <v-col  v-show="Mostrar" cols="12" sm="6" md="6">
                <v-text-field v-model="Id" label="ID"></v-text-field>
              </v-col>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" >
                    <v-text-field
                      v-model="numart"
                      label="Clave"
                      readonly
                    ></v-text-field>
                  </v-col>
                  
                <v-row>
                  <v-col cols="12" sm="12">
                     <v-autocomplete
                      label="Buscar artículo"
                      v-model="descrip"
                      clearable
                      append-icon="search"
                      :items="numartsArr"
                      @keyup.enter="busart(descrip)"
                      @input="inputart(descrip)"
                    ></v-autocomplete>  
                  </v-col>
                </v-row>

                </v-row>
                
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="date1"
                          label="Fecha Inicial"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker locale="ES" v-model="date1" @input="menu1 = false"></v-date-picker>
                    </v-menu>
                  </v-col>
                  
                  <v-col cols="12" sm="6" md="4">
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="date2"
                          label="Fecha Final"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker locale="ES"  v-model="date2" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                  </v-col>
 
                </v-row>

                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field 
                      class="font-weight-bold"
                      v-model="preciopub"                       
                      @keyup.enter="precio(preciopub)"
                      label="Precio Público">    
                    </v-text-field>
                  </v-col>
        
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field 
                      
                      class="font-weight-bold "
                      @change = "descuento(pjedesc)"
                      v-model="pjedesc" 
                      label="% Descuento">
                    </v-text-field>
                  </v-col>
                  
                </v-row>

              </v-container>
            </v-card-text>

            <v-card-actions > 
              <div class="mx-auto"></div>
              <v-btn color="warning" dark @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" dark @click="save">Grabar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>

    </template>


    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="cargarinfo(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Cargar</v-btn>
    </template>
  </v-data-table>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

var accounting = require("accounting");

  export default {
    mixins:[excelMixin],

    data: () => ({
      dialog: false,
      headers: [
        { text: 'Clave'   , align: 'left', value: 'numart'  },
        { text: 'Id'      , value: 'Id' },
        { text: 'Inicia'  , value: 'Fini' },
        { text: 'Termina' , value: 'Ffin' },
        { text: '% Descuento' , value: 'pjedesc' ,align: 'right'},
        { text: 'precio ' , value: 'preciopub' , align: 'right'},
        
        { text: 'Actions' , value: 'action', sortable: false },
      ],
      date1: new Date().toISOString().substr(0, 10),
      modal: false,
      menu1: false,
      date2: new Date().toISOString().substr(0, 10),
      modal2: false,
      menu2: false,
      Mostrar : false,
      search: '',
      editedIndex: -1,
      promo: [],
      Descuento: 0.00,
      Id: '',
      numart: '',
      descrip: '',
      Fini: '',
      Ffin: '',
      pjedesc: 0.00 ,
      preciopub: 0.00, 
      numartsArr:[],
      numartsAll:[],   
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nueva Promoción' : 'Editar Promoción'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },

      preciopublico (){

      },

    },

    created () {
      this.initialize()
    },

    methods: {
      // EXCEL
      exportar(){
        let xls = {
          data:      this.promo,
          tHeaders : ['Clave', 'Id', 'Inicia', 'Termina', '% Descuento', 'Precio'],
          filterVal: ['numart', 'Id', 'Fini', 'Ffin', 'pjedesc', 'preciopub'],
          nomfile :  "Consulta de Promociones"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF
      crearPDF() {
        var columns = [

            { title: 'Clave'   ,     dataKey: 'numart'  },
            { title: 'Id'      ,     dataKey: 'Id' },
            { title: 'Inicia'  ,     dataKey: 'Fini' },
            { title: 'Termina' ,     dataKey: 'Ffin' },
            { title: '% Descuento' , dataKey: 'pjedesc'},
            { title: 'Precio ' ,     dataKey: 'preciopub'},
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.promo, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Promociones", 40, 30);
          }
        });
        doc.save('Promociones.pdf');
      },

      //BUSCAR CLAVE DE ARTICULO
      busart(buscando){
        this.numartsArr = []
        this.numartsAll = []
        var payload = { BuscaArt : buscando}

        console.log(payload)
        this.$http.post('auth/api/v1/product.find',payload).then(response=>{
          this.numartsAll = response.body.Productos
          console.log(this.numartsAll)
          for (var i = response.body.Productos.length - 1; i >= 0; i--) {
            this.numartsArr.push(response.body.Productos[i].numart)
          }
        })
      },

      // Busca lo capturado en el arreglo de los productos descargados
      inputart(valor){
        console.log(valor)
        for (var i = this.numartsAll.length - 1; i >= 0; i--) {
          if(this.numartsAll[i].descrip === valor){
            
            this.numart = this.numartsAll[i].numart
            this.descrip = this.numartsAll[i].descrip
              console.log(valor +'  ' + this.numart + ' ' + this.descrip )          
          }
        }
      },


      precio (val){
        // console.log("precio", this.editItem)
        console.log (accounting.formatNumber(val,2))
        this.preciopub = accounting.formatNumber(val,2)
        console.log("precio formatNumber", this.preciopub)
      },

      descuento (val){
        console.log (accounting.formatNumber(val,2))
        this.pjedesc = accounting.formatNumber(val,2)
      },


      initialize () {
        //Consultar vendedores
        this.loading = true
        this.$http.get('auth/api/v1/promo.list').then( response => {
          console.log('Promo ', response.body)
                   
          for (var i = response.body.length - 1; i >= 0; i--) {
            response.body[i].preciopub = accounting.formatNumber(response.body[i].preciopub, 2)
            response.body[i].pjedesc   = accounting.formatNumber(response.body[i].Pjedesc, 2)                   
          }          

           this.promo = response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

      },     
    

      //CARGAR INFO
      cargarinfo (item) {
        //obtner el renlon del arreglo de objetos 
        //recibe el renglon seleccionado {"k": "v", "k": "v"}
        this.editedIndex = this.promo.indexOf(item)
        // this.editedItem = Object.assign({}, item)


        this.editItem = item 
        // console.log(this.editedItem.Id)
        this.Mostrar = true
        this.dialog = true
        console.log(item)

        this.date2 = item.Ffin
        this.date1 = item.Fini
        this.preciopub = item.preciopub
        this.pjedesc = item.pjedesc
        this.Id   = item.Id
        this.numart = item.numart
      },

      deleteItem (item) {
        console.log(item)
        var nIdpromo = item.Id
        console.log (nIdpromo)
        // this.loading = true
        this.$http.delete('auth/api/v1/promo.delete/' + nIdpromo).then( response => {
          console.log('Promo ', response.body)
          
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.initialize() 
          // this.loading = false
        }) 


      },

      //Cierra Ventana Modal y limpia el objeto a Editar. 
      close () {
        this.Mostrar= false
        this.dialog = false
        this.numart = ''
        this.descrip = ''
        this.numartsAll = []
        this.numartsArr = []
        setTimeout(() => {
          // this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        
        // console.log(this.editedItem.Id)

        var nIdVend = this.Id
        console.log (this.numart)
        
        var payload = {
            numart : this.numart,
            fini   : this.date1,
            ffin   : this.date2,
            preciopub : parseFloat(accounting.unformat(this.preciopub)),
            pjedesc   : parseFloat(accounting.unformat(this.pjedesc)) ,
            usada: 0, 
            limite: 0, 
            id: nIdVend         
        }

        this.date1 = ''
        this.date2 = ''
        this.preciopub= 0.0
        this.pjedesc=0.0

        console.log(payload)
        // Si ES UN vendedor Actual No tiene indice
        if (this.Id !== '') {
          // Object.assign(this.vend[this.editedIndex],   this.editedItem)
            console.log ("UPDATE", payload)
            this.$http.put('auth/api/v1/promo.update/' + nIdVend, payload).then( response => {
              console.log('Vend.insert', response.body)

            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              this.initialize() 
              // this.loading = false
            }) 
    
        // SI es un vendedor Nuevo. //API POST
        } else {
            console.log (payload)
            this.$http.post('auth/api/v1/promo.add', payload).then( response => {
              console.log('Vend.insert', response.body)
            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              this.initialize() 
              // this.loading = false
            }) 

        }
        this.close()
      },
    },
  }
</script>