<template>
  <v-data-table
    fixed-header
    height="440"
    class="elevation-2"
    dense
    hide-default-footer
    :items="promo"
    :items-per-page=200
    :headers="headers"
    :search="search"
  >
  
    <!-- EN EL SLOT TOP PONER UN TOOLBAR -->
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Promociones</v-toolbar-title>

        <div class="flex-grow-1"></div>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>

        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>

        <!-- BOTON EXCEL -->
        <v-btn 
          class="ma-2" 
          small dark color="warning"
          @click="exportar()">
          <v-icon>save_alt</v-icon>
        </v-btn>

        <!-- BOTON PDF -->
        <v-btn 
          class="ma-2" 
          small color="secondary"
          @click="crearPDF()">
          <v-icon>print</v-icon>
        </v-btn>

        <div class="flex-grow-1"></div>
        
        <!-- NUEVO -->
          <v-btn align="right" 
            color="primary" dark small 
            class="ma-2" 
            :to="{ name: 'newpromo2' }" >Nuevo
          </v-btn>
      </v-toolbar>
    </template>
    
    <template v-slot:item="{ item }" >
     <tr v-on:dblclick="edit(item)">
       <td>{{ item.numart}}</td>
       <td>{{ item.Id}}</td>
       <td>{{ item.Fini}}</td>
       <td>{{ item.Ffin}}</td>
       <td>{{ item.pjedesc}}</td>
       <td>{{ item.preciopub}}</td>
     </tr>
    </template>

  </v-data-table>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  var accounting = require("accounting");

  export default {
    mixins:[excelMixin],

    data: () => ({
      headers: [
        { text: 'Clave'   , align: 'left', value: 'numart'  },
        { text: 'Id'      , value: 'Id' },
        { text: 'Inicia'  , value: 'Fini' },
        { text: 'Termina' , value: 'Ffin' },
        { text: '% Descuento' , value: 'pjedesc'},
        { text: 'Precio' , value: 'preciopub'},
      ],
      search: '',
      promo: [],
      Descuento: 0.00,
      Id: '',
      numart: '',
      descrip: '',
      Fini: '',
      Ffin: '',
      pjedesc: 0.00 ,
      preciopub: 0.00, 
      numartsArr:[],
      numartsAll:[],   
    }),

  
    created () {
      this.initialize()
    },

    methods: {
      initialize () {
        //Consultar vendedores
        this.loading = true
        this.$http.get('auth/api/v1/promo.list').then( response => {
          console.log('Promo ', response.body)
                   
          for (var i = response.body.length - 1; i >= 0; i--) {
            response.body[i].preciopub = accounting.formatNumber(response.body[i].preciopub, 2)
            response.body[i].pjedesc   = accounting.formatNumber(response.body[i].Pjedesc, 2)                   
          }          

           this.promo = response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

      },

      // EXCEL
      exportar(){
        let xls = {
          data:      this.promo,
          tHeaders : ['Clave', 'Id', 'Inicia', 'Termina', '% Descuento', 'Precio'],
          filterVal: ['numart', 'Id', 'Fini', 'Ffin', 'pjedesc', 'preciopub'],
          nomfile :  "Consulta de Promociones"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF
      crearPDF() {
        var columns = [

            { title: 'Clave'   ,     dataKey: 'numart'  },
            { title: 'Id'      ,     dataKey: 'Id' },
            { title: 'Inicia'  ,     dataKey: 'Fini' },
            { title: 'Termina' ,     dataKey: 'Ffin' },
            { title: '% Descuento' , dataKey: 'pjedesc'},
            { title: 'Precio ' ,     dataKey: 'preciopub'},
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.promo, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Promociones", 40, 30);
          }
        });
        doc.save('Promociones.pdf');
      },

      edit(item){
        // console.log('item', item)
        this.$router.push({name:'newpromo2', params: {id: item, modo:2}})
      }

    
    },
  }
</script>