<template>  

  <v-container fluid class="grey lighten-5">
    
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
    </v-snackbar>
      
    <v-row
      class="mb-6"
      no-gutters
    >
      <v-col cols="12" sm="4" md="4">
        <!-- <v-card
          class="pa-2"
          cols="12"
          md="8"
        >
          <h3>Editar Departamento</h3>  

        </v-card> -->
        <v-card
          class="pa-2"
          cols="12"
          md="8"
          color="primary"
        >
          <div class="text-center">
          <span class="white--text">Editar Promoción</span>
          </div>
        </v-card>
      </v-col>

      <v-col cols="12" sm="4" md="4">
        <v-card-actions>
      
          <v-btn class="ma-1" small color="warnig" 
            :to="{name:'catdepartamentos'}" dark>Cancelar</v-btn>

          <v-btn class="ma-1" small color="success" @click="agregar">Guardar</v-btn>

        </v-card-actions>
      </v-col>

    </v-row>
		
		 <v-row>  
      <v-col cols="12" sm="4" md="4">
        <v-text-field
        label="Departamento"
        v-model ="DepartEd.Nomdep"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="4" md="4">
        <v-text-field
        label="Clave"
        v-model ="DepartEd.Valdep"
        ></v-text-field>
      </v-col>

      <v-col cols="12" sm="4" md="4">
        <v-switch v-model="DepartEd.Statusweb" label="Activo en tienda"></v-switch>
      </v-col>

	  </v-row>
	</v-container>
</template>

<script>
  export default {
    data () {
      return {

        DepartEd:[],
        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',

        Statusweb: false,
        Nomdep: '',
        Valdep: '',
    
      }
    },

    created(){
      this.busIdDepart(this.$route.params.id)
      this.idDepart=this.$route.params.id
      // console.log('PARAMETRO', this.$route.params.id)
    },

    computed:{
  
    	validaInfo(){
        return  this.DepartEd.Statusweb     !==  '' &&    
                this.DepartEd.Valdep  		  !==  '' &&
                this.DepartEd.Nomdep    		!==  '' 
      }
    },

    methods:{

    	// BUSCAR UN CLIENTE 
    busIdDepart(id){
      this.$http.get('api/v1/depart/' + id).then(
        response => {
        console.log(response.body) 
        this.DepartEd = response.body
        }).catch(function(error){
          console.log(error)
        })
    },
    
     agregar(){
    
     			if(!this.validaInfo){
              this.snackbar = true ; this.color="orange"
              this.text = "Faltan campos por agregar"
            return
          }

      const payload = {
      		Statusweb    : this.DepartEd.Statusweb,
      		Nomdep       : this.DepartEd.Nomdep,
	      	Valdep       : this.DepartEd.Valdep,
	      }

	     console.log('payload', payload)
	     var me = this 
	     this.$http.put('api/v1/depart/' + this.idDepart, payload).then(response => {
	     		console.log('response', response.body)

	     		this.snackbar = true ; 
          this.text = "El departamento se edito correctamente."
          setTimeout(function(){ me.$router.push({name: 'catdepartamentos'}) }, 2000);


	     }).catch(function(error){
          console.log(error)
        })
    	}

  }
};
</script>
