<template>
  <v-container>
  	<v-row>
  		<v-col cols="12">
  			<v-card>
          <v-card-title color="primary">{{ formTitle }}
            <v-col  v-show="Mostrar" cols="12" sm="6" md="2">
              <v-text-field v-model="Id" label="ID"></v-text-field>
            </v-col>

            <v-spacer></v-spacer>

	          <v-card-actions> 
	            <div class="mx-auto"></div>
	            <v-btn color="primary" small :to="{ name: 'catpromo2' }" >Atras</v-btn>
	            <v-btn color="secondary" small @click="deleteItem">Eliminar</v-btn>
	            <v-btn color="success" small @click="validaInfo">Grabar</v-btn>
	          </v-card-actions>
          </v-card-title>

          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="8">
                   <v-autocomplete
                    label="Buscar artículo"
                    v-model="descrip"
                    clearable
                    append-icon="search"
                    :items="numartsArr"
                    @keyup.enter="busArt(descrip)"
                    @input="inputart(descrip)"
                  ></v-autocomplete>  
                </v-col>

                <v-col cols="12" sm="2" md="4">
                  <v-text-field
                    v-model="numart"
                    label="Clave"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="date1"
                        label="Fecha Inicial"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker locale="ES" v-model="date1" @input="menu1 = false"></v-date-picker>
                  </v-menu>
                </v-col>
                
                <v-col cols="12" sm="6" md="4">
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="date2"
                        label="Fecha Final"
                        prepend-icon="event"
                        readonly
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker locale="ES"  v-model="date2" @input="menu2 = false"></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="2" md="4">
                	<v-text-field 
                    class="font-weight-bold "
                    @change = "descuento(pjedesc)"
                    v-model="pjedesc" 
                    readonly
                    label="% Descuento">
                  </v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field 
                    class="font-weight-bold"
                    readonly
                    v-model="preciopub"                       
                    @keyup.enter="precio(preciopub)"
                    label="Precio Público">    
                  </v-text-field>
                </v-col>
      
                <v-col cols="12" sm="6" md="4">
                  <v-text-field 
                    class="font-weight-bold"
                    v-model="preciodesc"                       
                    @keyup.enter="precioDesc(preciodesc)"
                    label="Precio Promoción">    
                  </v-text-field>
                </v-col>
              </v-row>
            </v-container>
					  <v-snackbar
					    v-model="snackbar"
					    :timeout="8000"
					    top
					    :color="color" 
					    >
					    {{text}}
					      <v-btn
					        color="white"
					        text
					        @click="snackbar = false"
					      >
					        Cerrar
					      </v-btn>
					  </v-snackbar>
          </v-card-text>
        </v-card>
  		</v-col>
  	</v-row>
  </v-container>
</template>

<script>
var base64 = require('base-64');

var accounting = require("accounting");

  export default {   
    data: () => ({
      date1: new Date().toISOString().substr(0, 10),
      modal: false,
      menu1: false,
      date2: new Date().toISOString().substr(0, 10),
      modal2: false,
      menu2: false,
      Mostrar : false,
      search: '',
      promo: [],
      Descuento: 0.00,
      Id: '',
      numart: '',
      descrip: '',
      Fini: '',
      Ffin: '',
      pjedesc: 0.00 ,
      preciopub: 0.00,
      preciodesc: 0.00, 
      numartsArr:[],
      numartsAll:[],
      PromoEd:[],   
      modo:'',
      snackbar: false,
      text    : '',
		  color   : '',
    }),

    created () {
    	// Se hace una comparacion si de edita o agrega una promocion
      if (this.$route.params.id !== undefined){
        this.nModo = 2
	      this.Id = this.$route.params.id.Id
	      this.preciodesc = this.$route.params.id.preciopub
        this.cargarinfo(this.$route.params.id) 
        this.getArt(this.$route.params.id.numart)
      } else {
      	this.Id = ''
        this.nModo = 1
      }     
	  },

    computed: {
	    formTitle () {
	    	// Se definen los titulos de la vista Nuevo y Edit
        return this.nModo == 1 ? 'Nueva Promoción' : 'Editar Promoción'
	    },
	  },

    methods: {
      validaInfo(){
        console.log(typeof(this.preciodesc))
        if(this.preciodesc >= this.preciopub ){
          this.text = 'El precio de promoción no pueder ser mayor o igual al precio actual'
          this.color = 'error'
          this.snackbar = true
          return
        }

        if(this.preciodesc <= 0 ){
          this.text = 'El precio de promoción debe de ser mayor a 0'
          this.color = 'error'
          this.snackbar = true
          return
        }

        if(this.descrip == ''){
          this.text = 'Verficia que hayas llenado todos los campos'
          this.color = 'error'
          this.snackbar = true
          return  
        }

        this.save()
      },

      //BUSCAR NOMBRE DE ARTICULO
      busArt(buscando){
        this.numartsArr = []
        this.numartsAll = []
        var payload = { BuscaArt : buscando}

        // console.log('lo que envio',payload)
        this.$http.post('auth/api/v1/product.find',payload).then(response=>{
        	// console.log('busArt',response.body)
          this.numartsAll = response.body.Productos
          console.log(this.numartsAll = response.body.Productos)
          for (var i = response.body.Productos.length - 1; i >= 0; i--) {
            this.numartsArr.push(response.body.Productos[i].descrip)
          }
        })
      },

      // Busca lo capturado en el arreglo de los productos descargados
      inputart(valor){
        for (var i = this.numartsAll.length - 1; i >= 0; i--) {
        if(this.numartsAll[i].descrip === valor){
            this.numart = this.numartsAll[i].numart.trim()
		        this.getArt(this.numart)
            this.descrip = this.numartsAll[i].descrip
          }
        }
      },

      // Se recibe como parametro numart
      getArt(value){
      	// console.log('lo que envio', response.body)
      	this.$http.get('api/v1/product.info/' + value).then(response=>{
      		console.log('getArt', response.body)
        	this.preciopub = response.body.preciopub
        	this.numartsArr.push(response.body.Descrip)
        	this.descrip = response.body.Descrip
        })
      },

      precio (val){
        this.preciopub = accounting.formatNumber(val,2)
      },

      precioDesc (val){
        this.preciodesc = accounting.formatNumber(val,2)
      },

      descuento (val){
        this.pjedesc = accounting.formatNumber(val,2)
      }, 
    
      //Se cargan los datos correspondientes del articulo
      cargarinfo (item) {
        this.editItem = item 
        this.Mostrar = true
        this.date2 = item.Ffin
        this.date1 = item.Fini
        this.pjedesc = item.pjedesc
        this.numart = item.numart
        this.descrip = item.descrip
      },

      deleteItem () {
        this.$http.delete('auth/api/v1/promo.delete/' + this.Id).then( response => {
          console.log('Promo ', response.body)
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.$router.push({name:'catpromo2'})
        }) 
      },

      save () {
      	// VALIDA INFO
      	var me = this
        // if(!this.validaInfo){
        //     this.snackbar = true ;
        //     this.text = "Faltan campos por agregar o Verifique el precio de promoción";
        //   return
        // }

        var payload = {
            numart : this.numart,
            fini   : this.date1,
            ffin   : this.date2,
            preciopub : parseFloat(accounting.unformat(this.preciodesc)),
            preciodesc : parseFloat(accounting.unformat(this.preciodesc)),
            pjedesc   : parseFloat(accounting.unformat(this.pjedesc)) ,
            usada: 0, 
            limite: 0, 
            id: this.Id         
        }

        this.date1 = ''
        this.date2 = ''
        this.preciopub= 0.0
        this.preciodesc= 0.0
        this.pjedesc=0.0

        console.log(payload)
        // Si es una promocion actual
        if (this.nModo == 2) {
          // Object.assign(this.vend[this.editedIndex],   this.editedItem)
            this.$http.put('auth/api/v1/promo.update/' + this.Id, payload).then( response => {
              console.log('Vend.insert', response.body)

              this.snackbar = true ; this.color="secondary"
              this.text = "La promoción se editó correctamente."
              setTimeout(function(){ me.$router.push({name: 'catpromo2'}) }, 2000);

            }).catch(error => {
              console.log(error)
            })
    
        // SI es una promocion Nueva. //API POST
        } else {
            this.$http.post('auth/api/v1/promo.add', payload).then( response => {
              console.log('Vend.insert', response.body)

              this.snackbar = true ; this.color="secondary"
              this.text = "La promoción se guardó correctamente."
              setTimeout(function(){ me.$router.push({name: 'catpromo2'}) }, 2000);

            }).catch(error => {
              console.log(error)
            }) 
        }
      },
    },
  }
</script>