<template>	

  <v-container fluid class="grey lighten-5">
    
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
    </v-snackbar>
      
    <v-row
      class="mb-6"
      no-gutters
    >
      <v-col cols="12" sm="4" md="4">
        <!-- <v-card
          class="pa-2"
          cols="12"
          md="8"
        >
          <h3>Nuevo Departamento</h3>  

        </v-card> -->
        <v-card
          class="pa-2"
          cols="12"
          md="8"
          color="primary"
        >
          <div class="text-center">
            <span class="white--text">Nuevo Departamento</span>
          </div>
        </v-card>
      </v-col>

      <v-col cols="12" sm="4" md="4">
      	<v-card-actions>
      
          <v-btn class="ma-1" small color="warnig" 
            :to="{name:'catdepartamentos'}" dark>Cancelar</v-btn>

  		    <v-btn class="ma-1" small color="success" @click="agregar">Guardar</v-btn>

        </v-card-actions>
      </v-col>

	  </v-row>	
  
    <v-row>  
      <v-col cols="12" sm="4" md="6">
	  		<v-text-field
	  	  label="Departamento"
	  	  v-model ="Nomdep"
	  		></v-text-field>
		  </v-col>

		  <v-col cols="12" sm="4" md="6">
	  		<v-text-field
	  	  label="Clave"
	  	  v-model ="Valdep"
	  		></v-text-field>
		  </v-col>

      <v-col cols="12" sm="4" md="6">
  		  <v-switch v-model="Statusweb" label="Activo en tienda"></v-switch>
      </v-col> 
             
    </v-row>
    
  </v-container>
</template>

	
	    
</template>

<script>
  export default {
    data () {
      return {
        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',

        Statusweb: false,
        Nomdep: '',
        Valdep: '',
      }
    },

    computed:{
  
        validaInfo(){
        return  this.Statusweb    		!==  '' &&       
                this.Nomdep  		      !==  '' &&
                this.Valdep       		!==  '' 
      }
    },

    created () {
      
    },

    watch:{
    },

    methods:{
    
     agregar(){
    
     			if(!this.validaInfo){
              this.snackbar = true ; this.color="orange"
              this.text = "Faltan campos por agregar"
            return
          }

      const payload = {
      		Statusweb   : this.Statusweb,
      		Nomdep      : this.Nomdep,
	      	Valdep      : this.Valdep,
	      }

	     console.log('payload', payload)
	     var me = this 
	     this.$http.post('auth/api/v1/deptos.list', payload).then(response => {
	     		// console.log('response', response.body)

	     		this.snackbar = true ; this.color="blue lighten-3"
          this.text = "El departamento se guardo correctamente."
          setTimeout(function(){ me.$router.push({name: 'catdepartamentos'}) }, 2000);


	     }).catch(function(error){
          console.log(error)
       })
    	}

  
	}
};
</script>
