<template>
  <v-container >
  	<v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      :color="color"
    >
      {{text}}
      <v-btn
        dark
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-row>
      <v-col cols="12">
        <v-row>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card>
		      	  <v-card-title primary-title>
		      	      <v-btn class="ml-1"   dark :color="primario" >   Principal   </v-btn>
		      	  </v-card-title>
		      	  <v-card-text align="center">
      					<v-color-picker v-model="primario" show-swatches hide-inputs hide-canvas></v-color-picker>
		      	  </v-card-text>
		      	</v-card>
		      </v-col>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card>
		      	  <v-card-title primary-title>
		      	     <v-btn class="ml-1"  dark :color="secondary">  Secundario  </v-btn>
		      	  </v-card-title>
		      	  <v-card-text align="center">
      					<v-color-picker v-model="secondary" show-swatches hide-inputs hide-canvas></v-color-picker>
		      	  </v-card-text>
		      	</v-card>
		      </v-col>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card>
		      	  <v-card-title primary-title>
		      	     <v-btn class="ml-1"  dark :color="success">    Completado  </v-btn>
		      	  </v-card-title>
		      	  <v-card-text align="center">
      					<v-color-picker v-model="success" show-swatches hide-inputs hide-canvas></v-color-picker>
		      	  </v-card-text>
		      	</v-card>
		      </v-col>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card>
		      	  <v-card-title primary-title>
		      	     <v-btn class="ml-1"  dark :color="info">       Informativo </v-btn>
		      	  </v-card-title>
		      	  <v-card-text align="center">
      					<v-color-picker v-model="info" show-swatches hide-inputs hide-canvas></v-color-picker>
		      	  </v-card-text>
		      	</v-card>
		      </v-col>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card>
		      	  <v-card-title primary-title>
		      	     <v-btn class="ml-1"  dark :color="errores">      Error       </v-btn>
		      	  </v-card-title>
		      	  <v-card-text align="center">
      					<v-color-picker v-model="errores" show-swatches hide-inputs hide-canvas></v-color-picker>
		      	  </v-card-text>
		      	</v-card>
		      </v-col>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card>
		      	  <v-card-title primary-title>
		      	     <v-btn class="ml-1"  dark :color="warning">    Advertencia </v-btn>
		      	  </v-card-title>
		      	  <v-card-text align="center">
      					<v-color-picker v-model="warning" show-swatches hide-inputs hide-canvas></v-color-picker>
		      	  </v-card-text>
		      	</v-card>
		      </v-col>
		      <v-col cols="12" xl="2"  lg="3" md="3" sm="4" xs="12">
		      	<v-card class="elevation-0">
		      	  <v-card-actions>
		      	    <v-btn color="primary" @click="update">Actualizar</v-btn>
		      	  </v-card-actions>
		      	</v-card>
		      </v-col>
		    </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
	import {mapGetters, mapActions} from 'vuex'
  export default {
    data: () => ({
      primario:'#000000',
      secondary:'#000000',
      success:'#000000',
      info:'#000000',
      errores:'#000000',
      warning:'#000000',
      snackbar:false,
      text:'',
      color:'',
    }),

    created(){
    	this.traerTema().then(respuesta=>{
	    	// console.log(this.getTema)
	    	this.primario  = this.getTema.primario
	    	this.secondary = this.getTema.secundario
	    	this.success   = this.getTema.Success
	    	this.info      = this.getTema.Info
	    	this.errores   = this.getTema.errores
	    	this.warning   = this.getTema.Warning

    	})

    },

    computed:{
    	...mapGetters('tema',['getTema'])
    },

    methods:{
    	...mapActions('tema',['traerTema']),

    	update(){
    		var payload = {
    			Id:  this.getTema.Id,
    			Primario: this.primario,
    			Secundario: this.secondary,
    			Success: this.success,
    			Info: this.info,
    			Errores: this.errores,
    			Warning: this.warning,
    		}

    		this.$http.put('api/v1/tema.update/'+ 1, payload).then(respuesta=>{
    			this.text = 'Tema Administrado actualizado'
          this.snackbar = true
          this.color = 'success'
					this.traerTema()
		    }).catch(function(error){console.log('error',error)})
    	}
    }

  }
</script>