<template>
  <v-data-table
    fixed-header
    height="440"
    :headers="headers"
    dense
    :items="vend"
    sort-by="calories"
    class="elevation-2"      
    :search="search"
  >
  
    <!-- EN EL SLOT TOP PONER UN TOOLBAR -->
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Vendedores</v-toolbar-title>

        <div class="flex-grow-1"></div>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>

        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>

        <!-- BOTON EXCEL -->
        <v-btn 
          class="ma-2" 
          small dark color="warning"
          @click="exportar()">
          <v-icon>save_alt</v-icon>
        </v-btn>

        <!-- BOTON PDF -->
        <v-btn 
          class="ma-2" 
          small color="secondary"
          @click="crearPDF()">
          <v-icon>print</v-icon>
        </v-btn>
        
        <div class="flex-grow-1"></div>
        
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <!-- NUEVO -->
            <v-btn 
              align="right" 
              color="primary" dark small 
              class="ma-2"
              v-on="on">Nuevo</v-btn>
          </template>

          <!-- FORMA MODAL -->
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.Nomvend" label="Nombre del Vendedor"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.Email" label="Email"></v-text-field>
                  </v-col>
                  
                </v-row>
              <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.telefono" label="Telefono"></v-text-field>
                  </v-col>
                 
                  <v-col  v-show="Mostrar" cols="12" sm="6" md="6">
                    <v-text-field v-model="editedItem.IDvend" label="ID"></v-text-field>
                  </v-col>
                </v-row>

              </v-container>
            </v-card-text>

            <v-card-actions>
              <div class="Mostrar"></div>
              <v-btn color="warning" dark @click="close">Cancel</v-btn>
              <v-btn color="blue darken-1" dark @click="save">Grabar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>

    </template>


    <template v-slot:item.action="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        edit
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Cargar</v-btn>
    </template>
  </v-data-table>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  export default {
    mixins:[excelMixin],
    data: () => ({
      dialog: false,
      headers: [
        { text: 'Nombre', align: 'left', value: 'Nomvend'  },
        { text: 'IDvend', value: 'IDvend' },
        { text: 'Email', value: 'Email' },
        { text: 'Telefono', value: 'telefono' },
        { text: 'Actions', value: 'action', sortable: false },
      ],

      Mostrar : false,

      search: '',
      vend: [],
      editedIndex: -1,
      


      editedItem: {
        Nomvend: '',
        IDvend: 0,
        Email: '',
        telefono: ''
      },
      
      defaultItem: {
        Nomvend: '',
        IDvend: 0,
        Email: '',
        telefono: ''
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo Vendedor' : 'Editar Vendoedor'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
      exportar(){
        let xls = {
          data:      this.vend,
          tHeaders : ['Nombre', 'IDvend', 'Email', 'Telefono',],
          filterVal: ['Nomvend', 'IDvend', 'Email', 'telefono',],
          nomfile :  "Consulta de Vendedores"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF
      crearPDF() {
        var columns = [

            { title: 'Nombre',      dataKey: 'Nomvend'  },
            { title: 'IDvend',      dataKey: 'IDvend' },
            { title: 'Email',       dataKey: 'Email' },
            { title: 'Telefono',    dataKey: 'telefono' },
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.vend, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Vendedores", 40, 30);
          }
        });
        doc.save('Vendedores.pdf');
      },

      initialize () {

        //Consultar vendedores
        this.loading = true
        this.$http.get('auth/api/v1/vend.list').then( response => {
          console.log('Vend ', response.body)
          this.vend = response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

      },     
    

      editItem (item) {
        //obtner el renlon del arreglo de objetos 
        //recibe el renglon seleccionado {"k": "v", "k": "v"}
        this.editedIndex = this.vend.indexOf(item)
        this.editedItem = Object.assign({}, item)
        console.log(this.editedItem.IDvend)
        this.Mostrar = true
        this.dialog = true

      },

      deleteItem (item) {

        const index = this.vend.indexOf(item)
        confirm('Are you sure you want to delete this item?') && this.vend.splice(index, 1)

        //obtner el renlon del arreglo de objetos 
        //recibe el renglon seleccionado {"k": "v", "k": "v"}
        this.editedIndex = this.vend.indexOf(item)
        this.editedItem = Object.assign({}, item)
        //console.log(this.editedItem.IDvend)


        var nIdVend = this.editedItem.IDvend
        console.log (nIdVend)
        //Consultar vendedores
        // this.loading = true
        this.$http.delete('auth/api/v1/vend/' + nIdVend).then( response => {
          console.log('Vend ', response.body)
          
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.initialize() 
          // this.loading = false
        }) 


      },

      //Cierra Ventana Modal y limpia el objeto a Editar. 
      close () {
        this.Mostrar= false
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        
        console.log(this.editedItem.IDvend)
        var nIdVend = this.editedItem.IDvend
        console.log (this.editedItem.Nomvend)
        
        var payload = {
            Nomvend : this.editedItem.Nomvend,
            Email   : this.editedItem.Email,
            telefono: this.editedItem.telefono 
        }

        // Si ES UN vendedor Actual No tiene indice
        if (this.editedIndex > -1) {
          // Object.assign(this.vend[this.editedIndex],   this.editedItem)
            console.log (payload)
            this.$http.put('auth/api/v1/vend.update/' + nIdVend, payload).then( response => {
              console.log('Vend.insert', response.body)

            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              this.initialize() 
              // this.loading = false
            }) 
    

        // SI es un vendedor Nuevo.
        } else {
          // this.vend.push(this.editedItem)

          //API POST
            console.log (payload)
            this.$http.post('auth/api/v1/vend.add', payload).then( response => {
              console.log('Vend.insert', response.body)

            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              this.initialize() 
              // this.loading = false
            }) 

        }
        this.close()
      },
    },
  }
</script>