<template>
  <v-container>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col cols="12">
             <v-toolbar class="elevation-0 transparent">
              <v-toolbar-title>Categoría</v-toolbar-title> 
        
              <v-spacer></v-spacer>

              <v-text-field
                v-model="search"
                append-icon="search"
                label="Buscar Categoría"
                single-line
                hide-details
              ></v-text-field>
              <v-spacer></v-spacer>
            
              <!-- NUEVO DEPARTAMENTO -->
              <v-btn align="right" 
                color="primary" dark small
                class="ma-2"  
                :to="{ name: 'newdepartamento' }" >Nuevo
              </v-btn>

              <!-- BOTON EXCEL -->
              <v-btn
                class='ma-2' 
                small dark color= "warning"
                @click="exportar()">
                <v-icon>save_alt</v-icon>
              </v-btn>

              <!-- BOTON PDF -->
              <v-btn
                class='ma-2' 
                small color="secondary"
                @click="crearPDF()">
                <v-icon>print</v-icon>
              </v-btn>
            </v-toolbar>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="12" > 
            <v-data-table
              :loading="loading" 
              loading-text="Cargando..."
              :headers="headers"
              :items="Deptos"
              :items-per-page="longitud"
              class="elevation-1"
              fixed-header
              height="440"
              :search="search"
              hide-default-footer
            >
              <template v-slot:item="{ item }" >
               <tr v-on:dblclick="edit(item.id)">
                 <td>{{ item.id}}</td>
                 <td>{{ item.nomdep}}</td>
                 <td>{{ item.numdep}}</td>
                 <td><v-checkbox  readonly v-model="item.statusweb"></v-checkbox></td>
               </tr>
             </template>

            </v-data-table>
          </v-col>
        </v-row>
        
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  export default {
    mixins:[excelMixin],

    data () {
      return {
        loading: true,
        longitud: 5,


        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        search: '',
        headers: [
          { text: 'ID', align:    'left', sortable: false, value: 'Id' },
          { text: 'Categoría'  , value: 'Nomdep' },
          { text: 'Clave'         , value: 'Valdep' },
          { text: 'Activo'      , value: 'statusweb' },
        ],

        Clientes: [{}],
        Deptos: [],
      }
    },

    created () {

      this.consultar()
    },

    methods:{
      // EXCEL
      exportar(){
        let xls = {
          data:     this.Deptos, 
          tHeaders : ['ID', 'Categoría', 'Clave'],
          filterVal: ['Id', 'Nomdep', 'Valdep'],
          nomfile : "Consulta de Departamentos"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },
        

      // FORMATO PDF
      crearPDF() {
        var columns = [
            { title: 'ID',               dataKey: 'Id' },
            { title: 'Categoría' ,    dataKey: 'Nomdep' },
            { title: 'Clave',            dataKey: 'Valdep' },
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.Deptos, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Departamentos", 40, 30);
          }
        });
        doc.save('Departamentos.pdf');

      },

      // Consulto todos los departamentos
      consultar(){
        this.loading = true
        this.$http.get('v1/deptos.list').then(response=>{
          // console.log('response', response.body)
          this.Deptos = response.body
          this.longitud = this.Deptos.length
          // console.log(me.Deptos)  
        }).catch(error=>{
          console.log(error)
        }).finally(()  => this.loading = false) 
      },

      edit(item){
        // console.log('item', item)
        this.$router.push({name:'editdepartamento', params: {id: item}})
      }

    }
  };
</script>