<template>
  <v-form 
    v-model="valid">
    <!-- SNACK BAR -->
      <v-snackbar
        v-model="snackbar"
        :timeout="8000"
        top
        :color="color" 
        >
        {{text}}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
      </v-snackbar>
    
    <v-container>
      
      <v-row>
        <v-card
          class="mx-auto"
          max-width="400"
        >
          <v-col  cols="12" sm="12" class="mb-4 ">
          <v-toolbar class="elevation-0 transparent">
            <v-toolbar-title > Editar Categoría </v-toolbar-title>
          </v-toolbar>

          <v-divider></v-divider>
  
            <!-- DEPTO -->
            <v-text-field
              v-model="DepartEd.nomdep"
              :rules="nomdepRules"              
              label="Departamento"
              required
            ></v-text-field>
            
            <v-text-field
              v-model="DepartEd.numdep"
              :rules="nomdepRules"              
              label="Clave"
              required
            ></v-text-field>

           <!--  <v-text-field
              v-model="DepartEd.Valdep"
              :rules="ValdepRules"
              :counter="5"
              maxlength="5"
              label="Clave"
              required
            ></v-text-field> -->

            
            <v-switch 
              v-model="DepartEd.statusweb" 
              label="Activo en tienda">    
            </v-switch>

          <v-card-actions>
            <v-btn  
              small 
              @click.prevent="agregar"
              color="success">Grabar
            </v-btn> 

            <v-btn
              small   
              @click.prevent="borrar"
              color="secondary">Eliminar
            </v-btn> 

            <v-btn color="primary" small :to="{name:'catdepartamentos'}"><v-icon>keyboard_arrow_left</v-icon></v-btn>
          </v-card-actions>

          </v-col>
        </v-card>      
      </v-row>
    </v-container>
  </v-form>
</template>
  
      
<script>
  export default {
    data () {
      return {
        DepartEd:[],

        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',

        statusweb: false,
        nomdep: '',
        Valdep: '',
        valid: false,
        
        nomdepRules: [
        v => !!v || 'El nombre es requerido',
        // v => v.length <= 10 || 'Name must be less than 10 characters',
        ],
        ValdepRules: [
          v => !!v || 'La clave del Departamento es requerida.',
         
        ],

      }
    },

    computed:{
      validaInfo(){
        return  this.DepartEd.statusweb        !==  '' &&       
                this.DepartEd.nomdep           !==  '' &&
                this.DepartEd.numdep           !==  '' 
      }
    },

    created(){
      this.busIdDepart(this.$route.params.id)
      this.idDepart=this.$route.params.id
      // console.log('PARAMETRO', this.$route.params.id)
    },

    computed:{
  
      validaInfo(){
        return  this.DepartEd.statusweb     !==  '' &&    
                this.DepartEd.numdep        !==  '' &&
                this.DepartEd.nomdep        !==  '' 
      }
    },

    methods:{

      // CARGAR INFO
      busIdDepart(id){
        this.$http.get('v1/deptos.list/' + id).then(
          response => {
          // console.log(response.body) 
         
          // CONVIERTE DE UNO A TRUE
          response.body[0].statusweb = !!response.body[0].statusweb
          // console.log(response.body[0])
          
          this.DepartEd = response.body[0]
          }).catch(function(error){
            console.log(error)
          })
      },

      agregar(){
    
        if(!this.validaInfo){
            this.snackbar = true ; this.color="orange"
            this.text = "Faltan campos por agregar"
          return
        }

        var nstatus = +this.DepartEd.statusweb
        // let cValdep = this.DepartEd.Valdep.padStart(3 ,' ')
        // let cNumdep = this.DepartEd.Valdep.trim()
        // console.log ("padl de 11" +cNumdep)
        
        // const payload = {
        //   statusweb    : nstatus,
        //   nomdep       : this.DepartEd.nomdep,
        //   Valdep       : cValdep,
        //   Numdep       : cNumdep
        // }

        const payload = {
          statusweb    : nstatus,
          nomdep       : this.DepartEd.nomdep,
          numdep       : this.DepartEd.numdep,
        }

        // console.log('payload', payload)
        var me = this 
        this.$http.put('v1/deptos.update/' + this.idDepart, payload).then(response => {
          // console.log('response', response.body)

          this.snackbar = true ; 
          this.text = "El departamento se edito correctamente."
          this.$router.push({ name: 'catdepartamentos'})          
          // setTimeout(function(){ me.$router.push({name: 'catdepartamentos'}) }, 2000);


       }).catch(function(error){
          console.log(error)
        })
      },

      borrar(){
        
        this.$http.delete('auth/api/v1/deptos.delete/' + this.idDepart).then(response => {
          // console.log('response', response.body)

          this.snackbar = true ; 
          this.text = "El departamento se ha Eliminado."
          setTimeout (() => this.$router.push({name: 'catdepartamentos'}),2000) 
           

       }).catch(function(error){
          console.log(error)
        })
      },  

  }
};
</script>
