<template> <v-form
    v-model="valid">
    
    <v-container>
      <!-- SNACK BAR -->
      <v-snackbar
        v-model="snackbar"
        :timeout="8000"
        top
        :color="color" 
        >
        {{text}}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
      </v-snackbar>
      
      <v-row>
        <v-card
          class="mx-auto"
          max-width="500"
        >     
          
          <v-col
          cols="12"
          >
       

            <v-toolbar class="elevation-0 transparent">
                <v-toolbar-title > Nueva Categoría </v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>

            <!-- DEPTO -->
            <v-text-field
              v-model="nomdep"
              :rules="NomdepRules"
              
              label="Categoría"
              required
            ></v-text-field>
          

            <v-text-field
              v-model="numdep"
              :rules="ValdepRules"
              :counter="5"
              label="Clave"
              required
            ></v-text-field>
            
            <v-switch 
              v-model="statusweb" 
              label="Activo en tienda">    
            </v-switch>
          </v-col>
          
          <v-card-actions>
           <v-btn  
            small 
            @click.prevent="agregar"
            :disabled= "disabled"
            color="success">Grabar</v-btn>
            <v-spacer></v-spacer>
            <v-btn color="primary" small :to="{name:'catdepartamentos'}"><v-icon>keyboard_arrow_left</v-icon></v-btn>  
          </v-card-actions>

        </v-card>
      </v-row>
    </v-container>
  </v-form>
</template>
	
	    
<script>
  export default {
    data () {
      return {
        nomdep:'',
        numdep:'',
        disabled: false,
        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',

        statusweb: false,
        Nomdep: '',
        Valdep: '',
        valid: false,
        
        NomdepRules: [
        v => !!v || 'El nombre es requerido',
        v => v.length <= 30 || 'Tamaño sobre pasa a los 30 caracteres',
        ],
        ValdepRules: [
          v => !!v || 'La clave del Departamento es requerida.',
         
        ],

      }
    },

    computed:{
        validaInfo(){
        return  this.statusweb    		!==  '' &&       
                this.nomdep  		      !==  '' 
                // &&
                // this.valdep       		!==  '' 
      }
    },

    methods:{
    
     agregar(){

 			if(!this.validaInfo){
          this.snackbar = true ; this.color="orange"
          this.text = "Faltan campos por agregar"
        return
      }

      this.disabled= true

      var nstatus = +this.statusweb

        // let cValdep = this.valdep
        // let cValdep = this.Valdep.padStart(3 ,' ')
        // let cNumdep = this.valdep

        const payload = {
          nomdep       : this.nomdep,
          // valdep       : cValdep,
          numdep       : this.numdep,
          statusweb    : nstatus,
        }

	     console.log('payload', payload)
       var me = this
	     this.$http.post('v1/deptos.add', payload).then(response => {
	     		// console.log('response', response.body)
	     		this.snackbar = true ; this.color="blue lighten-3"
          this.text = "La categoría se guardo correctamente."
          setTimeout(function(){ me.$router.push({name: 'catdepartamentos'}) }, 2000);

	     }).catch(error=>{
          console.log(error)
       })
    	}

  
	}
};
</script>
