<template>
<v-container>
  <v-row>
    <v-col cols="12" >

      <v-toolbar dark color="primary">
        <v-toolbar-title>Clientes</v-toolbar-title>
        
        <v-spacer></v-spacer>

        <v-text-field
          v-model="search"
          append-icon="search"
          label="Buscar Cliente"
          single-line
          hide-details
          dark 
        ></v-text-field>
        
        <v-spacer></v-spacer>
      
        <!-- //NUEVO -->
        <v-btn align="right" 
          color="primary" dark small
          class="ma-2" 
          :to="{ name: 'newcliente' }" >Nuevo
        </v-btn>


        <!-- BOTON EXCEL -->
        <v-btn
          class='ma-2' 
          small dark color= "warning"
          @click="exportar()">
          <v-icon>save_alt</v-icon>
        </v-btn>

        <!-- BOTON PDF -->
        <v-btn
          class='ma-2' 
          small color="secondary"
          @click="crearPDF()">
          <v-icon>print</v-icon>
        </v-btn>
      </v-toolbar>
    </v-col>
  </v-row>  

  <v-row>
    <v-col col="12" >
      <!-- TABLA -->
        <v-data-table
          :loading="loading" 
          :headers="headers"
          :items="Clientes"
          :search="search"
          :items-per-page="Clientes.length"
          hide-default-footer
          class="elevation-1"
          loading-text="Cargando..."
          dense
          fixed-header
          height="440"
        
        >
          <template v-slot:item="{ item }" >
           <tr v-on:dblclick="edit(item.idweb)">
             <td>{{ item.idweb}}</td>
             <td>{{ item.nomcli}}</td>
             <td>{{ item.nomcomer}}</td>
           </tr>
         </template>

        </v-data-table>
      </v-col>
    </v-row>  
  </v-row>

</v-container>

</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable';
  import excelMixin from '@/mixins/excelMixin.js';


  export default {
    mixins:[excelMixin],

    data () {
      return {
        loading: true,
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        search: '',
        headers: [
          { text: 'ID', align: 'left',sortable: false, value: 'idweb' },
          { text: 'Nombre'          , value: 'nomcli' },
          { text: 'Nombre Comercial', value: 'nomcomer' },
        ],

        Clientes: [{}],
        nomclis :[],

        clientesAll: [],
        clientesArr:[],

        descriptionLimit: 60,
        entries: [],
        isLoading: false,
        model: null,
        search2: null,

      }
    },

    created () {
     this.consultar()
    },

    methods:{

      exportar(){
        let xls = {
          data:     this.Clientes, 
          tHeaders : ['ID', 'Nombre', 'Nombre Comercial'],
          filterVal: ['idweb', 'nomcli', 'nomcomer'],
          nomfile : "Consulta de Clientes"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },
        

      // FORMATO PDF
      crearPDF() {
        var columns = [
            { title: 'ID',               dataKey: 'idweb' },
            { title: 'Nombre'          , dataKey: 'nomcli' },
            { title: 'Nombre Comercial', dataKey: 'nomcomer' },
        ];

        // var rows = [];
        // this.Clientes.map(function(x){
        //   rows.push({
        //         idweb:x.idweb,
        //         nomcli:x.nomcli,
        //         nomcomer:x.nomcomer});
        //   });

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.Clientes, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Clientes", 40, 30);
          }
        });
        doc.save('Clientes.pdf');

      },

      // Consulto todos los clientes
      consultar(){
        this.loading = true
        var me = this 
        this.$http.get('api/v1/clientes').then(function(response){
          console.log('response', response.body)
          me.Clientes = response.body

        }).catch(function(error){
          console.log(error)
        }).finally(()  => this.loading = false) 
      },

      edit(item){
        console.log('item', item)
        this.$router.push({name:'editcliente', params: {id: item}})
      }

    },

    computed: {
      fields () {
        if (!this.model) return []

        return Object.keys(this.model).map(key => {
          return {
            key,
            value: this.model[key] || 'n/a',
          }
        })
      },
      
      items2 () {
        return this.entries.map(entry => {
          const Description = entry.length > this.descriptionLimit
            ? entry.Description.slice(0, this.descriptionLimit) + '...'
            : entry.Description

          return Object.assign({}, entry, { Description })
        })
      },
    },

    watch: {
      search2 (val) {
        // Items have already been loaded
        if (this.items2.length > 0) return

        // Items have already been requested
        if (this.isLoading) return

        this.isLoading = true


        console.log('Estoy buscando, no desesperaís')
        var payload = { Buscacli : val}

        this.clientesArr = []
        this.clientesAll = []

        this.$http.post('auth/api/v1/clientes.find',payload).then(response=>{
          this.clientesAll = response.body
          // console.log(this.clientesAll)
          for (var i = response.body.length - 1; i >= 0; i--) {
            this.clientesArr.push(response.body[i].nomcli)
          }
          
          this.entries = this.clientesArr
          console.log(this.entries)
        }).catch(err => {
            console.log(err)
        })
        .finally(() => (this.isLoading = false))
      },
    },


  };
</script>


