<template>	
	<v-layout row wrap justify-center class="pa-3">
	  <v-flex xs12 >
			
			<v-snackbar
	      v-model="snackbar"
	      :timeout="8000"
	      top
	      :color="color" 
	      >
	      {{text}}
	      <v-btn
	        color="white"
	        text
	        @click="snackbar = false"
	      >
	        Cerrar
	      </v-btn>
    	</v-snackbar>
    	
			<!-- ENCABEZADO -->
    	<v-card-actions>
        <h3>Editar Cliente</h3>  
        <v-spacer></v-spacer>

        <v-btn class="ma-1" small color="blue lighten-2" :to="{name:'catclientes'}" dark>Atras</v-btn>

		    <v-btn class="ma-1" small dark color="blue darken-3"
		      @click="agregar">Guardar</v-btn>

      </v-card-actions>
		
			<v-layout row wrap justify-center>
		  
		  	 <!-- DATOS FIJOS VISIBLE -->
		    <v-flex xs5 sm4 class="pa-2">
		  		<v-text-field
		  	  label="Nombre del Cliente"
		  	  v-model ="ClienteEd.nomcli"
		  	  
		  		></v-text-field>
			  </v-flex>

			  <v-flex xs6 sm4 class="pa-2">
		  		<v-text-field
		  	  label="Nombre comercial"
		  	  v-model ="ClienteEd.nomcomer"
		  	  
		  		></v-text-field>
			  </v-flex>

			  <v-flex xs1 sm2 class="pa-2">
		  		<v-select
		  		  :items="ListaPrecios"
		  		  v-model="ClienteEd.precioutil"
		  		  label="Precio util"
		  		></v-select>
			  </v-flex>

		</v-layout>

		<v-stepper v-model="e1">
	    <v-stepper-header>
	      <v-stepper-step :complete="e1 > 1" step="1" @click="e1 = 1">Datos Físcales</v-stepper-step>
	      <v-stepper-step :complete="e1 > 2" step="2" @click="e1 = 2 ">Contrato</v-stepper-step>
	      <v-stepper-step :complete="e1 > 3" step="3" @click="e1 = 3">Responsable de Pagos</v-stepper-step>

	      
	    </v-stepper-header>
				 <!-- Datos fiscales -->
		      <v-stepper-content step="1">
		        <v-card class="mb-1" color="" height="auto" >
		        	<v-layout row wrap>
			      	  <v-flex xs6 sm2 class="pa-1">
				      		<v-text-field
				      	  label="Calle"
				      	  v-model="ClienteEd.Calle"
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm2 class="pa-1">
				      		<v-text-field
				      	  label="Número exterior"
				      	  v-model="ClienteEd.Numext"
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

								<v-flex xs6 sm2 class="pa-1">
				      		<v-text-field
				      	  label="Número Interior"
				      	  v-model="ClienteEd.Numint"
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm3 class="pa-1">
				      		<v-text-field
				      	  label="Colonia"
				      	  v-model="ClienteEd.colonia"
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm3 class="pa-1">
				      		<v-text-field
				      	  label="Ciudad"
				      	  v-model="ClienteEd.Ciudad"			      	  
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm2 class="pa-1">
				      		<v-text-field
				      	  label="Estado"
				      	  v-model="ClienteEd.Estado"			      	  
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	  

			      	  <v-flex xs6 sm2 class="pa-1">
				      		<v-text-field
				      	  label="Pais"
				      	  v-model="ClienteEd.Pais"			      	  
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

								<v-flex xs6 sm2 class="pa-1">
				      		<v-text-field
				      	  label="Cp"
				      	  v-model="ClienteEd.Cp"			 
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="RFC"
				      	  v-model="ClienteEd.Rfc"			      	  
				      	  filled
                  shaped
				      		></v-text-field>
			      	  </v-flex>

			      	</v-layout>

		        </v-card>
		        <v-btn class="ma-1" small color="primary" @click="e1 = 2" > Continuar </v-btn>
			      <v-btn class="ma-1" small color="orange" dark @click="e1 = 3">Regresar</v-btn>
		      </v-stepper-content>

					<!-- RESPONSABLE DE CONTRATO -->
		      <v-stepper-content step="2">
		        <v-card class="mb-5" color="" height="auto">
		        	<v-layout row wrap >
		      	  
			      	  <v-flex xs8  class="pa-1">
				      		<v-text-field
				      	  label="Nombre "
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Atvent"			      	 
				      	  color="#8CC642"
				      		></v-text-field>
			      	  </v-flex>
							  <v-flex xs12>
							    
							  </v-flex>
			      	  <!-- <v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Puesto"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Puesto"			      	 
				      	  color="#8CC642"
				      		></v-text-field>
			      	  </v-flex>
 -->
								<v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Email"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Email1"			      	 
				      	  color="#8CC642"

				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Telefono"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Telefono1"			      	 
				      	  color="#8CC642"
				      	  type="number"
				      		></v-text-field>
			      	  </v-flex>

      				</v-layout>
       			</v-card>
        		<v-btn class="ma-1" small color="primary" @click="e1 = 3" > Continuar </v-btn>
	      		<v-btn class="ma-1" small color="orange" dark  @click="e1 = 1">Regresar</v-btn>
      		</v-stepper-content>
					
					<!-- RESPONSABLE DE PAGOS -->
		      <v-stepper-content step="3">
		        <v-card class="mb-5" color="" height="auto" >
		        	<v-layout row wrap>
		      	  
			      	  <v-flex xs12 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Nombre"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Atpagos"			      	  
				      	  color="#8CC642"
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Email"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Email2"			      	 
				      	  color="#8CC642"
				      		></v-text-field>
			      	  </v-flex>

								<v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Email para facturas"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Emailfac"			      	 
				      	  color="#8CC642"
				      		></v-text-field>
			      	  </v-flex>

			      	  <v-flex xs6 sm4 class="pa-1">
				      		<v-text-field
				      	  label="Telefono2"
				      	  filled
                  shaped
				      	  v-model="ClienteEd.Telefono2"			      	 
				      	  color="#8CC642"
									type="number"
				      		></v-text-field>
			      	  </v-flex>

		      		</v-layout>

		        </v-card>
		        <!-- <v-btn class="ma-1" small color="primary" @click="e1 = 4" > Continuar </v-btn> -->
			      <v-btn class="ma-1" small color="orange" dark  @click="e1 = 2">Regresar</v-btn>
		      </v-stepper-content>
					
	    </v-stepper>
	    
	  </v-flex>
	</v-layout>
</template>

<script>
  export default {
    data () {
      return {

        ClienteEd:[],
        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',

        // Variables
        Nomcli: '',
        Nomcomer:'',
        
        Calle  : '',
        Numext: '',
        Numint: '',
        colonia: '',
        Ciudad: '',
        Estado :'',
        Pais:  '',
        Cp:    '',
        Rfc: '',
     

        Atvent: '',
        Puesto : '',
        Email1 : '',
        Telefono1: '',

        Atpagos: '',
        Email2: '',
        Emailfac: '',
        Telefono2: '',

        // precioutil: '1',
        ListaPrecios:['1','2','3','4','5'],

        Obs: '',
      }
    },

    created(){
      this.busIdCliente(this.$route.params.id)
      this.idCliente=this.$route.params.id 
      // console.log('PARAMETRO', this.$route.params.id)
    },

    computed:{
  
    	validaInfo(){
        return  this.ClienteEd.Nomcli    		!==  '' &&       
                this.ClienteEd.Rfc			 		!==  '' 

      }
    },

    methods:{

	    	// BUSCAR UN CLIENTE 
	    busIdCliente(id){
	      this.$http.get('auth/api/v1/clientes/' + id).then(response => { 
	      	console.log(response.body)
	        this.ClienteEd = response.body
	        }).catch(function(error){
	          console.log(error)
	        })
	    },
    
	    agregar(){
	    
	 			if(!this.validaInfo){
          this.snackbar = true ; this.color="orange"
          this.text = "Faltan campos por agregar"
	        return
	      }

	      const payload = {
      		Nomcli   : this.ClienteEd.nomcli,
      		Nomcomer : this.ClienteEd.nomcomer,
	      	Calle    : this.ClienteEd.Calle,
	      	Numext   : this.ClienteEd.Numext,
	      	Numint   : this.ClienteEd.Numint,
	      	colonia  : this.ClienteEd.colonia,
	      	Ciudad	 : this.ClienteEd.Ciudad,
	      	Estado   : this.ClienteEd.Estado,
	      	Pais     : this.ClienteEd.Pais,
	      	Cp       : this.ClienteEd.Cp,
	      	Rfc      : this.ClienteEd.Rfc,
	      	
	      	Atvent    : this.ClienteEd.atvent,
	      	Email1    : this.ClienteEd.email1,
	      	Telefono  : this.ClienteEd.telefono,

	      	Precioutil : this.ClienteEd.precioutil,

	  	  }

		      
	      console.log('payload', payload)
	      var me = this 
	      this.$http.put('auth/api/v1/clientes/' + this.idCliente, payload).then(response => {
	     		console.log('response', response.body)

	     		this.snackbar = true ; 
          this.text = "El cliente se edito correctamente."
          setTimeout(function(){ me.$router.push({name: 'catclientes'}) }, 2000);

		    }).catch(function(error){
          console.log(error)
        })
    	}
	}
};
</script>
