<template>
  <v-card
    class="mx-auto"
    max-width="600"
  >
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>Marketing</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon :to="{ name: 'prueba' }">
      	<v-icon>reply</v-icon>
      </v-btn>
    </v-toolbar>

    <v-container fluid>
      <v-row dense justify="center">
        <v-col cols="6">
          <v-card :to="{ name: 'catpromo' }">
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>Promociones</v-card-title>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
