<template>
  <v-card
    class="mx-auto"
    max-width="600"
  >
    <v-toolbar
      color="primary"
      dark
    >
      <v-toolbar-title>Operaciones</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon :to="{ name: 'prueba' }">
      	<v-icon>reply</v-icon>
      </v-btn>
    </v-toolbar>

    <v-container fluid>
      <v-row dense>
        <v-col cols="6">
          <v-card :to="{ name: 'catvend' }">
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
            >
              <v-card-title>Catálogo Vendedores</v-card-title>
            </v-img>
          </v-card>
        </v-col>

        <v-col cols="6">
          <v-card :to="{ name: 'catclientes' }">
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/house.jpg"
            >
              <v-card-title>Catálogo Clientes</v-card-title>
            </v-img>
          </v-card>
        </v-col>
      </v-row>

      <v-row dense>
        <v-col cols="6">
          <v-card :to="{ name: 'consultadoc' }">
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/road.jpg"
            >
              <v-card-title>Consultar Documentos</v-card-title>
            </v-img>
          </v-card>
        </v-col>

        <v-col cols="6">
          <v-card :to="{ name: 'inventario.list' }">
            <v-img
              class="white--text align-end"
              height="200px"
              src="https://cdn.vuetifyjs.com/images/cards/plane.jpg"
            >
              <v-card-title>Consultar Existencias</v-card-title>
            </v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
