<template>
  <v-container>
    <v-row>
      <v-col>
        <v-file-input
          :rules="rules"
          accept="image/png, image/jpeg, image/bmp"
          placeholder="Pick an avatar"
          prepend-icon="mdi-camera"
          label="Imágenes"
          v-model="files"
          @change="cargarFotos"
        ></v-file-input>
        <v-btn color="primary" @click="subirImagen">Subir Foto</v-btn>
        <v-btn color="primary" @click="eliminar">Eliminar Foto</v-btn>
      </v-col>      
    </v-row>
  </v-container>
</template>
<script>
  export default {
    data: () => ({
      rules: [
        value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!',
      ],
      files:[]
    }),

    methods:{
      cargarFotos(){
        console.log(this.files)
      },

      subirImagen(){
        let formData = new FormData();
        //se crea el objeto y se le agrega como un apendice el archivo 
        formData.append('file', this.files);

        this.$http.post('documentos', formData).then(response=>{
          console.log(response)
        })
      },

      eliminar(){
        var value = 'md3.png'
        this.$http.post('v1/imagenes.delete/' + value).then(response=>{
          console.log(response)
          // Se elimina la imagen del servidor
        }).catch(error=>{
          console.log(error)
        })
      }
    }
  }
</script>