<template>
  <v-container >
    <v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      :color="color"
    >
      {{text}}
      <v-btn
        dark
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>
    <v-row>
      <v-col cols="12">
        <v-alert type="info" :value="true" text border="right" color="info">
        	Aquí podrás agregar los correos de las personas a las que quieras que les llegue una copia de nuevas cotizaciones
        </v-alert>
      </v-col>
      <v-col cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
        <v-card-title primary-title>
          Correo 1
        </v-card-title>
      	<v-card-text>
	       	<v-text-field
	       	  outlined
	       	  label="Correo"
	       	  v-model="email"
	       	  append-icon="email"
	       	></v-text-field>
    			<v-btn color="primary" @click="validaInfo">Actualizar</v-btn>
      	</v-card-text>
      </v-col>
      <v-col cols="12" xl="6" lg="6" md="6" sm="12" xs="12">
        <v-card-title primary-title>
          Correo 2
        </v-card-title>
        <v-card-text>
          <v-text-field
            outlined
            label="Correo"
            v-model="email2"
            append-icon="email"
          ></v-text-field>
        </v-card-text>
      </v-col>
    </v-row>
  </v-container>
</template>


<script>
	import {mapGetters, mapActions} from 'vuex'
  export default {
    data: () => ({
      email:'',
      email2:'',
      snackbar:false,
      text:'',
      color:'',
      id:''
    }),

    created(){
    	this.init()
    },

    computed:{

    },

    methods:{
      init(){
        this.$http.get('api/v1/email.list').then(response=>{
          console.log(response.body)
          this.id = response.body.Id
          this.email  = response.body.Email1
          this.email2 = response.body.Email2
        })
      },

      validaInfo(){
        if(this.email == '' && this.email2 == ''){
          this.text = 'No puedes agregar campos vacios'
          this.snackbar = true
          this.color = 'warning'
          return
        }

        if(this.email.length > 50 || this.email2.length > 50){
          this.text = 'El campo exede el limite de acracteres (50)'
          this.snackbar = true
          this.color = 'warning'
          return
        }

        this.agregar()


      },

    	agregar(){
        var payload = {
          id : this.id,
          email1  : this.email ,
          email2 : this.email2 
        }
    		this.$http.put('api/v1/email.update',payload).then(response=>{
          this.text = 'Agregado correctamente'
          this.snackbar = true
          this.color = 'success'
        })
    	},



    }

  }
</script>