<template>
  <v-container>
    <v-layout align-start justify-center row fill-height/>
      <v-flex sm12>
        <v-tabs v-model="activeTab">
          <v-tab key="tab-1" to="/configcorreos" ripple>
            Configurar Correos
          </v-tab>

         <!--  <v-tab key="tab-2" to="/tipocambio" ripple>
            Tipo de cambio
          </v-tab>
 -->
          <v-tab key="tab-3" to="/logotipo" ripple>
            Subir Logo
          </v-tab>

          <v-tab key="tab-4" to="/formato" ripple>
            Formatos 
          </v-tab>

          <v-tab key="tab-5" to="/redessoc" ripple>
            Redes Sociales
          </v-tab>

          <v-tab-item id="/configcorreos">
            <router-view v-if="activeTab === '/configcorreos'" />
          </v-tab-item>

         <!--  <v-tab-item id="/tipocambio">
            <router-view v-if="activeTab === '/tipocambio'" />
          </v-tab-item> -->

          <v-tab-item id="/logotipo">
            <router-view v-if="activeTab === '/logotipo'" />
          </v-tab-item>

          <v-tab-item id="/formato">
            <router-view v-if="activeTab === '/formato'" />
          </v-tab-item>

          <v-tab-item id="/redessoc">
            <router-view v-if="activeTab === '/redessoc'" />
          </v-tab-item>

          </v-tabs>
        </v-card>    
      </v-flex>  
    </v-layout>
  </v-container>
</template>

<script>

  export default {
    data () {
      return {
        activeTab:'/configcorreos',
        e1: 0,
      }
    },

    created(){
      this.$router.push({name:'configcorreos'})
    }
  }
</script>