<template>
	<v-container>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card>
	  		  <v-card-title primary-title>
	  		    Actualiza tu logo
	  		  </v-card-title>
	  		  <v-divider></v-divider>
	  		  <v-card-text>
	  		    <v-row>
	  		    	<v-col cols="12" xl="6" lg="6" md="6" sm="6" xs="12">
	  		    		<v-card-title primary-title>
	  		    		  Logo
	  		    		</v-card-title>
	  		    		<v-card-text>
	  		    		  <v-file-input label="Cargar imagen" @change="cargar"  prepend-icon="mdi-camera"  ref="logo"></v-file-input>
	  		    		</v-card-text>
	  		    		<v-card-text>
	  		    		  <img :src="logo" height="200">
	  		    		</v-card-text>
	  		    	</v-col>
	  		    	<v-col cols="12" xl="6" lg="6" md="6" sm="6" xs="12">
	  		    		<v-card-title primary-title>
	  		    		  Favicon
	  		    		</v-card-title>
	  		    		<v-card-text>
	  		    		  <v-file-input label="Cargar imagen" @change="cargarfav"  prepend-icon="mdi-camera"  ref="favicon"></v-file-input>
	  		    		</v-card-text>
	  		    		<v-card-text>
	  		    		  <img :src="favicon" height="200">
	  		    		</v-card-text>
	  		    	</v-col>
	  		    </v-row>
	  		  </v-card-text>
	  		  <v-card-actions>
	  		    <v-btn color="primary" @click="actuzalizar">Actualizar</v-btn>
	  		  </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>
	</v-container>
</template>
<script>
	export default{
		data(){
			return{
				favicon:'',
				logo:'',
				fileLogo:'',
				fileFav:''
			}
		},
		

		created(){
			this.$http.get('api/v1/logos.list').then(response=>{
		  	this.logo = response.body.Logourl

	  	}, error => {
	    	console.log(error)
	  	})
		},

		methods:{
			cargar(){
        this.getBase64(this.$refs.logo.internalArrayValue[0])
      	if(this.$refs.logo.internalArrayValue[0].name !== 'logo.png'){
      		console.log('nooo')
      	}

      },

      cargarfav(){
        this.getBase64fav(this.$refs.favicon.internalArrayValue[0])
      },

      getBase64(file) {
        var me = this
        var reader = new FileReader();
        reader.readAsDataURL(file);

        reader.onload = function () {
          me.logo = reader.result
          const contentType = 'image/png';
          //Cortar base64
          const blob = me.b64toBlob(reader.result.substr(22,reader.result.length), contentType);
          //Cambiar nombre a logo.png
          const file = new File([blob], 'logo.png')
          
          let formData = new FormData();
          formData.append('file',file);
          me.fileLogo = formData
        };
      },

      getBase64fav(file) {
        var me = this
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          me.favicon = reader.result
       	 const contentType = 'image/png';
          const blob = me.b64toBlob(reader.result.substr(22,reader.result.length), contentType);
          const file = new File([blob], 'logo.png')
          let formData = new FormData();
          formData.append('file',file);
          me.fileFav = formData
        };
      },

      actuzalizar(){
        this.$http.post('auth/api/v1/imagenes', this.fileLogo ,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
          console.log(response)
        })
      },

      actuzalizarfav(){
        this.$http.post('auth/api/v1/imagenes', this.fileFav ,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
          console.log(response)
        })
      },


      b64toBlob(b64Data, contentType='', sliceSize=512){
			  const byteCharacters = atob(b64Data);
			  const byteArrays = [];

			  for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
				const slice = byteCharacters.slice(offset, offset + sliceSize);

				const byteNumbers = new Array(slice.length);
				for (let i = 0; i < slice.length; i++) {
				  byteNumbers[i] = slice.charCodeAt(i);
				}

				const byteArray = new Uint8Array(byteNumbers);
				byteArrays.push(byteArray);
			  }
				
			  const blob = new Blob(byteArrays, {type: contentType});
			  return blob;
		  },

		}


	}
</script>