<template>
	<v-container>
		<v-snackbar
		  v-model="snakbar"
		  :color="color"
		  top
		>
		  {{ text }}
		  <v-btn text  @click.native="snakbar = false">Close</v-btn>
		</v-snackbar>
	  <v-row>
	  	<v-col cols="12" xl="5" lg="5" md="5" sm="6" xs="12">
	  		<a><img alt="Sígueme en Facebook" height="47" width="47" src="https://2.bp.blogspot.com/-28mh2hZK3HE/XCrIxxSCW0I/AAAAAAAAH_M/XniFGT5c2lsaVNgf7UTbPufVmIkBPnWQQCLcBGAs/s1600/facebook.png" title="Sígueme en Facebook"/></a>
	  		<v-text-field
	  		  label="Facebook"
	  		  v-model="facebook"
	  		></v-text-field>
	  	</v-col>

	  	<v-col cols="12" xl="5" lg="5" md="5" sm="6" xs="12">
	  		<a><img alt="Sígueme en Facebook" height="47" width="47" src="https://1.bp.blogspot.com/-cAN1e-Ti9vM/XCrI4PCP8OI/AAAAAAAAIBE/AZmwfLUHlAsdyoQrMdCcOBV3hO2asAeyQCLcBGAs/s1600/youtube.png" title="Sígueme en Facebook"/></a>
	  		<v-text-field
	  		  label="Youtube"
	  		  v-model="youtube"
	  		></v-text-field>
	  	</v-col>

	  	<v-col cols="12" xl="5" lg="5" md="5" sm="6" xs="12">
	  		<a><img alt="Sígueme en Facebook" height="47" width="47" src="https://3.bp.blogspot.com/-E4jytrbmLbY/XCrI2Xd_hUI/AAAAAAAAIAo/qXt-bJg1UpMZmTjCJymxWEOGXWEQ2mv3ACLcBGAs/s1600/twitter.png" title="Sígueme en Facebook"/></a>
	  		<v-text-field
	  		  label="twitter"
	  		  v-model="twitter"
	  		></v-text-field>
	  	</v-col>

	  	<v-col cols="12" xl="5" lg="5" md="5" sm="6" xs="12">
	  		<a><img alt="Sígueme en Facebook" height="47" width="47" src="https://4.bp.blogspot.com/-0KtSvK3BydE/XCrIzgI3RqI/AAAAAAAAH_w/n_rr5DS92uk9EWEegcxeqAcSkV36OWEOgCLcBGAs/s1600/linkedin.png" title="Sígueme en Facebook"/></a>
	  		<v-text-field
	  		  label="Linkedin"
	  		  v-model="linkedin"
	  		></v-text-field>
	  	</v-col>

	  	<v-col cols="12" xl="5" lg="5" md="5" sm="6" xs="12">
	  		<v-btn color="success" @click="updateRedes">Actualizar</v-btn>
	  	</v-col>
	  </v-row>
	</v-container>
</template>
<script>
	export default{
		data(){
			return{
				facebook:'',
				youtube:'',
				twitter:'',
				linkedin:'',

				// Snackbar
				snakbar: false,
				color:'',
				text:''

			}
		},

		created(){
			this.init()
		},

		methods:{

			init(){
				this.$http.get('auth/api/v1/redessoc').then(respuesta=>{
					this.facebook = respuesta.body.Facebook
					this.youtube  = respuesta.body.Youtube
					this.twitter  = respuesta.body.Twitter
					this.linkedin = respuesta.body.Linkedin
				})
			},

			updateRedes(){
				var payload = {
					Id: 1,
					Facebook: this.facebook,
					Youtube: this.youtube ,
					Twitter: this.twitter ,
					Linkedin: this.linkedin
				}

				this.$http.put('auth/api/v1/updateredessoc', payload).then(respuesta=>{
					this.text = 'Redes sociales actualizadas'
					this.color = 'success'
					this.snakbar = true
					this.init()
				})

			}
		}
	}
</script>