<template>
  <v-container>
    <v-row row wrap>

      <v-card width="100%" height="100%">
        <v-card-title primary-title>
          Catálogo de Artículos

          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar Productos"
            single-line
            hide-details
          ></v-text-field>

          <v-spacer></v-spacer>
          
          <!-- NUEVO -->
          <v-btn align="right" 
            color="primary" dark small 
            class="ma-2" 
            :to="{ name: 'newproducto' }" >Nuevo
          </v-btn>

          <!-- BOTON EXCEL -->
          <v-btn 
            class="ma-2" 
            small dark color="warning"
            @click="exportar()">
            <v-icon>save_alt</v-icon>
          </v-btn>

          <!-- BOTON PDF -->
          <v-btn 
            class="ma-2" 
            small color="secondary"
            @click="crearPDF()">
            <v-icon>print</v-icon>
          </v-btn>

        </v-card-title>
              
        <v-data-table
          :loading="loading"        
          :headers="headers"
          :items="productos"
          class="elevation-1"
          fixed-header
          height="450"
          hide-default-footer
          loading-text="Cargando..."
          dense
          :search="search"
          :items-per-page=200
        >

          <!-- STATUSWEB -->
          <template v-slot:no-data>
            <v-alert type="info" color="primary" outlined :value="true">
              No hay datos para mostrar
            </v-alert>
          </template>

          <!-- STATUSWEB -->
          <template v-slot:item.Statusweb="{ item }">
            <v-checkbox  readonly v-model="item.Statusweb"></v-checkbox>  
          </template>
                  
          <template v-slot:item="{ item }" >
           <tr v-on:dblclick="edit(item.numart)">
             <td>{{ item.numart}}</td>
             <td>{{ item.descrip }}</td>
             <td>{{ item.preciopub }}</td>
             <!-- <td>{{ item.divisa }}</td>      -->
             <td>{{ item.existencia }}</td>
             <!-- <td>{{ item.statusweb }}</td> -->
             <!-- <td v-if="item.url"><img :src="item.url" contain style="width: 30px; height: 30px"></td> -->
             <!-- <td v-else><img src="/sait.png"  contain style="width: 30px; height: 30px"></td> -->
            <!-- <td>{{ item.Linea }}</td> -->
           </tr>
                   
         </template>
        </v-data-table>
      </v-card>
    </v-row>  
  </v-container>
</template>


<script>
	import {mapActions, mapGetters} from 'vuex'
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  export default {
    mixins:[excelMixin],

    data: () => ({
      loading: true,
      page: 1,
      pageCount: 0,
      itemsPerPage: 10,
      search:'',
      productos:[],
      headers: [
      { text: 'Clave', align: 'left',sortable: false, value: 'numart'},
      { text: 'Descripción', value: 'descrip' },
      { text: 'Precio', value: 'preciopub' },
      // { text: 'Div', value: 'Divisa' },
      { text: 'Existencia' },
      // { text: 'Activo', value: 'Statusweb' },
      // { text: 'Foto', value: 'Url' },
      // { text: 'Línea', value: 'Linea' },
      ],
    }),

    created(){
      this.traerProductos().then(response =>{
        if(response == null){
          this.loading = false
          this.productos = []
          console.log('No hay productos')
        }else{
          this.loading = false
          console.log('Productos get', this.getProductos)
          this.productos = this.getProductos
        }
      })
      // console.log(this.productos)
    },

    mounted(){
      this.getProductos
    },

    methods:{

      // EXCEL
      exportar(){
        let xls = {
          data:      this.productos,
          tHeaders : ['Clave', 'Descripción', 'Precio', 'Div', 'Existencia', 'Activo', 'Foto', 'Línea'],
          filterVal: ['Numart', 'Descrip', 'Preciopub', 'Divisa', 'Existencia', 'Statusweb', 'Url', 'Linea'],
          nomfile :  "Consulta de Artículos"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF DE ARTÍCULOS
      crearPDF(){
        var columns = [

            { title: 'Clave',       dataKey: 'numart'},
            { title: 'Descripción', dataKey: 'descrip'},
            { title: 'Precio',      dataKey: 'preciopub' },
            // { title: 'Div',         dataKey: 'divisa' },
            // { title: 'Activo',      dataKey: 'statusweb' },
            // { title: 'Línea',       dataKey: 'linea' },
        ];

        var rows = [];
        this.productos.map(function(x){
          rows.push({
                Numart:x.Numart,
                Descrip:x.Descrip,
                Preciopub:x.Preciopub,
                Divisa:x.Divisa,
                Statusweb:x.Statusweb,
                Linea:x.Linea});
          });

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, rows, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 250},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Artículos", 40, 30);
          }
        });
        doc.save('Artículos.pdf');
      },

      ...mapActions('productos',['traerProductos','addImg']),

      reserve () {
        this.loading = true
        setTimeout(() => (this.loading = false), 1500)
      },

      // addimage(id){
      //   // console.log('id',id)
      // },

      // editItem (item) {
      //   this.addImg(item)
      // },

      edit(item){
        console.log("Numart", item)
        this.$router.push({name:'newproducto', params: {Numart: item}})
      }
    },

    computed:{
      ...mapGetters('productos',['getProductos'])
    }

  }
</script>





