<template>  
  <v-container>
    <v-row >  
      <v-col>

        <!-- TOOLBAR -->
        <v-row no-gutters>
          <v-col class="d-flex" cols="12">
            <v-toolbar >
                <v-toolbar-title>Nuevo Artículo</v-toolbar-title>
                <v-spacer></v-spacer>

                <!-- BTN ATRAS -->
                <v-btn 
                  class="ma-2" 
                  color="blue lighten-2" 
                  :to="{name:'catproductos'}" 
                  dark>Atras
                </v-btn>

                <!-- BTN BORRAR -->
                <v-btn 
                  dark  
                  class="ma-2" 
                  @click.prevent="deleteItem"
                  color="red">Borrar
                </v-btn>

                <!-- BTN GUARDAR -->
                <v-btn  
                  dark 
                  class="ma-2" 
                  @click.prevent="agregar"
                  color="blue darken-3">Grabar
                </v-btn>
            </v-toolbar>
          </v-col>
        </v-row>
             
        <!-- ENCABEZADOS -->
        <v-row >
          <v-col  cols="4" sm="3">
            <v-text-field
            label="Clave"
            v-model="numart"
            validate-on-blur
            class="pa-0"  
            @change = "validaArt(numart)"    
            outlined hide-details 
            ></v-text-field>
          </v-col>

          <v-col cols="8" sm="6">
            <v-text-field
            label="Nombre"
            v-model="descrip"
            class="pa-0"
            outlined  auto-grow hide-details 
            ></v-text-field>
          </v-col>
        </v-row>

        <v-stepper v-model="e1">
          <v-stepper-header >
            <v-stepper-step :complete="e1 > 1" step="1" @click="e1 = 1">Clasificar</v-stepper-step>
            <v-stepper-step :complete="e1 > 2" step="2" @click="e1 = 2 ">Precios</v-stepper-step>
            <v-stepper-step :complete="e1 > 3" step="3" @click="e1 = 3">Observaciones</v-stepper-step>
            <v-stepper-step :complete="e1 > 4" step="5" @click="e1 = 4">Imagenes</v-stepper-step>
          </v-stepper-header>
          <v-stepper-items>
            <!-- CLASIFICACION -->
            <v-stepper-content step="1">
              <v-card>
                <!-- R1 -->
                <v-row>
                  <v-col class="d-flex" cols="12" sm="6">
                     <v-row>
                      <v-col col="12" sm="6">
                      <v-text-field
                        label="Unidad"
                        v-model="Unidad"               
                        shaped  sinlge-line hide-details 
                      ></v-text-field>
                    </v-col>
                    </v-row>
                  </v-col>

                  <v-col class="d-flex" cols="12" sm="6">
                     <v-row>
                      <v-col col="12" sm="10">
                        <!-- SELECTOR CATEGORIA -->
                        <v-select 
                          :items="nomcatego"
                          v-model="catego"
                          :hint="` ${catego.id}`"
                          item-text="nomcat"
                          item-value="id" 
                          label="Laboratorio"
                          persistent-hint
                          return-object
                          single-line
                        ></v-select>

                        <!-- SELECCIONAR DEPTO -->
                        <v-select 
                          :items="nomdepto"
                          v-model="deptos"
                          :hint="` ${deptos.id}`"
                          item-text="nomdep"
                          item-value="id" 
                          label="Categoría"
                          persistent-hint
                          return-object
                          single-line
                        ></v-select>

                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card>

              <v-btn class="ma-1" small color="primary" @click="e1 = 2" > Continuar </v-btn>
            </v-stepper-content>

            <!-- PRECIOS -->
            <v-stepper-content step="2">
              <v-card 
              class="mb-1" 
              height="auto">  
                <!-- Col1 -->
                <v-row>
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-row>
                      <v-col col="12" sm="10">
                        <v-text-field
                          label="% IVA"   shaped  sinlge-line hide-details 
                          v-model="Impuesto1"              
                        ></v-text-field>                    
                      </v-col>
                    </v-row>   
                  </v-col>
                  
                  <!-- COL 2 -->
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-row>
                      <v-col col="12" sm="10">
                                  
                      <!-- PRECIO 1 -->
                        <v-text-field
                        label="Precio 1"
                        shaped   hide-details 
                        v-model="Precio1"
                        @change = "precio1(Precio1)"                 
                        ></v-text-field>
                      

                      <!-- PRECIO 2 -->
                        <v-text-field
                        label="Precio 2"
                        shaped hide-details 
                        v-model="Precio2"               
                        @change = "precio2(Precio2)"                 
                        ></v-text-field>
                      
                      <!-- PRECIO 3 -->
                        <v-text-field
                        label="Precio 3"
                        shaped hide-details 
                        v-model="Precio3"
                        @change = "precio3(Precio3)"                 
                    
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>         
                  
                  <v-col class="d-flex" cols="12" sm="3" >
                    <v-row>
                      <v-col col="12" sm="10">
                 


                      <!-- PRECIO 4 -->
                        <v-text-field
                        label="Precio 4"
                        shaped hide-details 
                        v-model="Precio4"  
                        @change = "precio4(Precio4)"               
                        ></v-text-field>
                      
                      <!-- PRECIO 5 -->
                        <v-text-field
                        label="Precio 5"
                        shaped hide-details 
                        v-model="Precio5"  
                        @change = "precio5(Precio5)"                 
                        ></v-text-field>

                         <!-- PRECIO PUBLICO -->
                        <v-text-field
                          label="Precio público"  shaped hide-details 
                          v-model="preciopub"
                          @change = "preciopublico(preciopub)"             
                        ></v-text-field>

                      <!-- ULTIMO COSTO -->
                       <!--  <v-text-field
                        label="Último costo"
                        shaped hide-details 
                        v-model="Ultcosto"       
                        @change = "ultcosto(Ultcosto)"            
                        ></v-text-field> -->

                      </v-col>
                    </v-row>  
                  </v-col> 
                  
              </v-row>
              
              </v-card>
              <v-btn class="ma-1" small color="primary" @click="e1 = 3" > Continuar </v-btn>
              <v-btn class="ma-1" small color="orange" dark  @click="e1 = 1">Regresar</v-btn>
            </v-stepper-content>
            
            <!-- OBSERVACIONES -->
            <v-stepper-content step="3">
              <v-card height="auto">
                <v-row >
                  <!-- HTML dESCRIP -->
                  <v-card-text>
                    <v-textarea
                      outlined
                      v-model="Html"               
                      auto-grow
                      label="descripción Html"
                      rows="6"
                      row-height="30"
                      shaped hide-details
                    ></v-textarea>
                  </v-card-text>
                </v-row>
              </v-card>
              
              <v-btn class="ma-1" small color="primary" @click="e1 = 4" > Continuar </v-btn>
              <v-btn class="ma-1" small color="orange" dark  @click="e1 = 2">Regresar</v-btn>
            </v-stepper-content>
            
            <!-- Imagenes -->
            <v-stepper-content step="4">
              <v-card  class="mb-2" height="auto" >
                <v-row>
                  <v-col cols="12" xs="12">
                    <v-card class="elevation-0 transparent" align="justify">
                      <v-card-title primary-title>
                        Imagenes actuales
                      </v-card-title>
                      <v-card-text>
                        <v-row>
                          <v-col cols="12" xl="3" lg="3" md="6" sm="8" xs="12"  v-for="(img, i) in fotosArr" :key="i">
                            <v-card>
                              <img
                                :src="img.url"
                                class="white--text align-end"
                                width="100%"
                                height="200px"
                              >
                              </img>

                              <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn small 
                                  @click="eliminar(img)"
                                  color="red darken-3" 
                                  dark
                                >eliminar</v-btn>
                              </v-card-actions>
                            </v-card>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card> 
                  </v-col>
                </v-row>
                <v-card-text>
                  <v-row>
                    <v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12">
                      <v-file-input
                        v-model="files"
                        multiple
                        :rules="rules"
                        :ref="`pictureInput`"
                        accept="image/png, image/jpeg, image/bmp"
                        placeholder="Selecciona las imagenes"
                        prepend-icon="mdi-camera"
                        @change="cargar()"
                        multiple
                      ></v-file-input>
                    </v-col>
                    <v-col cols="12" xl="3" lg="5" md="6" sm="8" xs="12">
                      <v-spacer></v-spacer>
                      <v-card-actions>
                        <v-btn @click="updateImgMas" dark color="blue darken-3-2">
                          Grabar Fotos
                        </v-btn>
                        <!-- <v-btn color="success" @click="updateImgMas">Actualizar</v-btn> -->
                      </v-card-actions>
                    </v-col>
                  </v-row>
                </v-card-text>
              <v-card-title primary-title>
                Imagenes previas
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12" xl="3" lg="3" md="6" sm="8" xs="12"  v-for="(img, i) in imagenesPrevias" :key="i">
                    <v-card>
                      <v-img
                        :src="img.url2"
                        class="white--text align-end"
                        width="100%"
                        height="200px"
                      >
                      </v-img>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn icon color="error" @click="eliminarPrev(img.id)">
                          <v-icon>mdi-delete</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-col>
                </v-row>
              </v-card-text>
              </v-card>
              <v-btn class="ma-1" small color="orange" dark  @click="e1 = 3">Regresar</v-btn>
            </v-stepper-content>  
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>


    <!-- SNACK BAR -->
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
var accounting = require("accounting");
  export default {
    data () {
      return {
        files:[],

        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',
        switch1: false,

        moneda: ['P', 'D'],
        excentos :['SI', 'NO'],

        // newArt:[],
        arts:[],
        idArts:'',

        rules: [
        value => !value || value.size < 2000000 || 'Máximo 2 MB!',
        ],

        files: [],
        imagen1:'',
        Url:'',
        fotosArr: [],
        fotosxart:[],

        item: 0,
        items: [
          { text: 'My Files', icon: 'mdi-folder' },
          { text: 'Shared with me', icon: 'mdi-account-multiple' },
          { text: 'Starred', icon: 'mdi-star' },
          { text: 'Recent', icon: 'mdi-history' },
          { text: 'Offline', icon: 'mdi-check-circle' },
          { text: 'Uploads', icon: 'mdi-upload' },
          { text: 'Backups', icon: 'mdi-cloud-upload' },
        ],

        // SELECtS
        // lineas:[],
        // Nomlin:'', 

         //////////Deptos Selec
        nomdepto: [], 
        deptos:{nomdep:'', id:''},

        //////////Deptos Selec
        nomcatego: [], 
        catego:{nomcat:'', id:''},

        // BUSCAR VENDEODR
        lineas:'',
        lineasArr:[],
        lineasAll:[],
        idlinea:'',
        Numlin :'',

        // ENCABEZADOS
        numart: '',
        descrip :'',
        Existencia : '',
        Marca : '',
        Modelo : '',
        Codigo : '',
        Unidad : '',
        Activo : '',
        statusweb :0,

        // CLASIFICACION
        numart : '',
        Linea : '',
        Familia : '',
        Categoria : '',
        Numdep : '',
        Numprov : '',

        // PRECIOS
        Divisa : 'P',
        Excento: 'NO',
        Impuesto1 : 0.00,
        Pjedesc : 0.00,
        preciopub : 0.00,
        Precio1 : 0.00,
        Precio2 : 0.00,
        Precio3 : 0.00,
        Precio4 : 0.00,
        Precio5 : 0.00,
        Ultcosto : 0.00,

        // OBSERVACIONES
        Obs : '',
        Pdfs : '',
        Html : '',

        nModo : 0,
        imagenes: [],
        imagenesPrevias: [],
        imagen_name:'',
      }
    },

    created () {
      // getCatego mandara a llamar a getDeptos
      // getDeptos mandará a llamar a init
      this.getCatego()
    },

    computed: {
      formTitle () {
          return this.nModo =  1 ? 'Nuevo Artículo' : 'Editar Artículo'
      },
      validaInfo(){
        return  this.numart         !==  '' &&       
                this.descrip        !==  '' 
      },
    },
      
    methods:{
      init(){
        //Definir nModo. Si tiene id estoy en modo 2. 
        this.numart =this.$route.params.Numart
        if (this.numart !== undefined){
          this.nModo = 2
          this.busnumart(this.numart)
        } else {
          this.nModo= 1
        }
      },

      preciopublico(val) { this.preciopub = accounting.formatNumber(val,2) },
      precio1(val) { this.Precio1 = accounting.formatNumber(val,2) },
      precio2(val) { this.Precio2 = accounting.formatNumber(val,2) },
      precio3(val) { this.Precio3 = accounting.formatNumber(val,2) },
      precio4(val) { this.Precio4 = accounting.formatNumber(val,2) },
      precio5(val) { this.Precio5 = accounting.formatNumber(val,2) },
      impuesto1(val){ this.Impuesto1 = accounting.formatNumber(val,2) },

      cargarFotos(){
        this.fotosArr = []
        this.loading = true 
        let cnumart = this.numart
        this.$http.get('v1/fotos.list/'+ cnumart).then(response => {
          console.log(response.body)
          if (typeof(response.body) != 'object') {
          } else {
            var fotosxart = []
            var url = this.$http.options.root.replace("api2/public/", "imagenes/");
            console.log('imagenes',response.body)
            for (var i = response.body.length - 1; i >= 0; i--) {
              fotosxart.push({
                id: response.body[i].idfotos,
                imagen_name: response.body[i].image_name,
                url: url + response.body[i].image_name,
                numart : response.body[i].numart
              })
            }
            this.fotosArr = fotosxart
          }  
        }).catch(error =>{
          console.log(error)
        }).finally(()  => this.loading = false)
      },

      cargar(){
        //  si la variable esta vacia no carga nada y regresamos la función
        if(this.files == null ){
          return
        }

        this.files.forEach((element, index) => {
          // creamos una variable tipo FormData
          let formData = new FormData();
          //se crea el objeto y se le agrega como un apendice el archivo 
          formData.append('file', element);
          //mandamos a ocvertir la imagen a base64 pero mandamos el docuemnto, el formdata, el nombre
          var url = this.$http.options.root.replace("api2/public/", "imagenes/");
          this.getBase64(element, formData, element.name, this.numart, url + element.name)
        })
      },

      getBase64(file, formData, name, numart, url) {
        var me = this
        //Se crea un avariable para lectura de archivo
        var reader = new FileReader();
        // obtiene el url del archivo para ser visualizado
        reader.readAsDataURL(file);
        reader.onload = function () {
          // se crea el objeto con los parametros
          // el id es la ongitu del objeto
          //  el url es el resultado de convertir el archivo a base64 url
          //  el formdata, el parametro que recibira la api
          // el nombre, para guardar en la base de datos
          me.imagenesPrevias.push({id: me.imagenesPrevias.length, url: url, url2: reader.result, formData: formData, imagen_name: name, numart:numart, image_name: name})
          // me.$refs.pictureInput.internalValue = null
        };
        console.log('previas',me.imagenesPrevias)//okeyyy
      },

      // Eliminar imagen
      eliminar(value){
        console.log(value)
        // Eliminar las fotos del servidor se manda como parametro el noombre dle archivo a eliminar
        this.$http.post('v1/imagenes.delete/' + value.nombanner).then(response=>{
          // Se elimina la imagen del servidor
          this.loading = true
           this.$http.delete('v1/product.image.delete/' + value.id).then( response => {
            this.cargarFotos()
            console.log(response)
          }).catch(error => {
            console.log(error)
            this.cargarFotos()
          }).finally(()  => {
            this.loading = false
          }) 
        })
      },

      // Eliminamos las imagenes previas, se recibe como parametro el id
      eliminarPrev(id){
        // Vaciamso primero los archivos cargados
        this.$refs.pictureInput.internalValue = null
        // Se hace un recorrido y donde se encuentre la imagen se elimina
        for (var i = this.imagenesPrevias.length - 1; i >= 0; i--) {
          if(this.imagenesPrevias[i].id == id){
            this.imagenesPrevias.splice(i, 1);
          }
        }
      },

      updateImgMas(){
        // Recorremos las imagenes previas cargadas para poder agregarlas al servidor y guardar el nombre en la base de datos
        this.imagenesPrevias.forEach((element, index) => {
          // Mandamos el formdata (archivo de la imagen) al servidor
          this.$http.post('documentos', element.formData).then(response=>{
            if(index == 0){
              this.text = 'Fotos cargadas exitosamente'
              this.snackbar =  false
              
              // Mandas a traer las imagenes del servidor
              this.grabarFotosxArt()

              // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
              this.imagenesPrevias = []
            }
          })

        //   this.$http.post('auth/api/v1/imagenes', element.formData ,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
        //     //  y se gguar tambien en la base de datos, solo se guarda el nombre de la imagen
        //     if(index == 0){
        //       this.text = 'Fotos cargadas exitosamente'
        //       this.snackbar =  false
              
        //       // Mandas a traer las imagenes del servidor
        //       this.grabarFotosxArt()

        //       // Limpiamos las imagenes previas ya cuando se haya terminado el recorrido del foreach
        //       this.imagenesPrevias = []
        //     }
        //   })
        })
      },

      grabarFotosxArt(){
        this.loading = true 
        let cnumart = this.numart.trim()
        var payload = this.imagenesPrevias

        this.imagenesPrevias.forEach((element, index) => {
          this.$http.post('v1/product.image.add', element).then(response => {
            console.log('Fotos x numart',response.body)
            this.cargarFotos()
          }).catch(error =>{
            console.log(error)
          }).finally(()  => this.loading = false )

        })
      },

      validaArt(val){
        console.log(val)
        if (val !== undefined){
          // console.log("Cargando producto:", val)
          this.busnumart(val)
        }
      },

      cargarinfo () {
        console.log('articulo',this.arts)
        this.descrip = this.arts.descrip
        this.Id = this.arts.id
        this.Modelo = this.arts.modelo
        this.Unidad = this.arts.unidad
        this.statusweb = !!this.arts.statusweb

        // PRECIOS
        this.Divisa    = this.arts.divisa
        this.Excento   = this.arts.excento
        this.preciopub =  this.arts.preciopub
        this.Impuesto1 =  this.arts.impuesto1
        this.Pjedesc = this.arts.pjedesc
        this.Precio1  = this.arts.precio1
        this.Precio2  = this.arts.precio2
        this.Precio3  = this.arts.precio3
        this.Precio4  = this.arts.precio4
        this.Precio5  = this.arts.precio5
        // OBSERVACIONES
        this.Obs      = this.arts.obs
        this.Html  = this.arts.html
        this.Url    = this.arts.url
        // Buscar Numcat en el arreglo y traer el nombre
        var me = this
        console.log('nomdepto',this.nomdepto)
        for (var i = this.nomdepto.length - 1; i >= 0; i--) {
          if(this.nomdepto[i].id == this.arts.numdep){
            me.deptos = {nomdep: this.nomdepto[i].nomdep , id: this.nomdepto[i].id}
          } 
        }

        // Buscar valdep en el arreglo y traer el nombre del Depto
        for (var i = this.nomcatego.length - 1; i >= 0; i--) {
          if(this.nomcatego[i].id == this.arts.categoria){
            me.catego = {nomcat: this.nomcatego[i].nomcat, id: this.nomcatego[i].id}
          } 
        }
      },

      deleteItem () {
        var nIdarts = this.Id
        // console.log (nIdarts)
        this.$http.delete('auth/api/v1/arts.delete/' + nIdarts).then( response => {
          console.log('Promo ', response.body)          
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.init() 
          // this.loading = false
        }) 
      },

      // BUSCAR UN PRODUCTO
      busnumart(numart){
        this.$http.get('v1/product.info/' + numart ).then(response => { 
          this.arts = response.body[0]
          this.cargarinfo()
          this.cargarFotos()
        }).catch(error => {
          console.log(error)
        })
      },

      getDeptos(){
        this.loading = true 
        this.$http.get('v1/deptos.list').then(response => {
          response.body.forEach(element=>  {
            this.nomdepto.push(element)
          })
          this.init()
        }).catch(error =>{
          console.log(error)
        }).finally(()  => this.loading = false)
      },

      getCatego(){
        this.loading = true 
        this.$http.get('v1/catego.list').then(response => {
          response.body.forEach(element=>  {
            this.nomcatego.push(element)
          })
          this.getDeptos()
        }).catch(error =>{
           console.log(error)
        }).finally(()  => this.loading = false)
      },

      inputlinea(valor){
        for (var i = this.lineasAll.length - 1; i >= 0; i--) {
          if(this.lineasAll[i].Nomlin === valor){
            this.idlinea = this.lineasAll[i].Id
            this.Linea = this.lineasAll[i].Numlin
            // console.log(valor +'   '+ this.idlinea + ' ' + this.Linea)          
          }
        }
      },

      agregar(){    
        if(!this.validaInfo){
          this.snackbar = true ; this.color="info"
          this.text = "Faltan campos por agregar (Clave, descripción, Línea)"
          return
        }

        //CONVERTIR a 0 y 1
        var nstatus = +this.statusweb
        var nId = this.Id
        var cUnidad = this.Unidad.substring(0, 5)

        const payload = {
          statusweb   : nstatus,   
          ID         : nId,
          numart     : this.numart,
          descrip    : this.descrip,
          marca      : this.Marca,       
          modelo     : this.Modelo,      
          unidad     : cUnidad,
          linea      : this.Linea,      
          familia    : this.Familia,     
          categoria  : this.catego.id,   
          numdep     : this.deptos.id,      
          impuesto1  : parseFloat(accounting.unformat(this.Impuesto1)),  
          preciopub  : parseFloat(accounting.unformat(this.preciopub)),  
          precio1    : parseFloat(accounting.unformat(this.Precio1)) ,
          precio2    : parseFloat(accounting.unformat(this.Precio2)),    
          precio3    : parseFloat(accounting.unformat(this.Precio3)),    
          precio4    : parseFloat(accounting.unformat(this.Precio4)),    
          precio5    : parseFloat(accounting.unformat(this.Precio5)),    
          preciopub : parseFloat(accounting.unformat(this.preciopub)),
          // imagen_name     : this.imagen_name,
          // Url            :this.Url,
          // Obs            :this.Obs,          
          html   :this.Html, 
        }


        //DETERMINAR EL MODO 
        console.log('payload', payload)
        console.log("MODO", this.nModo)
        if (this.nModo == 1) {
          var me = this 
          this.loading= true
          this.$http.post('v1/arts.add' , payload).then(response => {
            // console.log('response', response.body)

            this.snackbar = true ; this.color="#green lighten-5"
            this.text = "Se agregó correctamente el Producto."
            me.$router.push({name: 'catproductos'})
            // setTimeout(function(){ me.$router.push({name: 'catclientes'}) }, 2000);
          }).catch(error => {
            console.log(error)
          }).finally(()  => this.loading = false) 

        }  else {
          var me = this 
          this.loading= true
          // console.log(payload)
          this.$http.put('v1/arts.update' , payload).then(response => {
            console.log('response', response.body)

            this.snackbar = true ; this.color="#green lighten-5"
            this.text = "Se Modificó correctamente el Producto."
            me.$router.push({name: 'catproductos'})
          }).catch(error => {
            console.log(error)
          }).finally(()  => this.loading = false) 
        }
      }
    },
  }
</script>