<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-toolbar dense>
            <v-toolbar-title>Laboratorios</v-toolbar-title> 
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Buscar Categoría"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
                  
            <!-- NUEVA CATEGORÍA -->
            <v-btn align="right" 
              color="primary" dark small
              class="ma-2"
              dense
              :to="{ name: 'editcategoria' }" >Nueva
            </v-btn>

            <!-- BOTON EXCEL -->
            <v-btn
              class='ma-2' 
              dense
              small dark color= "warning"
              @click="exportar()">
              <v-icon>save_alt</v-icon>
            </v-btn>

            <!-- BOTON PDF -->
            <v-btn
              class='ma-2' 
              dense
              small color="secondary"
              @click="crearPDF()">
              <v-icon>print</v-icon>
            </v-btn>
          </v-toolbar>
          <v-data-table
            dense
            :loading="loading" 
            loading-text="Cargando..."
            :headers="headers"
            :items="Catego"
            hide-default-footer
            :items-per-page="longitud"
            class="elevation-1"
            fixed-header
            height="450"
            :search="search"
          >

            <template v-slot:item="{ item }" >
              <tr v-on:dblclick="edit(item.numcat)">
                <td>{{ item.id}}</td>
                <td>{{ item.numcat}}</td>
                <td>{{ item.nomcat}}</td>
                <td>{{ item.nomdep}}</td>
                <!-- <td>{{ item.Nomdep}}</td> -->
                <td>
                  <v-checkbox  readonly v-model="item.statusweb"></v-checkbox>  
                </td>
                <!-- <td>
                  <v-img  v-if="item.Url"  :src="item.Url" width="100%"  max-height="50"  aspect-ratio="1.77"></v-img>
                  <v-img v-else src="/sait.png" height="100%"  aspect-ratio="1.77"></v-img>
                </td>  -->  
              </tr>
            </template> 

            <!-- STATUSWEB -->
          <template v-slot:no-data>
            <v-alert type="info" color="primary" outlined :value="true">
              No hay datos para mostrar
            </v-alert>
          </template>

          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="12">
      </v-col>
    </v-row>
    
  </v-container>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  export default {
     mixins:[excelMixin],

    data () {
      return {
        longitud: 5,
        loading: true,
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        search: '',
        headers: [
          { text: 'ID', align: 'left',sortable: false, value: 'id' },
          { text: 'Clave'        , value: 'numcat' },
          { text: 'Laboratorio'  , value: 'nomcat' },
          { text: 'Categoría'    , value: 'valdep' },
          // { text: 'Departamento'      , value: 'Nomdep' },
          
          { text: 'Activo'      , value: 'statusweb' },
          // { text: 'Imágen'      , value: 'url' },
        ],

        Clientes: [{}],
        Catego: [],
      }
    },

    created () {
      this.consultar()
    },

    methods:{
      // EXCEL
      exportar(){
        let xls = {
          data:     this.Catego, 
          tHeaders : ['ID', 'Categoría', 'Clave', 'NumDep','Departamento', 'Activo', 'Imagen' ],
          filterVal: ['Id', 'Nomcat', 'Numcat', 'Valdep', 'Nomdep','statusweb', 'Url'],
          nomfile : "Consulta de Categorías"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },
        

      // FORMATO PDF
      crearPDF() {
        var columns = [
            { title: 'ID',             dataKey: 'Id' },
            { title: 'Categoría'  ,    dataKey: 'Nomcat' },
            { title: 'Clave'      ,    dataKey: 'Numcat' },
            { title: 'Numdep'     ,  dataKey: 'Valdep' },
            { title: 'Departamento' ,  dataKey: 'Nomdep' },
            
            { title: 'Activo'      ,   dataKey: 'statusweb' },
            // { title: 'Imágen'      ,   dataKey: 'Url' },
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.Catego, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Categorías", 40, 30);
          }
        });
        doc.save('Categorías.pdf');

      },

      // Consulto todos las categorías
      consultar(){
        this.loading = true
        var me = this 
        this.$http.get('v1/catego.list').then(response =>{
          // console.log('response', response.body)
          this.Catego = response.body
          this.longitud = this.Catego.length
        }).catch(function(error){
          console.log(error)
        }).finally(()  => this.loading = false) 
      },

      edit(item){
        // console.log('item', item)
        this.$router.push({name:'editcategoria', params: {id: item}})
      }

    }
  };
</script>