<template>
  <v-container class="pa-5" fluid>
    <v-snackbar
      v-model="snackbar"
      :timeout="8000"
      top
      :color="color" 
      >
      {{text}}
        <v-btn
          color="white"
          text
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
    </v-snackbar>
    <v-row justify="center">
      <v-col cols="12" xl="4" lg="4" md="4" sm="6" xs="12">
        <v-card>
          <v-card-title primary-title>
            {{ formTitle }}
          </v-card-title>
          <v-card-text>
            <v-divider></v-divider> 
              <v-text-field
                v-model="CategoEd.numcat"
                :rules="numcatRules"
                :counter="5"
                maxlength="5"
                label="Clave Laboratorio"
                required
              ></v-text-field>

              <v-text-field 
                v-model="CategoEd.nomcat"
                :rules="nomcatRules"
                label="Laboratorio"
                required
                autofocus
              ></v-text-field>

              <v-select 
                v-model="select"
                :hint="` ${select.id}`"
                :items="Deptos"
                item-text="nomdep"
                item-value="id" 
                label="Seleciona la categoría"
                persistent-hint
                return-object
                single-line
              ></v-select>
              
              <v-switch 
                v-model="CategoEd.statusweb" 
                label="Activo" />

            <!-- <v-row> -->
              <!-- SUBIR IMAGEN -->
              <!-- <v-file-input
                v-model="files"
                show-size counter
                small-chips 
                :rules="rules"
                accept="image/png, image/jpeg, image/bmp"
                placeholder="Buscar Fotos"
                prepend-icon="mdi-camera"
                label="Cargar Fotos"
                @change="subirfoto"
              ></v-file-input>
              
              <v-btn color="primary" @click.prevent="subirfoto" >
                Subir Imagenes
              </v-btn> --> 
              <!-- </v-col> -->
             <!--  <v-col cols="12" sm="6"  
                class="d-flex justify-center" 
                v-if="CategoEd.Url !='' ">
                <img :src="CategoEd.Url" 
                   height="300"
                   contain>
              
                <img :src="imagen1" 
                    class="image" 
                    width="200"  >
                 
              </v-col> -->
              
          <!--     <v-text-field 
                outlined 
                label="Imagen del producto" 
                placeholder="url del producto " 
                v-model="CategoEd.Url" >
              </v-text-field>  -->
            
            <!-- </v-row> -->
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-btn
              small
              class="mx-2"
              :to="{name:'catcategorias'}"
              color="secondary">Regresar
            </v-btn>
            <v-btn
              small
              class="mx-2"
              @click.prevent="agregar"
              color="success">Grabar
            </v-btn>
            <v-btn  
              small
              @click.prevent="borrar"
              color="secondary">Eliminar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
  
      
<script>

  import sdmixins from '@/mixins/sdmixins.js';

  export default {
    mixins:[sdmixins],

    
    data () {
      return {
        imagen_name:'',

        CategoEd:[],
        e1: 0,
        text    : '',
        snackbar: false,
        color   : '',

        statusweb: false,
        nomcat: '',
        numcat: '',
        nModo : '',

        valid: false,
        // Valdep: '',
        Deptos: [],

        /////////////////////////////////
        Nomdepto: [], 
        NomWatchId: [],
        Iddepto : '',
        // Valdep: '',

        ///// SELEC NUEVO
        items: [],
        search: null,
        // select: null,  

        select: {nomdep:'', id:''},
        Deptos:[],

        loading: false,
        imagen:'',
        imagen1:'',
        files: [],
        rules: [
        value => !value || value.size < 2000000 || 'Máximo 2 MB!',
        ],
        
        nomcatRules: [
        v => !!v || 'El nombre es requerido',
        // v => v.length <= 30 || 'El nombre solo acepto 30 caracteres',
        ],
        numcatRules: [
          v => !!v || 'La clave de la Categoría es requerida.',
          // v => v.length <= 5 || 'El nombre solo acepto 30 caracteres'
        ],

      }
    },


    computed:{
      formTitle () {
          // console.log("MOdo computed", this.nModo)
          return this.nModo == "1" ? 'Nuevo Laboratorio' : 'Editar Laboratorio'
      },

      validaInfo(){
      return  this.CategoEd.statusweb        !==  '' &&     
              this.CategoEd.nomcat           !==  '' &&
              this.CategoEd.numcat           !==  '' 
              // && this.CategoEd.Iddepto          !== ''
      }
    },

    created () {
      this.idCatego = this.$route.params.id

        console.log(this.$route.params)
        // console.log(this.idCatego)
      if (this.idCatego !== undefined){
          this.nModo = 2
           // console.log("es LA CATEEGO :",this.idCatego)
          this.busIdCatego(this.idCatego)     
      } else {
          this.nModo= 1
      }  

      this.traerDeptos()   
    },

    methods:{

      traerDeptos(){
        this.$http.get('v1/deptos.list').then(response => {
          this.Deptos = response.body
        }).catch(error =>{
              console.log(error)
        }).finally(()  => this.loading = false)
      },

      // CARGAR INFO 
      busIdCatego(id){
        // var me = this
        this.$http.get('v1/catego.list/' + id).then(response => { 
          response.body[0].statusweb = !!response.body[0].statusweb
          this.CategoEd = response.body[0]
          // var valdep2 = response.body.Valdep.trim()

          this.loading = true
          // Cargar Select de Deptos 
          this.$http.get('v1/deptos.list').then(response => {
            this.Deptos = response.body
            console.log(this.Deptos)            
            this.Deptos.forEach(element=>  {
               // console.log(element.Valdep )
              if (element.id == this.CategoEd.valdep ){
                this.select.nomdep = element.nomdep
                this.select.id = element.id
               }              
            })
          }).catch(error =>{
                console.log(error)
          }).finally(()  => this.loading = false)
          
        }).catch(function(error){
          console.log(error)
        })

      },

      agregar(){
        // VALIDA INFO
        if(!this.validaInfo){
            this.snackbar = true ;
            this.text = "Faltan campos por agregar"
          return
        }

        var nstatus = +this.CategoEd.statusweb
        
        // var cValdep = this.select.Valdep.padStart(3,' ')
        // this.Categoed.Valdep = this.select.Valdep  
        // console.log (this.select.Valdep)

        const payload = {
          id          : this.CategoEd.id,
          statusweb   : nstatus,
          nomcat      : this.CategoEd.nomcat.toUpperCase(),
          numcat      : this.CategoEd.numcat.toUpperCase(),
          // numcat      : this.CategoEd.numcat.toUpperCase().padStart(5,' '),
          // Iddepto     : this.CategoEd.Iddepto, 
          // url         : this.CategoEd.url,
          valdep      : this.select.id
          // imagen_name : this.imagen_name
        }


         //DETERMINAR EL MODO 
          // console.log('payload', payload)
          // console.log("MODO", this.nModo)
          if (this.nModo == 1) {
            var me = this 
             console.log('payload', payload)
             var me = this 
             console.log(payload)
             this.$http.post('v1/catego.add', payload).then(response => {
                // console.log('response', response.body)

                this.snackbar = true ; this.color="blue lighten-3"
                this.text = "El laboratorio se guardo correctamente."
                setTimeout(function(){ me.$router.push({name: 'catcategorias'}) }, 2000);

             }).catch(function(error){
                console.log(error)
             })

          }  else {

            console.log('payload', payload)
            var me = this 
            this.$http.put('v1/catego.update/'+ payload.id, payload).then(response => {
              console.log('response', response.body)

              this.snackbar = true ; this.color="blue lighten-3"
              this.text = "El laboratorio se guardo correctamente."
              setTimeout(function(){ me.$router.push({name: 'catcategorias'}) }, 2000);
            }).catch(function(error){
              console.log(error)
            })

          }
      },

      // subirfoto(){
      //   if (!this.files){
      //     console.log(this.files)
      //     this.CategoEd.Url = ''
      //   } 
      //   console.log(this.files)
      //   this.imagen_name = this.files.name        
      //   this.getBase64(this.files)
      //   this.subirimg(this.files)
      // },

      // cargar(){
      //   console.log(this.$refs.pictureInput.internalArrayValue)
      //   this.getBase64(this.$refs.pictureInput.internalArrayValue[0])
      // },

     // getBase64(file) {
     //  if (!file) return 

     //    var me = this
     //    var reader = new FileReader();
        
     //    reader.readAsDataURL(file);
     //    reader.onload = function () {
     //      me.CategoEd.Url = reader.result
     //      me.files.imagen1= reader.result
     //       // console.log("getBase64",reader.result);
     //    };
     //  },

      // subirimg(img){
      //   if (!img) return
      //   let formDateImagen = new FormData();
      //   // console.log(img.name)
      //   //se crea el objeto y se le agrega como un apendice el archivo 
      //   formDateImagen.append('file',img);
      //   // console.log(formDateImagen)
      
      //   this.$http.post('auth/api/v1/imagenes',formDateImagen,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
      //     var url = this.$http.options.root.replace("tienda3", "fotossait/");
      //     this.CategoEd.Url =  url + img.name
      //   })
      // },


      // borrar(){  
      // this.$http.delete('auth/api/v1/catego.delete/' + this.idCatego).then(response => {
      // // console.log('response', response.body)

      // this.snackbar = true ; 
      // this.text = "La categoría se ha Eliminado."
      // setTimeout (() => this.$router.push({name: 'catcategorias'}),2000) 

      //  }).catch(function(error){
      //     console.log(error)
      //   })
      // },  

  }
};
</script>
