<template>
  <v-container>
    <v-row>

      <v-card width="100%" height="100%">
        <v-card-title primary-title>
          Catálogo de Usuarios

          <v-spacer></v-spacer>

          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar Usuarios"
            single-line
            hide-details
          ></v-text-field>

          <v-spacer></v-spacer>
          
          <!-- NUEVO -->
          <v-btn align="right" 
            color="primary" dark small 
            class="ma-2" 
            :to="{ name: 'newusuario' }" >Nuevo
          </v-btn>

          <!-- BOTON EXCEL -->
          <v-btn 
            class="ma-2" 
            small dark color="warning"
            @click="exportar()">
            <v-icon>save_alt</v-icon>
          </v-btn>

          <!-- BOTON PDF -->
          <v-btn 
            class="ma-2" 
            small color="secondary"
            @click="crearPDF()">
            <v-icon>print</v-icon>
          </v-btn>

        </v-card-title>
              
        <v-data-table
          :loading="loading"        
          :headers="headers"
          :items="usuarios"
          class="elevation-1"
          fixed-header
          height="450"
          hide-default-footer
          loading-text="Cargando..."
          dense
          :search="search"
          :items-per-page=200
        >

          <!-- STATUSWEB -->
         <!--  <template v-slot:item.Statusweb="{ item }">
            <v-checkbox  readonly v-model="item.Statusweb"></v-checkbox>  
          </template> -->
                  
          <template v-slot:item="{ item }" >
           <tr v-on:dblclick="edit(item.idusuariosweb)">
              <td>{{ item.idusuariosweb }}</td>
              <td>{{ item.Nomuser }}</td>
              <td>{{ item.Email }}</td>
              <td>{{ item.numcli }}</td> 
              <td>{{ item.Nomcli }}</td> 
                  
              <td>{{ item.idvend }}</td>
              <td>{{ item.Nomvend }}</td>
              <td>{{ item.nivel }}</td>
           </tr>
                   
         </template>
        </v-data-table>
      </v-card>
    </v-row>  
  </v-container>
</template>


<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';
  var accounting = require("accounting");
  var md5     = require('md5')

  export default {
    mixins:[excelMixin],

    data: () => ({
      dialog: false,
      headers: [
        { text: 'ID', align: 'left',sortable: false, value: 'idusuariosweb' },
        { text: 'Usuario'  , value: 'Nomuser' },
        { text: 'Email'    , value: 'Email' },
        { text: 'Cliente'  , value: 'numcli' },
        { text: 'Nombre Cliente', value: 'Nomcli' },
        { text: 'id Vend'  , value: 'idvend' },
        { text: 'Vendedor', value: 'Nomvend'},
        { text: 'Nivel', value: 'nivel'},  
      ],

      search: '',
      loading: false,
      usuarios: [],
           
    }),

    
    created () {
      this.init()
    },

    methods: {
       edit(item){
        // console.log("Numart", item)
        this.$router.push({name:'newusuario', 
              params: {idusuariosweb: item}})
      },


      // EXCEL
      exportar(){
        let xls = {
          data:      this.usuarios,
          tHeaders : ['ID', 'Usuario', 'Email', 'Cliente', 'Nombre Cliente', 'ID Vend', 'Vendedor', 'Nivel'],
          filterVal: ['idusuariosweb', 'Nomuser', 'Email', 'numcli', 'Nomcli', 'idvend', 'Nomvend', 'nivel'],
          nomfile :  "Consulta de Usuarios"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF
      crearPDF() {
        var columns = [
            { title: 'ID',               dataKey: 'idusuariosweb' },
            { title: 'Usuario'  ,        dataKey: 'Nomuser' },
            { title: 'Email'    ,        dataKey: 'Email' },
            { title: 'Cliente'  ,        dataKey: 'numcli' },
            { title: 'Nombre Cliente'  , dataKey: 'Nomcli' },
            { title: 'ID Vend'  ,        dataKey: 'idvend' },
            { title: 'Vendedor',         dataKey: 'Nomvend'},
            { title: 'Nivel',            dataKey: 'nivel'},
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.usuarios, {
            styles: {minCellWidth: 60, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 90},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              6: {cellWidth: 'auto'},
              7: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Usuarios", 40, 30);
          }
        });
        doc.save('Usuarios.pdf');
      },

      init () {
        this.clientesArr = []
        this.vendArr = []

        //Consultar Usuarios
        this.loading = true

        this.$http.get('auth/api/v1/usuarios.list').then( response => {
          this.usuariostemp = response.body
          //Cargar vendedores
          this.$http.get('auth/api/v1/vend.list').then( response => {
            this.vendedores = response.body
            for (var i = this.vendedores.length - 1; i >= 0; i--) {
              this.vendArr.push(this.vendedores[i].Nomvend)
            }
            //Cargar clientes
            this.$http.get('api/v1/clientes').then( response => {
              this.clientes = response.body
              for (var i = this.clientes.length - 1; i >= 0; i--) {
                this.clientesArr.push(this.clientes[i].nomcli)
              }
              this.LlenaVendCli()
            })
          })
      
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 

      },  

      LlenaVendCli(){
        for (var i = this.usuariostemp.length - 1; i >= 0; i--) {
          for (var j = this.vendedores.length - 1; j >= 0; j--) {
            if(this.usuariostemp[i].idvend == 0){
              this.usuariostemp[i].idvend = ''
            }
            if(this.vendedores[j].IDvend == this.usuariostemp[i].idvend){
              this.usuariostemp[i].Nomvend = this.vendedores[j].Nomvend
            }
            if(this.usuariostemp[i].Nomvend == undefined){
              this.usuariostemp[i].Nomvend = ''
            }
          }            
        }

        //Llenar 
        for (var i = this.usuariostemp.length - 1; i >= 0; i--) {
          for (var j = this.clientes.length - 1; j >= 0; j--) {

            if(this.clientes[j].numcli == this.usuariostemp[i].numcli){
              this.usuariostemp[i].Nomcli = this.clientes[j].nomcli
            }
           
            // if(this.clientes[j].idweb == this.usuariostemp[i].numcli){
            //   this.usuariostemp[i].Nomcli = this.clientes[j].nomcli
            // }
            if(this.usuariostemp[i].Nomcli == undefined){
              this.usuariostemp[i].Nomcli = ''
            }
          }            
        }
        this.usuarios = this.usuariostemp
      },  
    


    },

  }
</script>