<template>  
<v-container>
  <v-row >  
    <v-col>
      <!-- TOOLBAR -->
      <v-row no-gutters>
        <v-col class="d-flex" cols="12">
          <v-toolbar color="primary" dark>
              <v-toolbar-title>Nuevo Usuario </v-toolbar-title>
              <v-spacer></v-spacer>

              <!-- BTN ATRAS -->
              <v-btn 
                class="ma-2" 
                color="blue lighten-2" 
                :to="{name:'catusuarios'}" 
                dark>Atras
              </v-btn>

              <!-- BTN BORRAR -->
              <v-btn   
              class="ma-2" 
                @click.prevent="deleteItem"
                color="red">Borrar
              </v-btn>

              <!-- BTN GUARDAR -->
              <v-btn   
              class="ma-2" 
                @click.prevent="agregar"
                color="blue darken-3">Grabar
              </v-btn>
          </v-toolbar>
        </v-col>
      </v-row>
           
      <!-- ENCABEZADOS -->
      <v-row >
        <v-col  cols="4" sm="3">
          <v-text-field 
            readonly  hide-details 
            v-model="Usuarios.idusuariosweb" label="ID">
          </v-text-field> 
        </v-col>

        <!-- :rules="NomlinRules" -->
        <v-col cols="8" sm="6">
          <v-text-field 
            autofocus 
            v-model="Usuarios.Nomuser"
            :counter="30"
            label="Usuario"
            required hide-details 
          ></v-text-field>
        </v-col>
      </v-row>

      <!-- HOLA   -->
      <v-row>
        <v-col cols="6" sm="6" md="6">   
          <!-- EMAIL -->
          <v-text-field
            autofocus
            v-model="Usuarios.Email" 
            prepend-icon="email" 
            label="Correo" 
            required
            type="text">
          </v-text-field>

          

          <!-- :rules="[rules.required, rules.min]" -->
            <!-- PASSWORD -->
          <v-text-field
            v-model="Usuarios.password"
            prepend-icon="lock"
            :append-icon="show1 ? 'visibility' : 'visibility_off'"
            :type="show1 ? 'text' : 'password'"
            label="contraseña"
            hint="At least 8 characters"
            counter
            @click:append="show1 = !show1"
          ></v-text-field>

        </v-col>
        
    
        <v-col cols="6" sm="6" md="6">
        
          <v-autocomplete
            @keyup.enter="submit"
            label="Selecciona un cliente y oprime ENTER"
            v-model="Nomcli"
            :items="clientesArr"
            clearable
            append-icon="search"
            @input="evento(Nomcli)"
            hint="CLIENTE'"
            persistent-hint


          ></v-autocomplete>


        <!-- SELECCIONAR Vendedor -->
          <v-autocomplete
            @keyup.enter="busvend"
            label="Buscar un vendedor y oprimir ENTER"
            v-model="Nomvend"
            :items="vendArr"
            clearable
            append-icon="search"
            @input="inputvend(Nomvend)"
          ></v-autocomplete>           

        </v-col>
                   
       </v-row> 
      <!-- CRAYAOOLA -->


       <!-- SNACK BAR -->
      <v-snackbar
        v-model="snackbar"
        :timeout="8000"
        top
        :color="color" 
        >
        {{text}}
          <v-btn
            color="white"
            text
            @click="snackbar = false"
          >
            Cerrar
          </v-btn>
      </v-snackbar>


    </v-col>
  </v-row>
</v-container>
</template>


<script>

  import sdmixins from '@/mixins/sdmixins.js';
  import {mapActions , mapGetters} from 'vuex'

  var accounting = require("accounting");
  var md5     = require('md5')

  export default {
    mixins:[sdmixins],
    
    data () {
      return {
        idusuariosweb:'',
        nModo:'',
        Usuarios:[],

        Nomcli:'',
        Nomvend:'',

        snackbar: false,  
        error: '',
        color:'',
        text:'', 

        Mostrar: false,
        show1: false,
        ///// SELEC NUEVO
        items: [],
        search: null,
        // select: null,  

        select: {Nomdep:'', Valdep:''},

        rules: {
          required: value => !!value || 'Requerido.',
          min: v => v.length >= 8 || 'Minimo 8 caracteres',
          emailMatch: () => ('El correo y/o la contraseña no son correctos')
        },

        NomlinRules: [
          v => !!v || 'El nombre es requerido',
          v => v.length <= 30 || 'El nombre debe ser menor de 30 letras',
        ],
       
        clientesArr:[],
        vendArr:[],
      }
    },


    computed:{
      validaInfo(){
      return  this.Usuarios.Nomuser        !==  '' &&     
              this.Usuarios.passwor        !==  '' 

      }
    },

    created () {
      this.idusuariosweb = this.$route.params.idusuariosweb
        // console.log(this.id)
      if (this.idusuariosweb !== undefined){
        this.nModo = 2
        // console.log("es LA CATEEGO :",this.idCatego)
        this.cargarinfo(this.idusuariosweb)     
      } else {
          this.nModo = 1
      }     
    },

    methods:{
      ...mapActions('Login',['validarUser']),
      ...mapActions('Login',['GetInfoUser' ,]),
      // CARGAR INFO 
      cargarinfo(id){
        this.$http.get('auth/api/v1/usuarios/' + id).then(response => { 
        // response.body.statusweb = !!response.body.statusweb
          this.Usuarios = response.body
          this.submit()
          this.busvend()

          this.cargarCliente(this.Usuarios.numcli)
          this.cargarVend(this.Usuarios.idvend)
          //cargar los clientes
          console.log(this.Usuarios)
        }).catch(error=>{
            console.log(error)
        })

      },

      cargarCliente(value){
        this.$http.get('auth/api/v1/clientebynumcli/' + value ).then(response=>{
          console.log(response.body)
          this.Nomcli = response.body.nomcli
        })
      },

      cargarVend(value){
        var payload = {Buscavend: value}
        this.$http.get('auth/api/v1/vend/'+  value ).then(response=>{
          console.log(response.body)
          this.Nomvend = response.body.Nomvend
        })
      },

     //BUSCAR 
      submit(){
        this.clientesArr = []
        this.clientesAll = []
        var payload = { Buscacli : this.cliente}
        this.$http.post('auth/api/v1/clientes.find',payload).then(response=>{
          this.clientesAll = response.body
          console.log(this.clientesAll)
          for (var i = response.body.length - 1; i >= 0; i--) {
            this.clientesArr.push(response.body[i].nomcli)
          }
        })
      },

      evento(valor){
        for (var i = this.clientesAll.length - 1; i >= 0; i--) {
          if(this.clientesAll[i].nomcli === valor){
            this.idweb = this.clientesAll[i].idweb
            this.Numcli = this.clientesAll[i].Numcli
          }
        }
      },

      //BUSCAR VENDEDOR 
      busvend(){
        this.vendArr = []
        this.vendAll = []
        var payload = { Buscavend : this.vendedor}
        this.$http.post('auth/api/v1/vendedores.find',payload).then(response=>{
          this.vendAll = response.body
          console.log(this.vendAll)
          for (var i = response.body.length - 1; i >= 0; i--) {
            this.vendArr.push(response.body[i].Nomvend)
          }
        })
      },

      inputvend(valor){
        for (var i = this.vendAll.length - 1; i >= 0; i--) {
          if(this.vendAll[i].Nomvend === valor){
            this.idvend = this.vendAll[i].IDvend
            console.log(valor +'   '+ this.idvend)          
          }
        }
      },

      agregar(){

        var me = this
        // VALIDA INFO
        if(!this.validaInfo){
            this.snackbar = true ;
            this.text = "Faltan campos por agregar"
          return
        }
        var cPassword= md5(this.Usuarios.password)

        var payload = {
          // idusuariosweb : this.Usuarios.idusuariosweb,
          Nomuser  : this.Usuarios.Nomuser,
          Email    : this.Usuarios.Email,
          password : cPassword,
          Numcli : this.Numcli,
          Idvend : this.idvend,
          Nivel  : "ADMIN",
          Idnivel: '3'     
        }
        console.log('this.idvend',this.idvend)

        if(this.idvend == undefined || this.idvend == '' ){
          payload.Idvend = '0'
        }

        if(this.Numcli == undefined || this.Numcli == '' ){
          payload.Numcli = '0'
        }     
         //DETERMINAR EL MODO 
          if (this.nModo == 1) {
            const formData = { Email: payload.Email }
            this.$http.post('api/v1/getidxmail', formData).then(respuesta=>{return respuesta.json()})
            .then(respuestaJson=>{
              console.log('respuesta getId',respuestaJson)
              if(respuestaJson.idusuariosweb != ''){
                this.snackbar = true
                this.text = 'Correo ya registrado'
                return
              }else{
                this.$http.post('auth/api/v1/usuarios.add', payload).then( response => {
                  this.buscCorreo(payload.Email)
                  this.snackbar = true
                  this.color = "blue lighten-3"
                  this.text = "El usuario se guardo correctamente."
                }).catch(error => {
                  console.log(error.body)
                }).finally(()  => {
                  // this.init() 
                   this.loading = false
                }) 
              }
            }).catch(function(error){console.log('error',error)})
          }  else {
            var me = this 
            this.$http.put('auth/api/v1/usuarios.update/'+ this.Usuarios.idusuariosweb, payload).then(response => {
              // console.log('response', response.body)
              this.snackbar = true ; this.color="blue lighten-3"
              this.text = "El usuario de modifico correctamente."
              setTimeout(function(){ me.$router.push({name: 'catusuarios'}) }, 2000);
            }).catch(function(error){
              console.log(error)
            })

          }

      },


      deleteItem (item) {
        this.snackbar = true ;
        this.text = "Se eliminó el Usuario."
       
        // console.log(item)
        var nId = this.idusuariosweb
        console.log (nId)
        this.$http.delete('auth/api/v1/usuarios.delete/' + nId).then( response => {
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.$router.push({name: 'catusuarios'})
        }) 
      },

      buscCorreo(correo){
        const formData = {
          Email: correo
        }

        this.$http.post('api/v1/getidxmail', formData).then(respuesta=>{return respuesta.json()})
        .then(respuestaJson=>{
            console.log('respuesta getId',respuestaJson)
          if(respuestaJson === null){
            this.snackbar= true
            this.text="No encontre ID"
          }else{
            console.log('Enviar correo')
            this.ID = respuestaJson.idusuariosweb
            this.enviarCorreo(this.ID, correo)
          }
        }).catch(function(error){console.log('error',error)})
      },

      enviarCorreo(id, correo){
        var me = this
        const  formData = { 
          Email  : correo, 
          logo   : "https://www.tiendaenlinea.pro/redleaf/img/redleaf_mini.png",
          color  : "#BF1421",
          ruta   : "http://redleaf.pro/activarusuario/" + id
        }

        console.log('formData to, idusuariosweb', formData )
        this.$http.post('api/v1/activarcuenta', formData).then(function(response){
          if(response.status == 200){
            this.text     = "Se ha enviado el código de validación a su correo." 
            this.color= "#2E7D32"
            this.snackbar = true
            setTimeout(function(){ me.$router.push({name: 'catusuarios'}) }, 2000);

          }else{
            this.text = 'Falla al enviar el correo'
            this.snackbar = true
            this.color = 'red'
          }
        })
      },

      ingresar2 (){
        var md5     = require('md5')
        var payload = { "Username": this.email, "Password": md5(this.password)}
        
        // console.log('payload',payload)
        this.validarUser(payload).then(response => {
          // Asigno token a variable
          var token = response.token          
         // Guardo el Token 
          this.$store.dispatch("guardarToken", token)

        }).catch(error => {
          // Si la respuesta es 401 muestro mensaje
          if(error.status=== 401){
            this.text  = "No existe el usuario o sus datos son incorrectos"
            this.snackbar = true 
          }
        })
      

      }

    }
  };
</script>




