<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-if="getLogeado == true"
      v-model="drawer"
      app
      >

      <v-container>
        <v-flex xs12 text-xs-center>
          <img src="http://surtimedix.com/imagenes/logo.png" alt="alt" max-height="80" width="200" align="center">
        </v-flex>
      </v-container>
     <v-card-text class="primary pa-1 white--text" align="center">
        {{ getdatosUsuario.nomuser }}
      </v-card-text>
      
      <v-list dense>
        <template >
          <v-list-item :to="{name: 'home'}">
            <v-list-item-content >
              <v-list-item-title >
                Home
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>home</v-icon>
            </v-list-item-action>
          </v-list-item>
        </template>

        <template >
          <v-list-item :to="{name: 'prueba'}">
            <v-list-item-content >
              <v-list-item-title >
                Prueba
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>home</v-icon>
            </v-list-item-action>
          </v-list-item>
        </template>
        
        <template v-for="item in items">
          <v-layout
            v-if="item.heading"
            :key="item.heading"
            align-center
          >
          </v-layout>

          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon="item.icon"
            
          >
            <template v-slot:activator>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title> 
                   {{ item.text}}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>

            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              :to="child.path"
            >
              <v-list-item-content >
                <v-list-item-title >
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
            </v-list-item>
          </v-list-group>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="primary"
      dark
    >
      <v-toolbar-title class="ml-0 pl-4">
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" v-if="getLogeado == true"></v-app-bar-nav-icon>
        <span>Administración de la tienda</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="salir">
        <v-icon>exit_to_app</v-icon>
      </v-btn>
    </v-app-bar>

    <!-- Ruteo de vistas -->
    <v-content>
      <v-container fluid >
        <v-slide-y-transition mode="out-in">
          <router-view/>
        </v-slide-y-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import store from '@/store'
import {mapGetters, mapActions} from 'vuex'

  export default {
    props: {
      source: String,
    },
    data: () => ({
      logo:'',
      snackbar: false,
      drawer: null,
      items: [
        {
          icon: 'chrome_reader_mode', 'icon-alt': 'keyboard_arrow_down', text: 'Clasificar Productos',
          model: false,
          children: [
            { text: 'Catálogo de articulos'  ,path: 'catproductos' ,      icon:'chrome_reader_mode'},
            { text: 'Categorías  '           ,path: 'catdepartamentos' ,  icon:'book'},
            { text: 'Laboratorios'           ,path: 'catcategorias',      icon:'bookmarks'},
            // { text: 'Líneas'                 ,path: 'catlineas' ,         icon:'bookmark'},
            // { text: 'Carga de imágenes'      ,path: 'carimagenes',        icon:'perm_media'}
          ],
        },
        {
          icon: 'build', 'icon-alt': 'keyboard_arrow_down', text: 'Operaciones',
          model: false,
          children: [
            { text: 'Catálogo de Vendedores' ,path: 'catvend',         icon:'redeem'},
            { text: 'Catálogo de Clientes'   ,path: 'catclientes',     icon:'redeem'},
            { text: 'Consulta de documentos' ,path: 'consultadoc' ,    icon:'find_in_page'},
            // { text: 'Consultar Existencias'  ,path: 'inventario.list' ,         icon:'find_in_page'},
             
           
          ],
        },
        // {
        //   icon: 'calendar_view_day', 'icon-alt': 'keyboard_arrow_down', text: 'Marketing',
        //   model: false,
        //   children: [
        //     // { text: 'Promociones'           ,path: 'catpromo', icon:'bookmarks'},
        //     { text: 'Promociones'           ,path: 'catpromo2', icon:'bookmarks'},
        //     { text: 'Novedades y Destacados', path: 'noveydes', icon: 'book'  },
        //     // { text: 'Nuevos correos', path: 'newcorreos', icon: 'book' },
        //     // { text: 'Envio de Promociones'  ,path: 'enviopromo',  icon:'redeem'},
        //     // { text: 'Generar Páginas SEO'   ,path: 'seo',         icon:'verified_user'}
        //     { text: 'Prueba', path: 'prueba', icon: 'book' },
        //   ], 
        // },
        {
          icon: 'calendar_view_day', 'icon-alt': 'keyboard_arrow_down', text: 'Configuración',
          model: false,
          children: [
            { text: 'Usuarios'     ,path: 'catusuarios',   icon:'group'},
            { text: 'Tienda'       ,path: 'tienda',        icon:'store'},
            // { text: 'Tema'         ,path: 'tema',          icon:'palette'},
            { text: 'Configurar'   ,path: 'configurar',    icon:'settings_applications'},
            // { text: 'Home Tienda'  ,path: 'confighome',    icon:'store'},
         
            // { text: 'Niveles'            ,path: 'niveles',  icon:'vpn_key'},
            // { text: 'Generar respaldo'   ,path: '',         icon:'verified_user'}
          ], 
        },
        
        // {
        //   icon: 'settings', 'icon-alt': 'keyboard_arrow_down',
        //   text: 'Configurar Tienda',
        //   model: false,
        //   children: [
        //     { text: 'Tienda'    ,path: 'tienda',   icon:'store'},
        //     // { text: 'Ventas'    ,path: 'ventas',   icon:'assignment_turned_in'},
        //     // { text: 'Pago'      ,path: 'pago',     icon:'receipt'},
        //     // { text: 'Envío'     ,path: 'envio',    icon:'place'},
        //     // { text: 'Términos'  ,path: 'terminos', icon:'assignment'}
        //   ],
        // },

        // MENU DE PRUEBAS PDF
        // {
        //   icon: 'calendar_view_day', 'icon-alt': 'keyboard_arrow_down', text: 'Pruebas cat PDF',
        //   model: false,
        //   children: [
        //     { text: 'Consulta de documentos2' ,path: 'consultadocpruebas' ,    icon:'find_in_page'},
            
        //   ], 
        // },
      
      ],
    }),
    beforeCreate(){
      // mandar a llamar la api
    },

    created(){
      // this.traerTema(1)
      this.logo = this.$http.options.root + '/imagenes/logo.png'
    },

    methods:{
      ...mapActions('tema',['traerTema']),
      ...mapActions('Login', ['salirLogin']),




      salir(){
        this.salirLogin()
        // Mando a llamar la accion salir
        this.$store.dispatch("salir")
      },

    },

    computed:{
     ...mapGetters('Login', ['getdatosUsuario', 'getLogeado']),
     ...mapGetters('tema', ['getTema']),
    
      logueado(){
        return this.$store.state.usuario;
      },

      esAdministradorSait(){
      return this.$store.state.usuario &&  this.$store.state.nivel == 'ADMIN';
      },

      esUsuarioWeb(){
        return this.$store.state.usuario &&  this.$store.state.nivel == 'USER';
      },
    }
}



</script>


