<template>
	<v-layout row wrap justify-center class="mt-5">

		 <v-snackbar
      v-model="snackbar"
      :timeout="4000"
      top
      color="blue-grey darken-1" 
      >
      Lo sentimos no se pudo activar esté usuario. 
      <v-btn
        color="white"
        text
        @click="snackbar = false"
      >
        Close
      </v-btn>
    </v-snackbar>

		<v-flex xs12 sm8 md5 lg4> 

  		<v-card  align="center" class=" contenido elevation-8 " >
  		  <span class="titulo"> ¡LISTO!, EL USARIO A SIDO ACTIVADO </span>
        
        <v-divider class="mx-1 mt-3"></v-divider>

        <v-btn outlined block color="primary " class="mt-2" :to="{name: 'Login' }">Iniciar Sesión</v-btn>
  
        <div class="mt-5 infoEmpresa"> 
          <span>Visita Nuestra página: <a href="https://saiterp.com/fabrica.php" target="_blank">Fabrica de Software.</a></span><br>
          <span>Rio Guayalejo 143, Jardines de Canada,Escobedo N.L.</span><br>     
        </div>
        
  		  <v-divider class="mx-1 mt-2"></v-divider>
        <v-card-actions align="center">
          <img class="sait" :src="logo"  height="100%" width="100%"/>
        </v-card-actions> 

  		</v-card>
		</v-flex>
	</v-layout>
</template>

<script>
  export default {
    data () {
      return {
        snackbar: false,
        id: '',
        logo:'',
      }
    },

    created () {
      this.$http.get('api/v1/logos.list').then(response=>{
        this.logo = response.body.Logourl

      }, error => {
        console.log(error)
      })
      this.id = this.$route.params.id
      this.activarcorreo()
  
    },
     methods:{
     	activarcorreo(id){
        var me = this
        
     		this.$http.get('api/v1/activarusuario/' + this.id).then(function(response){
     			if(response.body == null){
     				this.snackbar = true 
     			}else{

     			}
     		})
     	},

     }
  };
</script>

<style scoped>
.contenido{
	padding: 48px;	
}

.titulo{
	font-family: black;
	font-size: 30px;
}

.sait{
	font-family: black;
	font-size: 18px
}

.infoEmpresa{
  font-size: 11px
}
</style>