<template>

  <!-- :search="search"
    :custom-filter="filterOnlyCapsText"
 -->
   <!-- sort-by="lineas.Nomlin" -->
     <!-- :items-per-page= "lineas.length" -->
    <!--   :sort-by="['id', 'nomlin']"
    :sort-desc="[false, true]" -->
<!-- 
  :sort-by.sync="sortBy"
      :sort-desc.sync="descending"
 -->  
  <v-data-table
    fixed-header
    height="480"
    hide-default-footer
    dense
    class="elevation-2"      
    :options.sync="options"
    :loading="loading"
    :server-items-length="lineas.length"
    :headers="headers"
    :items="lineas"
    :search="search"
  >
  
    <!-- STATUSWEB -->
    <template v-slot:item.statusweb="{ item }">
      <v-checkbox  readonly v-model="item.statusweb"></v-checkbox>  
    </template>

    <!-- IMAGEN DEL PRODUCTO -->
    <template v-slot:item.Url="{ item }">
      <v-img  v-if="item.Url"  :src="item.Url" width="50"  max-height="50"  aspect-ratio="1.77"></v-img>
      <v-img v-else src="@/assets/sait.png" width="50" max-height="50" aspect-ratio="1.77"></v-img>
    </template>

    <!-- EN EL SLOT TOP PONER UN TOOLBAR -->
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>Catálogo de Líneas</v-toolbar-title>
          <v-spacer></v-spacer>
            
           <!-- AUTOCOMPLETE LINEAS -->
           <v-autocomplete
            clearable
            append-icon="search"
            label="Buscar Línea"
            v-model="lineas"
            :items="LineasArr"
            @input="inputlinea(lineas)"
            @keyup.enter="buslinea"
          ></v-autocomplete>
     
      <div class="flex-grow-1"></div>
        <v-dialog v-model="dialog" persistent max-width="600px">
          <template v-slot:activator="{ on }">
            <v-btn
              color="primary" 
              dark class="mb-2"
              v-on="on"
              :to="{ name: 'newlinea' }"
              >
              <v-icon>add</v-icon>
              <span>Línea</span>
            </v-btn>
          </template>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        color= "blue darken-3"
        small
        class="mr-2"
        @click="edit(item.Numlin)"
      >
        edit
      </v-icon>
      <v-icon
        color="red darken-3"
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
  </v-data-table>
</template>

<script>
 import {mapGetters} from 'vuex'

  export default {
   
    data: () => ({
      dialog: false,
      headers: [
        { text: 'ID', align: 'left',sortable: false, value: 'Id' },
          { text: 'Clave'  , value: 'Numlin' },
          { text: 'Línea'  , value: 'Nomlin' },
          { text: 'Catego id'  , value: 'Numcat' },
          { text: 'Categoría'  , value: 'Nomcat' },
          { text: 'Depto ID'   , value: 'Valdep' },
          { text: 'Depto'   , value: 'Nomdep' },
          { text: 'Activo Tienda'  , value: 'statusweb' },
          // { text: 'Imagen', value: 'Url'},
          { text: 'Actions' , value: 'action', sortable: false },
      ],

      imagen:'',
      file: [],
      options: {},
      loading: true,
      Mostrar : false,
      search: '',   
      lineas: [],
      LineasArr: [],
      lineasAll: [],
      Id:'',
      Numlin: '',
      Nomlin: '',
      statusweb:'',
      Url:'',
    }),

    computed: {},
      // ...mapGetters('login',['getdatosUsuarios']),

    mounted () {
      this.getDataFromApi()
        .then(data => {
          // this.desserts = data.items
          // this.totalDesserts = data.total
          this.lineas = data.items
          this.loading= false
          console.log(this.lineas)
        })
    },

   watch: {
      options: {
        handler () {
          this.getDataFromApi()
            .then(data => {
              this.desserts = data.items
              this.totalDesserts = data.total
            })
        },
        deep: true,
      },
    },
    
    methods: {      
      getDataFromApi () {
        this.loading = true

        return new Promise((resolve, reject) => {
           const { sortBy, descending} = this.options

            this.$http.get('auth/api/v1/lineas.list').then( response => {
              // console.log('Lineas ', response.body)

              //RECORRER la respuesta convertit a Falso y verdadero
              for (var i = response.body.length - 1; i >= 0; i--) {
                response.body[i].statusweb = !!response.body[i].statusweb
              }
              this.lineas = response.body
              this.LineasArr = response.body
              let items = this.LineasArr
              const total = items.length
              
              if (this.options.sortBy) {
                items = items.sort((a, b) => {
                  const sortA = a[sortBy]
                  const sortB = b[sortBy]

                  if (descending) {
                    if (sortA < sortB) return 1
                    if (sortA > sortB) return -1
                    return 0
                  } else {
                    if (sortA < sortB) return -1
                    if (sortA > sortB) return 1
                    return 0
                  }
                })
              }

              this.loading= false
              resolve({
                items,
                total,
              })
            }).catch(error => {
              console.log(error)
            }).finally(()  => this.loading = false) 

        })
      },

      //////BUSCAR LINEAS 
      buslinea(){
        this.LineasArr = []
        this.lineasAll = []
        this.$http.get('auth/api/v1/lineas.list').then(response=>{
          this.lineasAll = response.body
           // console.log(this.lineasAll)
          for (var i = response.body.length - 1; i >= 0; i--) {
            this.LineasArr.push(response.body[i].Nomlin)
          }
          // console.log(this.lineasArr)
        })
      },

      inputlinea(valor){
        for (var i = this.lineasAll.length - 1; i >= 0; i--) {
          if(this.lineasAll[i].Nomlin === valor){
            this.idlinea = this.lineasAll[i].Id
            this.Linea = this.lineasAll[i].Numlin
            // console.log(valor +'   '+ this.idlinea + ' ' + this.Linea)          
          }
        }
      },

      init () {
        //Consultar lineas
        this.loading = true

        this.$http.get('auth/api/v1/lineas.list').then( response => {
          // console.log('Lineas ', response.body)
      
          //RECORRER la respuesta convertit a Falso y verdadero
          for (var i = response.body.length - 1; i >= 0; i--) {
            response.body[i].statusweb = !!response.body[i].statusweb
          }
          this.lineas = response.body
          this.LineasArr = response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 
      },     
    
      deleteItem (item) {
        console.log(item)
        var nIdpromo = item.Id
        console.log (nIdpromo)
        // this.loading = true
        this.$http.delete('auth/api/v1/lineas.delete/' + nIdpromo).then( response => {
          console.log('Linea ', response.body)
          
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.init() 
          // this.loading = false
        }) 
      },
      
      edit(item){
        // console.log("Numlin", item)
        this.$router.push({name:'newlinea', params: {Numlin: item}})
      }

    },    
  }
</script>