<template>

  <!-- :search="search"
    :custom-filter="filterOnlyCapsText"
 -->
   <!-- sort-by="lineas.Nomlin" -->
     <!-- :items-per-page= "lineas.length" -->
    <!--   :sort-by="['id', 'nomlin']"
    :sort-desc="[false, true]" -->
<!-- 
  :sort-by.sync="sortBy"
      :sort-desc.sync="descending"
 -->    

 <!-- :server-items-length="lineas.length" -->
  <v-data-table
    :loading="loading"
    fixed-header
    height="480"
    hide-default-footer
    dense
    class="elevation-2"      
    multi-sort
    :options.sync="options"
    
    :items-per-page=200
    :headers="headers"
    :items="lineas"
  >
  
    <!-- STATUSWEB -->
    <template v-slot:item.statusweb="{ item }">
      <v-checkbox  readonly v-model="item.statusweb"></v-checkbox>  
    </template>

    <!-- IMAGEN DEL PRODUCTO -->
    <template v-slot:item.Url="{ item }">
      <v-img  v-if="item.Url"  :src="item.Url" width="50"  max-height="50"  aspect-ratio="1.77"></v-img>
      <v-img v-else src="@/assets/sait.png" width="50" max-height="50" aspect-ratio="1.77"></v-img>
    </template>

    <!-- EN EL SLOT TOP PONER UN TOOLBAR -->
    <template v-slot:top>

      <v-toolbar flat color="white">
        <v-toolbar-title>Nueva Línea</v-toolbar-title>
          <v-spacer></v-spacer>
   
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Filtrar"
            single-line>
          </v-text-field>

          <v-divider
            class="mx-4"
            inset
            vertical
          ></v-divider>

          <!-- BOTON EXCEL -->
          <v-btn 
            class="ma-2" 
            small dark color="warning"
            @click="exportar()">
            <v-icon>save_alt</v-icon>
          </v-btn>

          <!-- BOTON PDF -->
          <v-btn 
            class="ma-2" 
            small color="red darken-3"
            @click="crearPDF()">
            <v-icon>print</v-icon>
          </v-btn>

        
        <div class="flex-grow-1"></div>
        
        <v-dialog v-model="dialog" persistent max-width="600px">
          <template v-slot:activator="{ on }">
            <v-btn
              align="right" 
              color="blue lighten-3" dark small 
              class="ma-2"
              v-on="on">
              <span>Nueva</span>
            </v-btn>
          </template>
      
          <!-- FORMA MODAL -->
          <v-card>
            <v-toolbar src="@/assets/fondo.jpg" dark>
              <v-toolbar-title>{{ formTitle }}</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn color="warning"  class="ma-2" dark @click="close">Cancel</v-btn>          
                <v-btn color="blue darken-1"  class="ma-2" dark @click="save">Grabar</v-btn>
              </v-toolbar>      
                
            <v-card-text>
              <v-container>
                <v-row>

                  <v-col  v-show="Mostrar" cols="2" sm="2" md="2">
                    <v-text-field readonly v-model="Id" label="ID"></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="6" md="6">
                    <v-text-field 
                      autofocus 
                      v-model="Nomlin"
                      :rules="NomlinRules"
                      :counter="30"
                      label="Línea"
                      required
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="4" md="4">   
                    <v-text-field
                      v-model="Numlin"
                      :rules="NumlinRules"
                      :counter="5"
                      label="Clave Línea"
                      required
                    ></v-text-field>
                  </v-col>

                </v-row>
                
                <v-row>
                  <v-col cols="4" sm="4" md="4">
                   <v-switch 
                    v-model="statusweb" 
                    label="Activo">    
                   </v-switch>           
                  

                  </v-col>
                    <v-col  sm="8" md="8">
                      <v-text-field outlined label="Imagen del producto" placeholder="url del producto " v-model="Url" >
                      </v-text-field>

                  </v-col>

                </v-row>
                


                <!-- CARGAR IMAGEN DESDE LAPTOP  FILE INPUT   -->
                <v-row>
                  <v-col cols="12" sm="8" md="6">
                    
                      <v-file-input label="Cargar imagen" 
                        @change="cargar"  
                        accept="image/*"
                        show-size
                        :rules="rules"
                        prepend-icon="mdi-camera"  
                       
                        ref="pictureInput">    
                      </v-file-input>

                  </v-col>
                  
                  <v-col cols="12" sm="4" md="4">
                     <v-btn
                          v-if="imagen" 
                          color="success" @click="subirimg">
                          Subir foto
                        </v-btn>    
                  </v-col>


                  <v-col cols="12" sm="6" md="6">     

                  <img :src="imagen" 
                      class="image" 
                      width="200" 
                      style="border: 2px solid #49729E; border-radius: 5px;" >
                  </v-col>

                  <v-col cols="12" sm="6" md="6">
                    <!-- SELECCIONAR DEPTO -->
                    <v-select
                      :items="Nomdepto"
                      label="Deptartamento"
                      item-text="deptos"
                      v-model="deptos"
                      class="text-xs-center"
                      prepend-icon="email"
                      sinlge-lin hide-details 
                    ></v-select>

                  <!-- SELECCIONAR CATEGORIA -->
                    <v-select
                      :items="Nomcatego"
                      label="Categoría"
                      item-text="catego"
                      v-model="catego"
                      class="text-xs-center"
                      prepend-icon="email"
                      sinlge-lin hide-details 
                    ></v-select>           
                
                  
                  </v-col>
                    <v-col cols="12" sm="6" md="5">
                      <v-img :src="Url" 
                        class="image" 
                        width="200" 
                        style="border: 2px solid  #49729E; border-radius: 5px;" >
                      </v-img>  
                    </v-col>
                </v-row>

              </v-container>
            </v-card-text>

          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>


    <template v-slot:item.action="{ item }">
      <v-icon
        color= "blue darken-3"
        small
        class="mr-2"
        @click="cargarinfo(item)"
      >
        edit
      </v-icon>
      <v-icon
        color="red darken-3"
        small
        @click="deleteItem(item)"
      >
        delete
      </v-icon>
    </template>
    
    <template v-slot:no-data>
      <v-btn color="primary" @click="init">Cargar</v-btn>
    </template>
  </v-data-table>
</template>

<script>
  import jsPDF from 'jspdf'
  import autoTable from 'jspdf-autotable'
  import excelMixin from '@/mixins/excelMixin.js';

  var accounting = require("accounting");

  export default {
   mixins:[excelMixin],

    data: () => ({
      dialog: false,
      headers: [
        { text: 'ID', align: 'left',sortable: false, value: 'Id' },
          { text: 'Línea'  , value: 'Nomlin' },
          { text: 'Clave'  , value: 'Numlin' },
          { text: 'Catego id'  , value: 'Numcat' },
          { text: 'Categoría'  , value: 'Nomcat' },
          
          { text: 'Depto ID'   , value: 'Valdep' },
          { text: 'Depto'   , value: 'Nomdep' },
          { text: 'Activo Tienda'  , value: 'statusweb' },
          { text: 'Imagen', value: 'Url'},
          { text: 'Actions' , value: 'action', sortable: false },
      ],

      imagen:'',
      file: [],
      options: {},

      loading: true,

      Mostrar : false,
      search: '',
  
      editedIndex: -1,
        
      lineas: [],
      LineasArr: [],

      Id:'',
      Numlin: '',
      Nomlin: '',
      Numcat:'',
     
      statusweb:'',
      Url:'',

        //////////Deptos Selec
        Nomdepto: [], 
        NomWatchId: [],
        deptos:'',
        Iddepto:'',    // Watch Depto id sele.
        Valdep:'',

        //////////Deptos Selec
        Nomcatego: [], 
        NomWatchIdcat: [],
        catego:'',
        Idcat:'',

        // imagen:'',
        // file: [],
        // imagen1:'',

        rules: [
        value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB!',
        ],

        NomlinRules: [
        v => !!v || 'El nombre es requerido',
        v => v.length <= 30 || 'El nombre debe ser menor de 30 letras',
        ],
        NumlinRules: [
          v => !!v || 'La clave de la Línea es requerida.',
         
        ],
    }),

    computed: {
      // ...mapGetters('login',['getdatosUsuarios']),

      formTitle () {
        return this.editedIndex === -1 ? 'Nueva Línea' : 'Editar Línea'

      },


    },


    mounted () {
      this.getDataFromApi()
        .then(data => {
          // this.desserts = data.items
          // this.totalDesserts = data.total
          this.lineas = data.items
          this.loading= false
          console.log(this.lineas)
        })
    },



   watch: {
      options: {
        handler () {
          this.getDataFromApi()
            .then(data => {
              this.desserts = data.items
              this.totalDesserts = data.total
            })
        },
        deep: true,
      },


      dialog (val) {
        val || this.close()
      },

      deptos() {
        var me = this
        this.NomWatchId.forEach(element => {
          if(this.deptos == element.Nomdep){
            // console.log('Watch detpto ', element.Id)
            me.Iddepto = element.id
            me.Valdep  = element.Valdep
          }
        })
      },

      catego() {
        // console.log(this.Nomdepto)
        var me = this
        this.NomWatchIdcat.forEach(element => {
          // console.log(element)
          if(this.catego == element.Nomcat){
            // console.log('Watch cat id', element.Id)
            me.Idcat = element.id
            me.Numcat  = element.Numcat
            }
        })
      },  
    },
    

    created () {
      // this.init()
      this.getdeptos()
      this.getcatego()
      // this.close()      
    },

    methods: {
      // EXCEL
      exportar(){
        let xls = {
          data:      this.lineas,
          tHeaders : ['ID', 'Línea', 'Clave', 'Catego ID', 'Categoría', 'Depto ID', 'Depto', 'Activo Tienda', 'Imagen'],
          filterVal: ['Id', 'Nomlin', 'Numlin', 'Numcat', 'Nomcat', 'Valdep', 'Nomdep', 'statusweb', 'Url'],
          nomfile :  "Consulta de Líneas"
        }
        // console.log(xls)
         this.exportarXls(xls)
      },

      // FORMATO PDF
      crearPDF() {
        var columns = [

            { title: 'ID',              dataKey: 'Id' },
            { title: 'Línea'  ,         dataKey: 'Nomlin' },
            { title: 'Clave'  ,         dataKey: 'Numlin' },
            { title: 'Catego ID'  ,     dataKey: 'Numcat' },
            { title: 'Categoría'  ,     dataKey: 'Nomcat' },
            { title: 'Depto ID'   ,     dataKey: 'Valdep' },
            { title: 'Depto'   ,        dataKey: 'Nomdep' },
            { title: 'Activo Tienda'  , dataKey: 'statusweb' },
            // { title: 'Imagen',          dataKey: 'Url'},
        ];

        var doc = new jsPDF('p','pt');
        doc.autoTable(columns, this.lineas, {
            styles: {minCellWidth: 50, halign: 'left'},
            columnStyles: {
              0: {cellWidth: 'auto'},
              1: {cellWidth: 'auto'},
              2: {cellWidth: 'auto'},
              3: {cellWidth: 'auto'},
              4: {cellWidth: 'auto'},
              5: {cellWidth: 'auto'},
              6: {cellWidth: 'auto'},
              7: {cellWidth: 'auto'},
              },
            margin: {top: 60},
            didDrawPage: function(data) {
              doc.text("Catálogo de Líneas", 40, 30);
          }
        });
        doc.save('Líneas.pdf');
      },   

      getDataFromApi () {
        this.loading = true

        return new Promise((resolve, reject) => {
           const { sortBy, descending} = this.options

            this.$http.get('auth/api/v1/lineas.list').then( response => {
              // console.log('Lineas ', response.body)
          


              //RECORRER la respuesta convertit a Falso y verdadero
              for (var i = response.body.length - 1; i >= 0; i--) {
                response.body[i].statusweb = !!response.body[i].statusweb
              }
              this.lineas = response.body
              this.LineasArr = response.body
              let items = this.LineasArr
              const total = items.length
              
              if (this.options.sortBy) {
                items = items.sort((a, b) => {
                  const sortA = a[sortBy]
                  const sortB = b[sortBy]

                  if (descending) {
                    if (sortA < sortB) return 1
                    if (sortA > sortB) return -1
                    return 0
                  } else {
                    if (sortA < sortB) return -1
                    if (sortA > sortB) return 1
                    return 0
                  }
                })
              }

              
              

              this.loading= false


              resolve({
                items,
                total,
              })
            }).catch(error => {
              console.log(error)
            }).finally(()  => this.loading = false) 

        })
      },

      // filterOnlyCapsText (value, search, item) {
      //   console.log(search)
      //   return value != null &&
      //     search != null &&
      //     typeof value === 'string' &&
      //     value.toString().toLocaleUpperCase().indexOf(search) !== -1
      // },

      cargar(){
        console.log(this.$refs.pictureInput.internalArrayValue)
        this.getBase64(this.$refs.pictureInput.internalArrayValue[0])
       
      },

      getBase64(file) {
        var me = this
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          me.imagen = reader.result
          // console.log("getBase64",reader.result);
        };
      },

      subirimg(){

        var img = this.$refs.pictureInput.internalArrayValue[0]
        let formDataDomicilio = new FormData();
        // console.log(img.name)
        //se crea el objeto y se le agrega como un apendice el archivo 
        formDataDomicilio.append('file',img);

        console.log(formDataDomicilio)
        this.$http.post('auth/api/v1/imagenes',formDataDomicilio,{ headers: {'Content-Type': 'multipart/form-data'}}).then(function(response){
          console.log(response)

          //Actualizar cargar imagen

            // http://pruebasgo.mx/tienda3/imagenes/datos.jpg
          this.url = "http://pruebasgo.mx/tienda3/imagen/" + img.name
          console.log(this.url)
        })

      },


      getdeptos(){
        // this.loading = true 
        this.$http.get('auth/api/v1/deptos.list').then(response => {
          // console.log('lineas',response.body)

          response.body.forEach(element=>  {
            this.Nomdepto.push(element.Nomdep)
            this.NomWatchId.push(element)
          })
        }).catch(error =>{
              console.log(error)
        }).finally(()  => this.loading = false)
      },

      getcatego(){
        // this.loading = true 
        this.$http.get('auth/api/v1/catego.list').then(response => {
          // console.log('catego',response.body)
          response.body.forEach(element=>  {
            this.Nomcatego.push(element.Nomcat)
            this.NomWatchIdcat.push(element)
          })
        }).catch(error =>{
              console.log(error)
        }).finally(()  => this.loading = false)
      },

      init () {
        //Consultar vendedores
        this.loading = true

        this.$http.get('auth/api/v1/lineas.list').then( response => {
          // console.log('Lineas ', response.body)
      
          //RECORRER la respuesta convertit a Falso y verdadero
          for (var i = response.body.length - 1; i >= 0; i--) {
            response.body[i].statusweb = !!response.body[i].statusweb
          }
          this.lineas = response.body
          this.LineasArr = response.body
        }).catch(error => {
          console.log(error)
        }).finally(()  => this.loading = false) 


      },     
    

      //CARGAR INFO
      cargarinfo (item) {
        //obtner el renlon del arreglo de objetos 
        //recibe el renglon seleccionado {"k": "v", "k": "v"}
        this.editedIndex = this.lineas.indexOf(item)
        // this.editedItem = Object.assign({}, item)


        this.editItem = item 
        // console.log(this.editedItem.Id)
        this.Mostrar = true
        this.dialog = true
     
        //Pasar datos de item al objeto
        this.Id   = item.Id
        this.Numlin = item.Numlin 
        this.Nomlin = item.Nomlin
        this.statusweb = item.statusweb

        //SELECTs
          this.Valdep = item.Valdep
          this.Numcat = item.Numcat
          // console.log("Valdep ", item.Valdep)
          // console.log("item Numcat", item.Numcat)
   
          this.catego = item.Numcat
          // Buscar Numcat en el arreglo y traer el nombre
          var me = this
          for (var i = this.NomWatchIdcat.length - 1; i >= 0; i--) {
            if(this.NomWatchIdcat[i].Numcat == this.Numcat){
              // console.log('Buscar Numcat', this.NomWatchIdcat[i].Id)
              me.Idcat = this.NomWatchIdcat[i].Id
              me.Numcat  = this.NomWatchIdcat[i].Numcat
              me.catego = this.NomWatchIdcat[i].Nomcat
            } 
          }

          // Buscar Valdep en el arreglo y traer el nombre del Depto
          // console.log(this.NomWatchId)
          for (var i = this.NomWatchId.length - 1; i >= 0; i--) {

            if(this.NomWatchId[i].Valdep == this.Valdep){
              // console.log('Cargar Valdep', this.NomWatchId[i].Valdep)
              me.Iddepto = this.NomWatchId[i].Id
              me.Valdep  = this.NomWatchId[i].Valdep
              me.deptos  = this.NomWatchId[i].Nomdep
              me.Nomdep  = this.NomWatchId[i].Nomdep
            } 
          }
        this.Url    = item.Url
        // console.log("Imagen de la foto url ", item.Url)

      },

      deleteItem (item) {
        console.log(item)
        var nIdpromo = item.Id
        console.log (nIdpromo)
        // this.loading = true
        this.$http.delete('auth/api/v1/lineas.delete/' + nIdpromo).then( response => {
          console.log('Promo ', response.body)
          
        }).catch(error => {
          console.log(error)
        }).finally(()  => {
          this.init() 
          // this.loading = false
        }) 
      },


      //Cierra Ventana Modal y limpia el objeto a Editar. 
      close () {
        this.Mostrar= false
        this.dialog = false

        this.Id =''
        this.Numlin= ''
        this.Nomlin= ''
        this.Numcat=''
        this.Valdep=''
        this.statusweb=''
        this.Url=''
        this.Nomdep=null
        this.Nomcat=null
        this.catego = ''
        this.deptos = ''

        this.cargar= ''
        this.pictureInput=''
        this.imagen = ''
        this.$refs.pictureInput=[]
        this.file = []


        // console.log("Limpiando la casa", this.Id)
        setTimeout(() => {
          // this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)


      },

      save () {
        
        //CONVERTIR a 0 y 1
        var nstatus = +this.statusweb

        var nIdLinea= this.Id
        // console.log (this.Id)
        // console.log (this.deptos)
        // console.log (this.Nomdepto)
        // console.log (this.NomWatchId)
        
        var payload = {
          Id:     this.Id,
          Numlin: this.Numlin,
          Nomlin: this.Nomlin,
          Numcat: this.Numcat,
          Valdep: this.Valdep,
          statusweb: nstatus,
          Url:  this.Url,         
        }

        

        console.log(payload)
        // Si ES UNA LINEA Actual 
        if (this.Id !== '' ) {
          // Object.assign(this.vend[this.editedIndex],   this.editedItem)
            console.log ("UPDATE", payload)
            this.$http.put('auth/api/v1/lineas.update/' + nIdLinea, payload).then( response => {
              console.log('Linea.insert', response.body)

            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              this.init() 
              // this.loading = false
            }) 
    
        // SI es un vendedor Nuevo. //API POST
        } else {
            console.log (payload)
            this.$http.post('auth/api/v1/lineas.add', payload).then( response => {
              //console.log('Lineas insert', response.body)
            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              this.init() 
              // this.loading = false
            }) 

        }

            this.loading = true

            // JSON.stringify(obj);

            var cBody = JSON.stringify(payload)

            console.log(cBody)
            var PayEvento = {
              Url :   "http://pruebasgo.mx/tienda3",
              Uri :   "auth/api/v1/lineas.add",
              Verb:   "post",
              Cbody :  cBody,
              Tipo:   "MODLINEA  ",
              Indice: this.numlin, 
              Fecha:  new Date().toISOString().substr(0, 10),
              // Numuser: this.getdatosUsuarios.nomuser,
              Nomuser: 'Manuel',
              Suc :   9
                       
            }


            console.log ("AddEvento", PayEvento)
            this.$http.post('auth/api/v1/eventos.add' , PayEvento).then( response => {
              console.log('Eventos Add', response.body)

            }).catch(error => {
              console.log(error)
            }).finally(()  => {
              //this.init() 
               this.loading = false
            }) 
    

        this.close()

      },

    
      precio (val){
        // console.log("precio", this.editItem)
       // console.log (accounting.formatNumber(val,2))
        this.preciopub = accounting.formatNumber(val,2)
        //console.log("precio formatNumber", this.preciopub)
      },

      descuento (val){
        //console.log (accounting.formatNumber(val,2))
        this.pjedesc = accounting.formatNumber(val,2)
      },
      

    },    
  }
</script>